<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	
	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Add New Account </h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"></h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Account Number</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Account Name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Bank Name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->
										<div class="form-group">
									<label class="control-label col-md-3">Bank Branch</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
								</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Address</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
</div>
</div>
</div>										<div class="form-group">
									<label class="control-label col-md-3">Opening Balance</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>


											<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Add</button>