<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/cards-video.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:09 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Video Cards</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-blue">
			<div class="row">
				<div class="col-sm-6">
					<h1>Video Cards <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Cards</a></li>
						<li><a href="#" class="active">Video Cards</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-6">
				<div class="card card-video card-player-blue">

					<div class="card-heading">
						<video id="videojs1" class="video-js video-js-responsive vjs-default-skin vjs-big-play-centered" controls preload="auto" poster="../../assets/globals/img/picjumbo/10.jpg" data-width="640" data-height="264">
							<source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4">
							<source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm">
							<source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg">
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div><!--.card-heading-->

					<div class="card-body">
						<h4>Responsive &amp; color variation</h4>
						<p>Songs that make you feel. Dynamic. Emotional. No electronic songs.</p>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="card card-video card-player-red">

					<div class="card-heading">
						<video id="videojs2" class="video-js video-js-responsive vjs-default-skin vjs-big-play-centered" controls preload="auto" poster="../assets/16.jpg">
							<source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4">
							<source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm">
							<source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg">
							<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
						</video>
					</div><!--.card-heading-->

					<div class="card-body">
						<h4>Responsive &amp; color variation</h4>
						<p>Songs that make you feel. Dynamic. Emotional. No electronic songs.</p>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-6-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-4">
				<div class="card card-video card-video-modal card-player-purple">
					<div class="bg-image sample-bg-image7"></div>

					<div class="card-body">
						<a href="#" class="play-button-container" data-toggle="modal" data-target="#videojs-modal-1">
							<div class="play-button"></div>
						</a>
					</div><!--.card-body-->

					<!-- In order to use different colors, write modal codes in card window -->
					<!-- If you want the video starts automatically after modal window shown, use data-modal-autoplay="true" in video markup -->
					<div class="modal fade video-js-modal" id="videojs-modal-1" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<video id="videojs3" class="video-js video-js-responsive vjs-default-skin vjs-big-play-centered" controls preload="none" poster="../assets/13.jpg">
										<source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4">
										<source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm">
										<source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg">
										<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
									</video>
								</div>
							</div>
						</div>
					</div><!--.modal-->
					<!-- End of Modal -->

				</div><!--.card-->
			</div><!--.col-md-4-->


			<div class="col-md-4">
				<div class="card card-video card-video-modal card-player-yellow">
					<div class="bg-image sample-bg-image11"></div>

					<div class="card-body">
						<a href="#" class="play-button-container" data-toggle="modal" data-target="#videojs-modal-2">
							<div class="play-button"></div>
						</a>
					</div><!--.card-body-->

					<div class="card-information">
						In modal window, video starts automatically
					</div><!--.card-information-->

					<!-- In order to use different colors, write modal codes in card window -->
					<!-- If you want the video starts automatically after modal window shown, use data-modal-autoplay="true" in video markup -->
					<div class="modal fade video-js-modal" id="videojs-modal-2" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<video id="videojs4" class="video-js video-js-responsive vjs-default-skin vjs-big-play-centered" controls preload="none" poster="../../assets/globals/img/picjumbo/2.jpg" data-modal-autoplay="true">
										<source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4">
										<source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm">
										<source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg">
										<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
									</video>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div><!--.modal-->
					<!-- End of Modal -->

				</div><!--.card-->
			</div><!--.col-md-4-->


			<div class="col-md-4">
				<div class="card card-video card-video-modal card-player-teal">
					<div class="bg-image sample-bg-image5"></div>

					<div class="card-body">
						<a href="#" class="play-button-container" data-toggle="modal" data-target="#videojs-modal-3">
							<div class="play-button"></div>
						</a>
					</div><!--.card-body-->

					<!-- In order to use different colors, write modal codes in card window -->
					<!-- If you want the video starts automatically after modal window shown, use data-modal-autoplay="true" in video markup -->
					<div class="modal fade video-js-modal" id="videojs-modal-3" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<video id="videojs5" class="video-js video-js-responsive vjs-default-skin vjs-big-play-centered" controls preload="none" poster="../../assets/globals/img/picjumbo/5.jpg">
										<source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4">
										<source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm">
										<source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg">
										<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
									</video>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div><!--.modal-->
					<!-- End of Modal -->

				</div><!--.card-->
			</div><!--.col-md-4-->
		</div><!--.row-->

		<div class="row full-video card-player-light-blue no-gutters">
			<div class="col-md-8">
				<video id="playlist" class="video-js vjs-default-skin vjs-big-play-centered" controls data-setup="" ></video>
			</div><!--.col-md-8-->

			<div class="col-md-4">
				<div class="playlist-heading">Web Development Tutorials</div>

				<ul class="video-playlist" style="max-height: 480px; overflow-y: auto;">
				</ul>
			</div><!--.col-md-4-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="card card-video card-player-orange">

					<div class="card-heading">

						<video id="youtube" class="video-js video-js-responsive vjs-default-skin vjs-big-play-centered" controls preload="none" data-width="640" data-height="360" data-setup='{ "techOrder": ["youtube"], "src": "http://www.youtube.com/watch?v=Q8TXgCzxEnw" }'></video>

					</div><!--.card-heading-->

					<div class="card-body">
						<h4>Youtube Video Support</h4>
						<p>YouTube playback technology for the Video.js player.</p>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="card card-video">

					<div class="card-heading">
						<video id="videojs6" class="video-js video-js-responsive vjs-sublime-skin" controls preload="auto" poster="../assets16.jpg">
							<source src="http://video-js.zencoder.com/oceans-clip.mp4" type="video/mp4">
							<source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm">
							<source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg">
						</video>
					</div><!--.card-heading-->

					<div class="card-body">
						<h4>Theme Support</h4>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-6-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-blue">
					<a href="cards-audio.html">
						<span class="state">Cards</span>
						<span>Audio Cards</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-general.html">
						<span class="state">UI Elements</span>
						<span>General</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		WidgetVideo.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/cards-video.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:20 GMT -->
</html>