<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/cards-image.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:26:59 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Image Cards</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-blue">
			<div class="row">
				<div class="col-sm-6">
					<h1>Image Cards <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Cards</a></li>
						<li><a href="#" class="active">Image Cards</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-6">
				<div class="card card-event">
					<div class="card-heading bg-image sample-bg-image12">
					</div><!--.card-heading-->

					<div class="card-body">
						<div class="calendar">
							<div class="month">November</div>
							<div class="date">27</div>
						</div><!--.calendar-->
						<h4>Young Professionals London</h4>
						<p>A Social Networking group with an International mix of Young Professionals interested in meeting other like minded people for friendship / networking / partying at exclusive Members Clubs, Lounges &amp; Bars. Recommended age range is 21+.</p>
					</div><!--.card-body-->

					<div class="card-footer">
						<div class="btn-group btn-merged btn-group-sm pull-right">
							<button type="button" class="btn btn-green btn-flat">Attend</button>
							<button type="button" class="btn btn-orange btn-flat">Maybe</button>
							<button type="button" class="btn btn-red btn-flat">Decline</button>
						</div>
					</div><!--.card-footer-->
				</div><!--.card-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="card card-event">
					<div class="card-heading bg-image sample-bg-image14">
					</div><!--.card-heading-->

					<div class="card-body">
						<div class="calendar">
							<div class="month">December</div>
							<div class="date">03</div>
						</div><!--.calendar-->
						<h4>Remote Working Meetup</h4>
						<p>We're talking about tools, ideas and best practice to enable a flexible way of work. The latest trends in professional project management, insights in personal experiences and how to do it right. Be active. Be participative. Let's push things forward!</p>
					</div><!--.card-body-->

					<div class="card-footer">
						<ul class="users pull-left">
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa"><img src="../../assets/globals/img/faces/1.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman"><img src="../../assets/globals/img/faces/2.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla Olsen"><img src="../../assets/globals/img/faces/3.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia Gagné"><img src="../../assets/globals/img/faces/4.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Nicoline Thomsen"><img src="../../assets/globals/img/faces/5.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Christian Roth"><img src="../../assets/globals/img/faces/6.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas Verbeke"><img src="../../assets/globals/img/faces/7.jpg" alt=""></a></li>
						</ul>
						<button type="button" class="btn btn-sm btn-green btn-flat pull-right">Attend</button>
					</div><!--.card-footer-->
				</div><!--.card-->
			</div><!--.col-md-6-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-3">
				<div class="card card-deep-purple card-image bg-image sample-bg-image4">

					<div class="context">
						<span class="text-title">Card</span>
					</div>

				</div><!--.card-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="card card-image card-light-blue bg-image bg-opaque8 sample-bg-image6">

					<div class="context has-action-left has-action-right">

						<div class="tile-action">
							<i class="ion-gear-b"></i>
						</div>

						<div class="tile-content">
							<span class="text-title">Two line</span>
							<span class="text-subtitle">Support text</span>
						</div>

						<div class="tile-action right">
							<i class="ion-search"></i>
						</div>

					</div>

				</div><!--.card-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="card tile card-image card-black bg-image bg-opaque8 sample-bg-image7">

					<div class="context has-action-left has-action-right">

						<div class="tile-action">
							<i class="ion-gear-b"></i>
						</div>

						<div class="tile-content">
							<span class="text-title">Tiles</span>
							<span class="text-subtitle">Cards turns into tiles</span>
						</div>

						<div class="tile-action right">
							<i class="ion-search"></i>
						</div>

					</div>

				</div><!--.card-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="card card-black card-image bg-image bg-opaque6 sample-bg-image8">

					<div class="card-action">
						<a href="javascript:;" data-toggle="fake-reload"></a>
					</div><!--.card-action-->

					<div class="context">
						<span class="text-title">Action Buttons</span>
					</div>

				</div><!--.card-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-4">
				<div class="card card-news card-shadow">

					<div class="card-heading bg-amber bg-image bg-opaque7 sample-bg-image5">
						<a href="#" class="author"><img src="../../assets/globals/img/faces/20.jpg" alt=""></a>
						<h3 class="card-title">Solutions <small>1h ago</small></h3><!--.card-title-->
					</div><!--.card-heading-->

					<div class="card-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize...</p>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-news card-black bg-image bg-opaque6 sample-bg-image14">

					<div class="card-heading">
						<a href="#" class="author"><img src="../../assets/globals/img/faces/24.jpg" alt=""></a>
						<h3 class="card-title"><i class="heading-icon fa fa-life-ring"></i> Solutions <small>1h ago</small></h3><!--.card-title-->
					</div><!--.card-heading-->

					<div class="card-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize...</p>
					</div><!--.card-body-->

					<div class="card-footer">
						<ul class="action">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-comment"></i></a></li>
						</ul>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-news-more">
					<div class="card-heading bg-image bg-opaque5 sample-bg-image29">
						<div class="heading-content">
							<span class="badge">NEWS</span>
							<span class="headline">Quickly maximize timely deliverables</span>
							<button class="btn btn-floating btn-pink toggle-card-news-more"><i class="ion-android-create"></i></button>
						</div>
					</div><!--.card-heading-->
					<div class="card-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
						<p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
					</div><!--.card-body-->
				</div><!--.card-->
			</div><!--.col-md-4-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-3">
				<div class="card card-iconic card-green">
					<div class="card-full-icon ion-bag"></div>

					<div class="card-body text-left">
						<i class="card-icon ion-bag"></i>
						<h4>Shopping Bag</h4>
						<p>Shopping bags are medium sized bags.</p>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-3-->

			<div class="col-md-3">
				<div class="card card-iconic card-indigo">
					<div class="card-full-icon ion-beer"></div>

					<div class="card-body">
						<i class="card-icon ion-beer"></i>
						<h4>Beer</h4>
						<p>Beer is an alcoholic beverage produced...</p>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-3-->

			<div class="col-md-3">
				<div class="card card-iconic card-grey">
					<div class="card-full-icon ion-clock"></div>

					<div class="card-body">
						<i class="card-icon ion-clock"></i>
						<h4>Clock</h4>
						<p>A clock is an instrument to indicate, keep...</p>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-3-->

			<div class="col-md-3">
				<div class="card card-iconic card-red">
					<div class="card-full-icon ion-lock-combination"></div>

					<div class="card-body text-right">
						<i class="card-icon ion-lock-combination"></i>
						<h4>Speedometer</h4>
						<p>A speedometer or a speed meter is a gauge.</p>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-3-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-4">
				<div class="card card-quote card-black bg-image bg-opaque5 sample-bg-image9">

					<div class="card-body text-color-white">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
							<p>Try to make all your work look like something Apple would do.</p>
							<i class="fa fa-quote-right"></i>
						</div><!--.quote-->
						<a href="#" class="author">Ben Garratt</a>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-quote card-indigo bg-image bg-opaque8 sample-bg-image10">

					<div class="card-body text-color-white">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
							<p>Make an iOS weather app. Because you can never have enough!</p>
							<i class="fa fa-quote-right"></i>
						</div><!--.quote-->
						<a href="#" class="author">Frida Ekman</a>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-quote card-red bg-image bg-opaque7 sample-bg-image11">

					<div class="card-body text-color-white">
						<div class="quote">
							<i class="fa fa-quote-left"></i>
							<p>Take an angled photo of your screen. All the cool kids do it.</p>
							<i class="fa fa-quote-right"></i>
						</div><!--.quote-->
						<a href="#" class="author">Fredrik Wahlgren</a>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-4-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-4">
				<div class="card card-user card-user-purple">

					<div class="card-heading heading-left">
						<img src="../../assets/globals/img/faces/18.jpg" alt="" class="user-image">
						<h3 class="card-title text-color-white"><a href="#">Joshua Bowman</a></h3>
						<div class="subhead">Designer at <a href="#">TeamFox</a></div>
					</div><!--.card-heading-->

					<div class="card-body">
						<p>I'm Joshua, a designer from Newyork &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
						<ul class="social-links">
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="pull-left"><small>8 friends in common</small></a>
						<button class="btn btn-xs btn-purple pull-right">Add as a Friend</button>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-user card-user-red">

					<div class="card-heading heading-center text-color-white">
						<img src="../../assets/globals/img/faces/13.jpg" alt="" class="user-image">
						<h3 class="card-title"><a href="#">Mariana Barboza</a></h3>
						<div class="subhead">Front-end Engineer at <a href="#">TeamFox</a></div>
					</div><!--.card-heading-->

					<div class="card-body">
						<p>I'm Mariana, a front-end developer from Brazil &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
						<ul class="social-links">
							<li><a href="#"><i class="fa fa-github"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="pull-left"><small>8 friends in common</small></a>
						<button class="btn btn-xs btn-red pull-right">Add as a Friend</button>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-user">

					<div class="card-heading heading-full">
						<div class="user-image sample-member9"></div>
						<h3 class="card-title"><a href="#">Aleksio Prifti</a></h3>
						<div class="subhead">Support at <a href="#">TeamFox</a></div>
					</div><!--.card-heading-->

					<div class="card-body">
						<p>I'm Aleksio, a support engineer from Albania &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
						<ul class="social-links">
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="pull-left"><small>8 friends in common</small></a>
						<button class="btn btn-xs btn-flat pull-right">Add as a Friend</button>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-4">
				<div class="card card-meal card-meal-green card-square card-shadow">
					<div class="card-heading">
						<h3 class="card-title">French Cooking</h3>
						<div class="card-subhead">
							By <a href="#">Richard Sanders</a>
						</div><!--.card-subhead-->
					</div><!--.card-heading-->
					<div class="card-body">
						<div class="image">
							<a href="#"><img src="../../assets/globals/img/picjumbo/21.jpg" alt=""></a>
						</div><!--.image-->
						<ul class="users">
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa"><img src="../../assets/globals/img/faces/1.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman"><img src="../../assets/globals/img/faces/2.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla Olsen"><img src="../../assets/globals/img/faces/3.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia Gagné"><img src="../../assets/globals/img/faces/4.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Nicoline Thomsen"><img src="../../assets/globals/img/faces/5.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Christian Roth"><img src="../../assets/globals/img/faces/6.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas Verbeke"><img src="../../assets/globals/img/faces/7.jpg" alt=""></a></li>
						</ul>
					</div><!--.card-body-->
					<div class="card-footer">
						<ul>
							<li>1,378 Students</li>
							<li><a href="#">Join Them</a></li>
						</ul>
					</div><!--.card-footer-->
				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-meal card-meal-indigo card-square card-hover-shadow">
					<div class="card-heading">
						<h3 class="card-title">Nutritious Breakfast</h3>
						<div class="card-subhead">
						 By <a href="#">Mary Chapman</a>
						</div><!--.card-subhead-->
					</div><!--.card-heading-->
					<div class="card-body">
						<div class="image">
							<a href="#"><img src="../../assets/globals/img/picjumbo/22.jpg" alt=""></a>
						</div><!--.image-->
						<ul class="users">
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa"><img src="../../assets/globals/img/faces/1.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman"><img src="../../assets/globals/img/faces/2.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla Olsen"><img src="../../assets/globals/img/faces/3.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia Gagné"><img src="../../assets/globals/img/faces/4.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Nicoline Thomsen"><img src="../../assets/globals/img/faces/5.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Christian Roth"><img src="../../assets/globals/img/faces/6.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas Verbeke"><img src="../../assets/globals/img/faces/7.jpg" alt=""></a></li>
						</ul>
					</div><!--.card-body-->
					<div class="card-footer">
						<ul>
							<li>999 Students</li>
							<li><a href="#">Join Them</a></li>
						</ul>
					</div><!--.card-footer-->
				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-meal card-meal-orange card-square card-shadow">
					<div class="card-heading">
						<h3 class="card-title">Natural Turkish Cuisine</h3>
						<div class="card-subhead">
							By <a href="#">Melis Özkan</a>
						</div><!--.card-subhead-->
					</div><!--.card-heading-->
					<div class="card-body">
						<div class="image">
							<a href="#"><img src="../../assets/globals/img/picjumbo/27.jpg" alt=""></a>
						</div><!--.image-->
						<ul class="users">
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Emanuele Costa"><img src="../../assets/globals/img/faces/1.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Sjors Huisman"><img src="../../assets/globals/img/faces/2.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Isla Olsen"><img src="../../assets/globals/img/faces/3.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Lydia Gagné"><img src="../../assets/globals/img/faces/4.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Nicoline Thomsen"><img src="../../assets/globals/img/faces/5.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Christian Roth"><img src="../../assets/globals/img/faces/6.jpg" alt=""></a></li>
							<li><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Jonas Verbeke"><img src="../../assets/globals/img/faces/7.jpg" alt=""></a></li>
						</ul>
					</div><!--.card-body-->
					<div class="card-footer">
						<ul>
							<li>1,378 Students</li>
							<li><a href="#">Join Them</a></li>
						</ul>
					</div><!--.card-footer-->
				</div><!--.card-->
			</div><!--.col-md-4-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="card card-dashboard-info card-blue">
					<div class="card-body">
						<div class="card-icon"><i class="fa fa-usd"></i></div><!--.card-icon-->
						<h4>Revenue</h4>
						<p class="result">$10,786</p>
						<small><i class="fa fa-caret-up"></i> Total balance is $23,591</small>
					</div>
				</div><!--.card-->
			</div><!--.col-md-3-->
			<div class="col-md-3 col-sm-6">
				<div class="card card-dashboard-info card-green">
					<div class="card-body">
						<div class="card-icon"><i class="fa fa-calculator"></i></div><!--.card-icon-->
						<h4>Open Invoices</h4>
						<p class="result">26</p>
						<small>Waiting to send</small>
					</div>
				</div><!--.card-->
			</div><!--.col-md-3-->
			<div class="col-md-3 col-sm-6">
				<div class="card card-dashboard-info card-purple">
					<div class="card-body">
						<div class="card-icon"><i class="fa fa-thumbs-o-up"></i></div><!--.card-icon-->
						<h4>New Subscribers</h4>
						<p class="result">183</p>
						<small><i class="fa fa-caret-up"></i> 9814 subscribers totally</small>
					</div>
				</div><!--.card-->
			</div><!--.col-md-3-->
			<div class="col-md-3 col-sm-6">
				<div class="card card-dashboard-info card-orange">
					<div class="card-body">
						<div class="card-icon"><i class="fa fa-university"></i></div><!--.card-icon-->
						<h4>Past Due</h4>
						<p class="result">$3,153</p>
						<small>Status is profitable</small>
					</div>
				</div><!--.card-->
			</div><!--.col-md-3-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-indigo">
					<a href="index-2.html">
						<span class="state">Dashboard</span>
						<span>Homepage</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-blue">
					<a href="cards-audio.html">
						<span class="state">Cards</span>
						<span>Audio Cards</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/cards-image.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:09 GMT -->
</html>