<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/cards-audio.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:09 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Audio Cards</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-blue">
			<div class="row">
				<div class="col-sm-6">
					<h1>Audio Cards <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Cards</a></li>
						<li><a href="#" class="active">Audio Cards</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="note note-info note-left-striped">
					<h4>Audio Files</h4>
					<p>Musics by <a href="http://audionautix.com/" target="_blank">AudioNautix</a> released under CC 3.0</p>
				</div><!--.note-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-4">
				<div class="card card-music card-music-single card-black card-player-purple bg-image bg-opaque8 sample-bg-image6">
					<audio src="http://teamfox.co/audionautix/5CentsBack.mp3" preload="none" class="audiojs-single"></audio>

					<div class="card-heading">
						<button class="btn btn-heart"><i class="fa fa-heart"></i></button>

						<div class="song-container">
							<p class="artist">Jason Shaw</p>
							<p class="song">Default Progress Bar</p>
						</div><!--.song-container-->
					</div><!--.card-heading-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-music card-music-single card-music-bar-full card-music-centered card-black card-player-red bg-image bg-opaque8 sample-bg-image11">
					<audio src="http://teamfox.co/audionautix/ColdMorning.mp3" preload="none" class="audiojs-single"></audio>

					<div class="card-heading">
						<button class="btn btn-heart"><i class="fa fa-heart"></i></button>
						<div class="song-container text-color-white">
							<p class="artist">Jason Shaw</p>
							<p class="song">Full Progress Bar</p>
						</div><!--.song-container-->
					</div><!--.card-heading-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-music card-music-single card-music-bar-top card-player-orange card-light-blue bg-opaque8 bg-image sample-bg-image17">
					<audio src="http://teamfox.co/audionautix/Crushin.mp3" preload="none" class="audiojs-single"></audio>

					<div class="card-heading">
						<button class="btn btn-heart"><i class="fa fa-heart"></i></button>
						<div class="song-container text-color-white">
							<p class="artist">Jason Shaw</p>
							<p class="song">Progress Bar on Top</p>
						</div><!--.song-container-->
					</div><!--.card-heading-->

				</div><!--.card-->
			</div><!--.col-md-4-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="card card-music card-music-list card-black card-player-green">

					<div class="card-heading bg-image bg-opaque8 sample-bg-image15">

						<audio preload="none" class="audiojs-list"></audio>

						<button class="btn btn-heart"><i class="fa fa-heart"></i></button>

						<div class="song-container text-color-white">
							<p class="artist"></p>
							<p class="song"></p>
						</div><!--.song-container-->

						<button class="btn btn-list-songs" data-toggle="list"><i class="fa fa-list-ul icon-list"></i><i class="fa fa-times icon-close"></i></button>
						<ul class="list-songs">
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/DarkMystery.mp3" data-artist="Jason Shaw" data-song="Dark Mystery"><i class="fa fa-fw"></i> Dark Mystery</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/Essence.mp3" data-artist="Jason Shaw" data-song="Essence"><i class="fa fa-fw"></i> Essence</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/FatCaps.mp3" data-artist="Jason Shaw" data-song="Fat Caps"><i class="fa fa-fw"></i> Fat Caps</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/GoNotGently.mp3" data-artist="Jason Shaw" data-song="Go Not Gently"><i class="fa fa-fw"></i> Go Not Gently</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/HardBounce.mp3" data-artist="Jason Shaw" data-song="Hard Bounce"><i class="fa fa-fw"></i> Hard Bounce</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/IceCold.mp3" data-artist="Jason Shaw" data-song="Ice Cold"><i class="fa fa-fw"></i> Ice Cold</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/LineOfFire.mp3" data-artist="Jason Shaw" data-song="Line Of Fire"><i class="fa fa-fw"></i> Line Of Fire</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/MarathonMan.mp3" data-artist="Jason Shaw" data-song="Marathon Man"><i class="fa fa-fw"></i> Marathon Man</a>
							</li>
						</ul>
					</div><!--.card-heading-->

					<div class="card-body">
						<h4>Narcoleptic Dreams</h4>
						<p>Songs that make you feel. Dynamic. Emotional. No electronic songs.</p>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="card card-music card-music-list card-music-bar-full card-music-centered card-blue-grey card-player-pink">

					<div class="card-heading bg-image bg-opaque5 sample-bg-image19">

						<audio preload="none" class="audiojs-list"></audio>

						<button class="btn btn-heart"><i class="fa fa-heart"></i></button>

						<div class="song-container text-color-white">
							<p class="artist"></p>
							<p class="song"></p>
						</div><!--.song-container-->

						<button class="btn btn-list-songs" data-toggle="list"><i class="fa fa-list-ul icon-list"></i><i class="fa fa-times icon-close"></i></button>
						<ul class="list-songs">
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/Essence.mp3" data-artist="Jason Shaw" data-song="Essence"><i class="fa fa-fw"></i> Essence</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/DarkMystery.mp3" data-artist="Jason Shaw" data-song="Dark Mystery"><i class="fa fa-fw"></i> Dark Mystery</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/FatCaps.mp3" data-artist="Jason Shaw" data-song="Fat Caps"><i class="fa fa-fw"></i> Fat Caps</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/GoNotGently.mp3" data-artist="Jason Shaw" data-song="Go Not Gently"><i class="fa fa-fw"></i> Go Not Gently</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/HardBounce.mp3" data-artist="Jason Shaw" data-song="Hard Bounce"><i class="fa fa-fw"></i> Hard Bounce</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/IceCold.mp3" data-artist="Jason Shaw" data-song="Ice Cold"><i class="fa fa-fw"></i> Ice Cold</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/LineOfFire.mp3" data-artist="Jason Shaw" data-song="Line Of Fire"><i class="fa fa-fw"></i> Line Of Fire</a>
							</li>
							<li>
								<a href="#" data-src="http://teamfox.co/audionautix/MarathonMan.mp3" data-artist="Jason Shaw" data-song="Marathon Man"><i class="fa fa-fw"></i> Marathon Man</a>
							</li>
						</ul>
					</div><!--.card-heading-->

					<div class="card-body">
						<h4>Peace &amp; Quite</h4>
						<p>Sometimes you just need a bit of peace and quiet. I listen to these at home.</p>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-6-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-4">
				<div class="card card-music card-music-basic card-pink card-player-pink">
					<audio src="http://teamfox.co/audionautix/5CentsBack.mp3" preload="none" class="audiojs-single"></audio>

					<div class="card-heading">
						<div class="song-container text-color-white">
							<p class="artist">Jason Shaw</p>
							<p class="song">Default Progress Bar</p>
						</div><!--.song-container-->
					</div><!--.card-heading-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-music card-music-basic card-music-bar-full card-purple card-player-purple">
					<audio src="http://teamfox.co/audionautix/ColdMorning.mp3" preload="none" class="audiojs-single"></audio>

					<div class="card-heading">
						<div class="song-container text-color-white">
							<p class="artist">Jason Shaw</p>
							<p class="song">Full Progress Bar</p>
						</div><!--.song-container-->
					</div><!--.card-heading-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-music card-music-basic card-music-bar-top card-teal card-player-teal">
					<audio src="http://teamfox.co/audionautix/Crushin.mp3" preload="none" class="audiojs-single"></audio>

					<div class="card-heading">
						<div class="song-container text-color-white">
							<p class="artist">Jason Shaw</p>
							<p class="song">Progress Bar on Top</p>
						</div><!--.song-container-->
					</div><!--.card-heading-->

				</div><!--.card-->
			</div><!--.col-md-4-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-blue">
					<a href="cards-image.html">
						<span class="state">Cards</span>
						<span>Image Cards</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-blue">
					<a href="cards-video.html">
						<span class="state">Cards</span>
						<span>Video Cards</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		WidgetAudio.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/cards-audio.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:09 GMT -->
</html>