<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/charts-chartjs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:59 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - ChartJS</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-deep-purple">
			<div class="row">
				<div class="col-sm-6">
					<h1>ChartJS <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Charts</a></li>
						<li><a href="#" class="active">ChartJS</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>LINE CHART</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<canvas class="chartjs-line chartjs-charts" width="320" height="280"></canvas>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BAR CHART</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<canvas class="chartjs-bar chartjs-charts" width="320" height="280"></canvas>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>RADAR CHART</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<canvas class="chartjs-radar chartjs-charts" width="320" height="280"></canvas>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>POLAR AREA CHART</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<canvas class="chartjs-polar chartjs-charts" width="320" height="280"></canvas>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PIE CHART</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<canvas class="chartjs-pie chartjs-charts" width="320" height="280"></canvas>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>DOUGHNUT CHART</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<canvas class="chartjs-doughnut chartjs-charts" width="320" height="280"></canvas>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-deep-purple">
					<a href="charts-c3.html">
						<span class="state">Charts</span>
						<span>C3 Charts</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-deep-purple">
					<a href="charts-flot.html">
						<span class="state">Charts</span>
						<span>Flot Charts</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		ChartsChartJs.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/charts-chartjs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:29:01 GMT -->
</html>