<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/charts-flot.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:29:01 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Flot Charts</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-deep-purple">
			<div class="row">
				<div class="col-sm-6">
					<h1>Flot Charts <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Charts</a></li>
						<li><a href="#" class="active">Flot Charts</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BASIC</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-basic flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>CATEGORIES &amp; TEXTUAL DATA</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-categories flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SETTING OPTIONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-options flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>STACKING BARS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-stacking-bars flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>STACKING LINES</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-stacking-lines flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>REAL TIME</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-realtime flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TOGGLE SERIES</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="clearfix">
							<div class="flot-toggle flot-charts" style="float:left; width: 80%;"></div>
							<p id="choices" style="float:right; width: 20%;"></p>
						</div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PIE CHART DEFAULT</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-default flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PIE CHART WITHOUT LEGEND</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-without-legend flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PIE CHART LABEL FORMATTER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-label-formatter flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PIE CHART LABEL RADIUS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-label-radius flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PIE CHART LABEL STYLE 1</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-label-style1 flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PIE CHART LABEL STYLE 2</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-label-style2 flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PIE CHART HIDDEN LABEL</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-hidden-labels flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PIE CHART COMBINED SLICE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-combined-slice flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>RECTANGULAR PIE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-rectangular flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TILTED PIE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-tilted flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>DONUT HOLE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-donut flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>INTERACTIVITY</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="flot-pie-interactivity flot-charts"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-deep-purple">
					<a href="charts-chartjs.html">
						<span class="state">Charts</span>
						<span>ChartJS</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-deep-purple">
					<a href="charts-knob.html">
						<span class="state">Charts</span>
						<span>Knob Charts</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		ChartsFlot.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/charts-flot.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:29:11 GMT -->
</html>