<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/charts-knob.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:29:11 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Knob Charts</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-deep-purple">
			<div class="row">
				<div class="col-sm-6">
					<h1>Knob Charts <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Charts</a></li>
						<li><a href="#" class="active">Knob Charts</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-4">

				<div class="panel red">
					<div class="panel-heading">
						<div class="panel-title"><h4>DISABLE DISPLAY INPUT</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="knob-container">
							<input class="knob" data-displayInput="false" data-fgColor="red" value="35">
						</div><!--.knob-container-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-4-->
			<div class="col-md-4">

				<div class="panel pink">
					<div class="panel-heading">
						<div class="panel-title"><h4>X CURSOR MODE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="knob-container">
							<input class="knob" data-cursor="true" data-fgColor="pink" data-thickness=".3" value="29">
						</div><!--.knob-container-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-4-->
			<div class="col-md-4">

				<div class="panel purple">
					<div class="panel-heading">
						<div class="panel-title"><h4>DISPLAY PREVIOUS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="knob-container">
							<input class="knob" data-min="-100" data-fgColor="purple" data-displayPrevious="true" value="44">
						</div><!--.knob-container-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-4-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-4">

				<div class="panel deep-purple">
					<div class="panel-heading">
						<div class="panel-title"><h4>ANGLE OFFSET &amp; ARC</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="knob-container">
							<input class="knob" data-angleOffset="-125" data-fgColor="deep_purple" data-angleArc="250" value="35">
						</div><!--.knob-container-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-4-->

			<div class="col-md-4">

				<div class="panel indigo">
					<div class="panel-heading">
						<div class="panel-title"><h4>ROUND LINECAP</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="knob-container">
							<input class="knob" data-linecap="round" data-fgColor="indigo" value="35">
						</div><!--.knob-container-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-4-->

			<div class="col-md-4">

				<div class="panel blue">
					<div class="panel-heading">
						<div class="panel-title"><h4>STEP CUSTOMIZATION</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="knob-container">
							<input class="knob" data-min="-150" data-fgColor="blue" data-displayPrevious="true" data-max="150" data-step="10" value="-50">
						</div><!--.knob-container-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-4-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel yellow">
					<div class="panel-heading">
						<div class="panel-title"><h4>TRON SKIN</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="knob-container">
							<input class="knob" data-displayPrevious="true" data-fgColor="yellow" data-skin="tron" data-cursor="true" value="75" data-thickness=".3">
						</div><!--.knob-container-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<div class="panel cyan">
					<div class="panel-heading">
						<div class="panel-title"><h4>TRON SKIN</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="knob-container">
							<input class="knob" data-angleOffset="180" data-fgColor="cyan" data-skin="tron" data-thickness=".05" value="35">
						</div><!--.knob-container-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-deep-purple">
					<a href="charts-flot.html">
						<span class="state">Charts</span>
						<span>Flot Charts</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-purple">
					<a href="maps-google.html">
						<span class="state">Maps</span>
						<span>Google Maps</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		ChartsKnob.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/charts-knob.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:29:11 GMT -->
</html>