<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/components-tree-view.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:57 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Tree View</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-cyan">
			<div class="row">
				<div class="col-sm-6">
					<h1>Tree View <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Components</a></li>
						<li><a href="#" class="active">Tree View</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TREE VIEW</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Default Tree</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="treejs treejs-simple">
									<ul>
										<li>Root node
											<ul>
												<li data-jstree='{ "selected" : true }'>
													<a href="#">Initially selected</a>
												</li>
												<li data-jstree='{ "icon" : "fa fa-cloud" }'>Custom icon (ion icon)</li>
												<li data-jstree='{ "opened" : true }'>Initially open
													<ul>
														<li data-jstree='{ "disabled" : true }'>Disabled Node</li>
														<li data-jstree='{ "type" : "file" }'>Another node</li>
														<li data-jstree='{ "type" : "file" }'>Third node</li>
													</ul>
												</li>
												<li data-jstree='{ "icon" : "fa fa-pie-chart" }'>Custom icon (ion icon)</li>
											</ul>
										</li>
										<li data-jstree='{ "type" : "file" }'>
											<a href="http://www.themeforest.net/" target="_blank">Clickable link node</a>
										</li>
									</ul>
								</div><!--.treejs-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Context View</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="treejs treejs-context">
								</div><!--.treejs-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Drag &amp; Drop</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="treejs treejs-dragdrop">
								</div><!--.treejs-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Checkable</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="treejs treejs-checkable">
								</div><!--.treejs-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Sortable</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="treejs treejs-sortable">
								</div><!--.treejs-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Ajax Tree</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="treejs treejs-ajax">
								</div><!--.treejs-->

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-cyan">
					<a href="components-sound-library.html">
						<span class="state">Components</span>
						<span>Sound Library</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-pink">
					<a href="grids-bootstrap.html">
						<span class="state">Grids</span>
						<span>Bootstrap Grids</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		TreeView.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/components-tree-view.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:58 GMT -->
</html>