<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/components-sound-library.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:57 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Sound Library</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-cyan">
			<div class="row">
				<div class="col-sm-6">
					<h1>Sound Library <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Components</a></li>
						<li><a href="#" class="active">Sound Library</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SOUND LIBRARY</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table class="table table-hover table-striped">
						<tbody>
							<tr>
								<td>Beer can</td>
								<td><a class="btn btn-primary ionsound-beer-can">Play Sound</a></td>
								<td>Bell ring</td>
								<td><a class="btn btn-primary ionsound-bell-ring">Play Sound</a></td>
							</tr>
							<tr>
								<td>Branch break</td>
								<td><a class="btn btn-primary ionsound-branch-break">Play Sound</a></td>
								<td>Button click</td>
								<td><a class="btn btn-primary ionsound-button-click">Play Sound</a></td>
							</tr>
							<tr>
								<td>Button click on</td>
								<td><a class="btn btn-primary ionsound-button-click-on">Play Sound</a></td>
								<td>Button push</td>
								<td><a class="btn btn-primary ionsound-button-push">Play Sound</a></td>
							</tr>

							<tr>
								<td>Button tiny</td>
								<td><a class="btn btn-primary ionsound-button-tiny">Play Sound</a></td>
								<td>Camera flashing</td>
								<td><a class="btn btn-primary ionsound-camera-flashing">Play Sound</a></td>
							</tr>
							<tr>
								<td>Camera flashing 2</td>
								<td><a class="btn btn-primary ionsound-camera-flashing-2">Play Sound</a></td>
								<td>CD tray</td>
								<td><a class="btn btn-primary ionsound-cd-tray">Play Sound</a></td>
							</tr>
							<tr>
								<td>Computer error</td>
								<td><a class="btn btn-primary ionsound-computer-error">Play Sound</a></td>
								<td>Door bell</td>
								<td><a class="btn btn-primary ionsound-door-bell">Play Sound</a></td>
							</tr>

							<tr>
								<td>Door bump</td>
								<td><a class="btn btn-primary ionsound-door-bump">Play Sound</a></td>
								<td>Glass</td>
								<td><a class="btn btn-primary ionsound-glass">Play Sound</a></td>
							</tr>
							<tr>
								<td>Keyboard desk</td>
								<td><a class="btn btn-primary ionsound-keyboard-desk">Play Sound</a></td>
								<td>Light bulb breaking</td>
								<td><a class="btn btn-primary ionsound-light-bulb">Play Sound</a></td>
							</tr>
							<tr>
								<td>Metal plate</td>
								<td><a class="btn btn-primary ionsound-metal-plate">Play Sound</a></td>
								<td>Metal plate 2</td>
								<td><a class="btn btn-primary ionsound-metal-plate-2">Play Sound</a></td>
							</tr>

							<tr>
								<td>Pop cork</td>
								<td><a class="btn btn-primary ionsound-pop-cork">Play Sound</a></td>
								<td>Snap</td>
								<td><a class="btn btn-primary ionsound-snap">Play Sound</a></td>
							</tr>
							<tr>
								<td>Staple gun</td>
								<td><a class="btn btn-primary ionsound-staple-gun">Play Sound</a></td>
								<td>Tap</td>
								<td><a class="btn btn-primary ionsound-tap">Play Sound</a></td>
							</tr>
							<tr>
								<td>Water droplet</td>
								<td><a class="btn btn-primary ionsound-water-droplet">Play Sound</a></td>
								<td>Water droplet 2</td>
								<td><a class="btn btn-primary ionsound-water-droplet-2">Play Sound</a></td>
							</tr>
							<tr>
								<td>Water droplet 3</td>
								<td><a class="btn btn-primary ionsound-water-droplet-3">Play Sound</a></td>
								<td></td>
								<td></td>
							</tr>

						</tbody></table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-cyan">
					<a href="components-session-timeout.html">
						<span class="state">Components</span>
						<span>Session Timeout</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-cyan">
					<a href="components-tree-view.html">
						<span class="state">Components</span>
						<span>Tree View</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		SoundPlayer.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/components-sound-library.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:57 GMT -->
</html>