<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Form Layouts</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Form Layouts <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">Layouts</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>DEFAULT BUTTON POSITION</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Full name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Email address</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="email" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Password</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="password" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Status</label>
									<div class="col-md-5">
										<div class="radioer">
											<input type="radio" name="radioOption" id="radioColor1a" value="option1" checked="checked">
											<label for="radioColor1a">Active</label>
										</div>
										<div class="radioer">
											<input type="radio" name="radioOption" id="radioColor1b" value="option1">
											<label for="radioColor1b">Passive</label>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Location</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select an option</option>
										</select>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Approved salary</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->
							</div><!--.form-content-->

							<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Submit</button>
										<button type="button" class="btn btn-flat btn-default">Cancel</button>
									</div>
								</div>
							</div>
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BUTTONS ON TOP</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-buttons buttons-on-top">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Submit</button>
										<button type="button" class="btn btn-flat btn-default">Cancel</button>
									</div>
								</div>
							</div>

							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Full name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Email address</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="email" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Password</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="password" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Status</label>
									<div class="col-md-5">
										<div class="radioer">
											<input type="radio" name="radioOption2" id="radioColor3" value="option1" checked="checked">
											<label for="radioColor3">Active</label>
										</div>
										<div class="radioer">
											<input type="radio" name="radioOption2" id="radioColor4" value="option1">
											<label for="radioColor4">Passive</label>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Location</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select an option</option>
										</select>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Approved salary</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->
							</div><!--.form-content-->
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BUTTONS ON TOP &amp; BOTTOM</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-buttons buttons-on-top">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Submit</button>
										<button type="button" class="btn btn-flat btn-default">Cancel</button>
									</div>
								</div>
							</div>

							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Full name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Email address</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="email" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Password</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="password" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Status</label>
									<div class="col-md-5">
										<div class="radioer">
											<input type="radio" name="radioOption3" id="radioColor5" value="option1" checked="checked">
											<label for="radioColor5">Active</label>
										</div>
										<div class="radioer">
											<input type="radio" name="radioOption3" id="radioColor6" value="option1">
											<label for="radioColor6">Passive</label>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Location</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select an option</option>
										</select>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Approved salary</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->
							</div><!--.form-content-->

							<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Submit</button>
										<button type="button" class="btn btn-flat btn-default">Cancel</button>
									</div>
								</div>
							</div>
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ALIGNED BUTTONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-buttons buttons-on-top clearfix">
								<div class="pull-left">
									<button type="button" class="btn btn-default">Button 1</button>
									<button type="button" class="btn btn-default">Button 2</button>
								</div>
								<div class="pull-right">
									<button type="button" class="btn btn-default">Button 3</button>
									<button type="button" class="btn btn-default">Button 4</button>
								</div>
							</div>

							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Full name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Email address</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="email" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Password</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="password" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Status</label>
									<div class="col-md-5">
										<div class="radioer">
											<input type="radio" name="radioOption4" id="radioColor7" value="option1" checked="checked">
											<label for="radioColor7">Active</label>
										</div>
										<div class="radioer">
											<input type="radio" name="radioOption4" id="radioColor8" value="option1">
											<label for="radioColor8">Passive</label>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Location</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select an option</option>
										</select>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Approved salary</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->
							</div><!--.form-content-->

							<div class="form-buttons clearfix">
								<div class="pull-left">
									<button type="button" class="btn btn-default">Button 5</button>
									<button type="button" class="btn btn-default">Button 6</button>
								</div>
								<div class="pull-right">
									<button type="button" class="btn btn-default">Button 7</button>
									<button type="button" class="btn btn-default">Button 8</button>
								</div>
							</div>
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>STRIPED ROWS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal form-striped">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Full name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Email address</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="email" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Password</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="password" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Status</label>
									<div class="col-md-5">
										<div class="radioer">
											<input type="radio" name="radioOption5" id="radioColor9" value="option1" checked="checked">
											<label for="radioColor9">Active</label>
										</div>
										<div class="radioer">
											<input type="radio" name="radioOption5" id="radioColor10" value="option1">
											<label for="radioColor10">Passive</label>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Location</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select an option</option>
										</select>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Approved salary</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->
							</div><!--.form-content-->

							<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Submit</button>
										<button type="button" class="btn btn-flat btn-default">Cancel</button>
									</div>
								</div>
							</div>
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BORDERED ROWS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal form-bordered">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Full name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Email address</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="email" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Password</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="password" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Status</label>
									<div class="col-md-5">
										<div class="radioer">
											<input type="radio" name="radioOption6" id="radioColor11" value="option1" checked="checked">
											<label for="radioColor11">Active</label>
										</div>
										<div class="radioer">
											<input type="radio" name="radioOption6" id="radioColor12" value="option1">
											<label for="radioColor12">Passive</label>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Location</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select an option</option>
										</select>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Approved salary</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->
							</div><!--.form-content-->

							<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Submit</button>
										<button type="button" class="btn btn-flat btn-default">Cancel</button>
									</div>
								</div>
							</div>
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BORDERED &amp; STRIPED ROWS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal form-striped form-bordered">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Full name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Email address</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="email" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Password</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="password" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Status</label>
									<div class="col-md-5">
										<div class="radioer">
											<input type="radio" name="radioOption7" id="radioColor13" value="option1" checked="checked">
											<label for="radioColor13">Active</label>
										</div>
										<div class="radioer">
											<input type="radio" name="radioOption7" id="radioColor14" value="option1">
											<label for="radioColor14">Passive</label>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Location</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select an option</option>
										</select>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Approved salary</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->
							</div><!--.form-content-->

							<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Submit</button>
										<button type="button" class="btn btn-flat btn-default">Cancel</button>
									</div>
								</div>
							</div>
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TWO COLUMNS FORM</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#">
							<div class="form-content">

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Full name</label>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="" class="form-control">
												</div>
											</div>
										</div><!--.form-group-->
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Email address</label>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="email" name="" class="form-control">
												</div>
											</div>
										</div><!--.form-group-->
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Password</label>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="password" name="" class="form-control">
												</div>
											</div>
										</div><!--.form-group-->
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Status</label>
											<div class="clearfix">
												<div class="radioer form-inline">
													<input type="radio" name="radioOption8" id="radioColor15" value="option1" checked="checked">
													<label for="radioColor15">Active</label>
												</div>
												<div class="radioer form-inline">
													<input type="radio" name="radioOption8" id="radioColor16" value="option1">
													<label for="radioColor16">Passive</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Description</label>
											<div class="inputer">
												<div class="input-wrapper">
													<textarea name="" rows="1" class="form-control"></textarea>
												</div>
											</div>
										</div><!--.form-group-->
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Location</label>
											<select name="" class="selecter">
												<option>Select an option</option>
											</select>
										</div><!--.form-group-->
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Approved salary</label>
											<div class="input-group">
												<span class="input-group-addon">$</span>
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" class="form-control">
													</div>
												</div>
											</div>
										</div><!--.form-group-->
									</div>
								</div><!--.row-->

							</div><!--.form-content-->

							<div class="form-buttons form-group clearfix">
								<div class="pull-right">
									<button type="submit" class="btn btn-blue">Submit</button>
									<button type="button" class="btn btn-flat btn-default">Cancel</button>
								</div>
							</div>
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-brown">
					<a href="forms-general.html">
						<span class="state">Forms</span>
						<span>General</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-tools.html">
						<span class="state">Forms</span>
						<span>Tools</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
</html>