<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-jcrop.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:14 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - J Crop</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>J Crop <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">J Crop</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>JCROP</h4>
						</div><!--.panel-title-->
						<ul class="nav nav-tabs with-panel">
							<li class="active"><a href="#j-basic" data-toggle="tab">Basic</a></li>
							<li><a href="#j-handler" data-toggle="tab">Handler</a></li>
							<li><a href="#j-preview" data-toggle="tab">Preview Pane</a></li>
							<li><a href="#j-animations" data-toggle="tab">Animations</a></li>
							<li><a href="#j-api" data-toggle="tab">API</a></li>
							<li><a href="#j-nonimage" data-toggle="tab">Non-image</a></li>
							<li><a href="#j-css" data-toggle="tab">CSS</a></li>
							<li><a href="#j-server" data-toggle="tab">Server</a></li>
						</ul>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="tab-content with-panel">

							<div id="j-basic" class="tab-pane active">
								<img src="../../assets/globals/img/picjumbo/3.jpg" class="jcrop-basic" alt="">
							</div><!--.tab-pane-->

							<div id="j-handler" class="tab-pane">
								<div class="row">
									<div class="col-md-8">
										<img src="../../assets/globals/img/picjumbo/4.jpg" class="jcrop-handler" alt="[Jcrop Example]" />
									</div>
									<div class="col-md-4">
										<form id="example2-coords" class="cropper-data" action="#">
											<div class="input-group">
												<span class="input-group-addon">X1</span>
												<input type="text" class="form-control" size="4" id="x1" name="x1">
											</div>
											<div class="input-group">
												<span class="input-group-addon">Y1</span>
												<input type="text" class="form-control" size="4" id="y1" name="y1">
											</div>
											<div class="input-group">
												<span class="input-group-addon">X2</span>
												<input type="text" class="form-control" size="4" id="x2" name="x2">
											</div>
											<div class="input-group">
												<span class="input-group-addon">Y2</span>
												<input type="text" class="form-control" size="4" id="y2" name="y2">
											</div>
											<div class="input-group">
												<span class="input-group-addon">Width</span>
												<input type="text" class="form-control" size="4" id="w" name="w">
											</div>
											<div class="input-group">
												<span class="input-group-addon">Height</span>
												<input type="text" class="form-control" size="4" id="h" name="h">
											</div>
										</form>
									</div>
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="j-preview" class="tab-pane">
								<div class="row">
									<div class="col-md-8">
										<img src="../../assets/globals/img/picjumbo/5.jpg" class="jcrop-preimage" alt="[Jcrop Example]">
									</div>
									<div class="col-md-4">
										<div id="preview-pane">
											<div class="preview-container">
												<img src="../../assets/globals/img/picjumbo/5.jpg" class="jcrop-preview" alt="Preview">
											</div>
										</div>
									</div>
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="j-animations" class="tab-pane">
								<div class="row">
									<div class="col-md-8">
										<img src="../../assets/globals/img/picjumbo/6.jpg" class="jcrop-extras" alt="[Jcrop Example]">
									</div>
									<div class="col-md-4">
										<div id="interface">
											<div class="checkbox">
												<label>
													<input type="checkbox" id="fadetog"> Enable fading (bgFade: true)
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" id="shadetog"> Use experimental shader (shade: true)
												</label>
											</div>
										</div>
									</div>
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="j-api" class="tab-pane">
								<div class="row">
									<div class="col-md-8">
										<img src="../../assets/globals/img/picjumbo/7.jpg" class="jcrop-api" alt="[Jcrop Example]">
										<div class="margin-top-10">
											<span class="requiresjcrop">
												<button id="setSelect" class="btn btn-default btn-sm">setSelect</button>
												<button id="animateTo" class="btn btn-default btn-sm">animateTo</button>
												<button id="release" class="btn btn-default btn-sm">Release</button>
												<button id="disable" class="btn btn-default btn-sm">Disable</button>
											</span>
											<button id="enable" class="btn btn-default btn-sm" style="display:none;">Re-Enable</button>
											<button id="unhook" class="btn btn-default btn-sm">Destroy!</button>
											<button id="rehook" class="btn btn-default btn-sm" style="display:none;">Attach Jcrop</button>
										</div>
									</div>
									<div class="col-md-4">
										<fieldset class="optdual requiresjcrop margin-bottom-10">
											<legend>Option Toggles</legend>
											<div class="optlist offset">
												<div class="checkbox">
													<label><input type="checkbox" id="ar_lock"> Aspect ratio</label>
												</div>
												<div class="checkbox">
													<label><input type="checkbox" id="size_lock"> minSize/maxSize setting</label>
												</div>
											</div>
											<div class="optlist">
												<div class="checkbox">
													<label><input type="checkbox" id="can_click"> Allow new selections</label>
												</div>
												<div class="checkbox">
													<label><input type="checkbox" id="can_move"> Selection can be moved</label>
												</div>
												<div class="checkbox">
													<label><input type="checkbox" id="can_size"> Resizable selection</label>
												</div>
											</div>
										</fieldset>

										<fieldset class="requiresjcrop">
											<legend>Change Image</legend>
											<div class="btn-group btn-merged">
												<button class="btn btn-default" id="img2">Pool</button>
												<button class="btn btn-default active" id="img1">Sago</button>
												<button class="btn btn-default" id="img3">Sago w/ outerImage</button>
											</div>
										</fieldset>
									</div>
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="j-nonimage" class="tab-pane">
								<p class="jcrop-nonimage jcrop-example-nonimage">
									<strong>This is an example of attaching Jcrop to a target that is not an image. You are now cropping a paragraph tag.</strong>
								</p>
							</div><!--.tab-pane-->

							<div id="j-css" class="tab-pane">
								<div class="row">
									<div class="col-md-8">
										<img src="../../assets/globals/img/picjumbo/8.jpg" class="jcrop-styling" alt="[Jcrop Example]">
									</div>
									<div class="col-md-4">
										<fieldset>
											<legend>Manipulate classes</legend>
											<div class="btn-group btn-merged" id="buttonbar">
												<button id="radio1" data-setclass="jcrop-light" class="btn btn-default active">jcrop-light</button>
												<button id="radio2" data-setclass="jcrop-dark" class="btn btn-default">jcrop-dark</button>
												<button id="radio3" data-setclass="jcrop-normal" class="btn btn-default">normal</button>
											</div>
										</fieldset>
									</div>
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="j-server" class="tab-pane">
								<div class="row">
									<div class="col-md-8">
										<img src="../../assets/globals/img/picjumbo/24.jpg" class="jcrop-server" alt="[Jcrop Example]" />
									</div>
									<div class="col-md-4 cropper-data">
										<form action="http://teamfox.co/themes/pleasure/app/admin1/demo/jcrop.php" method="post" onsubmit="return FormsJCrop.checkCoords();">
											<div class="input-group">
												<span class="input-group-addon">X</span>
												<input type="text" class="form-control" size="4" id="f_x" name="f_x">
											</div>
											<div class="input-group">
												<span class="input-group-addon">Y</span>
												<input type="text" class="form-control" size="4" id="f_y" name="f_y">
											</div>
											<div class="input-group">
												<span class="input-group-addon">Width</span>
												<input type="text" class="form-control" size="4" id="f_w" name="f_w">
											</div>
											<div class="input-group">
												<span class="input-group-addon">Height</span>
												<input type="text" class="form-control" size="4" id="f_h" name="f_h">
											</div>
											<input type="submit" value="Crop Image" class="btn btn-primary btn-block" />
										</form>
									</div>
								</div><!--.row-->
							</div><!--.tab-pane-->

						</div><!--.tab-content-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-brown">
					<a href="forms-wysiwyg-editors.html">
						<span class="state">Forms</span>
						<span>Text Editors</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-image-cropper.html">
						<span class="state">Forms</span>
						<span>Image Cropper</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		FormsJCrop.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-jcrop.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:18 GMT -->
</html>