<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-switchers.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:02 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Switchers</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Switchers <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">Switchers</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SWITCHERY</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Default</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="switchery-default" checked>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Disabled</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="switchery-default" disabled>
								<input type="checkbox" class="switchery-default" checked disabled>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Bootstrap Colors</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="switchery-primary" checked>
								<input type="checkbox" class="switchery-info" checked>
								<input type="checkbox" class="switchery-success" checked>
								<input type="checkbox" class="switchery-warning" checked>
								<input type="checkbox" class="switchery-danger" checked>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Material Colors</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="switchery-red" checked>

								<input type="checkbox" class="switchery-pink" checked>
								<input type="checkbox" class="switchery-purple" checked>
								<input type="checkbox" class="switchery-deep-purple" checked>
								<input type="checkbox" class="switchery-indigo" checked>

								<input type="checkbox" class="switchery-blue" checked>
								<input type="checkbox" class="switchery-light-blue" checked>
								<input type="checkbox" class="switchery-cyan" checked>
								<input type="checkbox" class="switchery-teal" checked>

								<input type="checkbox" class="switchery-green" checked>
								<input type="checkbox" class="switchery-light-green" checked>
								<input type="checkbox" class="switchery-lime" checked>

								<input type="checkbox" class="switchery-yellow" checked>
								<input type="checkbox" class="switchery-amber" checked>
								<input type="checkbox" class="switchery-orange" checked>

								<input type="checkbox" class="switchery-deep-orange" checked>
								<input type="checkbox" class="switchery-brown" checked>

								<input type="checkbox" class="switchery-grey" checked>
								<input type="checkbox" class="switchery-blue-grey" checked>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">In a Modal</div><!--.col-md-3-->
							<div class="col-md-9">

								<button type="button" class="btn btn-default button-striped button-full-striped" data-toggle="modal" data-target="#bs-switchery-modal">Show in Modal Window</button>

								<div class="modal fade" id="bs-switchery-modal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title">In a Modal</h4>
											</div>
											<div class="modal-body">
												<input type="checkbox" class="switchery-default" checked>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div><!--.modal-->

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BOOTSTRAP SWITCH</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Sizes</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="bs-switch" data-size="large" checked>
								<input type="checkbox" class="bs-switch" checked>
								<input type="checkbox" class="bs-switch" data-size="small" checked>
								<input type="checkbox" class="bs-switch" data-size="mini"  checked>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Colors</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="bs-switch" data-on-color="primary" data-off-color="info" checked>
								<input type="checkbox" class="bs-switch" data-on-color="info" data-off-color="success" checked>
								<input type="checkbox" class="bs-switch" data-on-color="success" data-off-color="warning" checked>
								<input type="checkbox" class="bs-switch" data-on-color="warning" data-off-color="danger" checked>
								<input type="checkbox" class="bs-switch" data-on-color="danger" data-off-color="default" checked>
								<input type="checkbox" class="bs-switch" data-on-color="default" data-off-color="primary" checked>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Disabled</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="bs-switch" disabled checked>
								<input type="checkbox" class="bs-switch" disabled>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Custom Text</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="bs-switch" data-on-text="Yes" data-off-text="No" checked>
								<input type="checkbox" class="bs-switch" data-on-text="&nbsp;&nbsp;&nbsp;Agree&nbsp;&nbsp;&nbsp;" data-off-text="&nbsp;Disagree&nbsp;" checked>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Label Text</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="bs-switch" data-label-text="TV" checked>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Html Text</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="bs-switch" checked data-on-text="<i class='fa fa-check'></i>" data-off-text="<i class='fa fa-times'></i>">
								<input type="checkbox" class="bs-switch" data-on-text="<i class='fa fa-male'></i>" data-off-text="<i class='fa fa-female'></i>" data-off-color="danger">
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Html Label Text</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="checkbox" class="bs-switch" checked data-on-text="<i class='glyphicon glyphicon-thumbs-up'></i>" data-off-text="<i class='glyphicon glyphicon-thumbs-down'></i>" data-label-text="<i class='fa fa-vimeo-square'></i>">
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Radio Group</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="margin-bottom-10">
									<label for="option1">Option 1</label>
									<input type="radio" id="option1" name="radio1" value="option1" class="bs-switch bs-switch-radio1" checked>
								</div>
								<div class="margin-bottom-10">
									<label for="option2">Option 2</label>
									<input type="radio" id="option2" name="radio1" value="option2" class="bs-switch bs-switch-radio1">
								</div>
								<div class="margin-bottom-10">
									<label for="option3">Option 3</label>
									<input type="radio" id="option3" name="radio1" value="option3" class="bs-switch bs-switch-radio1">
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">In a Modal</div><!--.col-md-3-->
							<div class="col-md-9">

								<button type="button" class="btn btn-default button-striped button-full-striped" data-toggle="modal" data-target="#bs-switch-modal">Show in Modal Window</button>

								<div class="modal fade" id="bs-switch-modal" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title">In a Modal</h4>
											</div>
											<div class="modal-body">
												<input type="checkbox" class="bs-switch" checked>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div><!--.modal-->

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-brown">
					<a href="forms-selects.html">
						<span class="state">Forms</span>
						<span>Selectboxes</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-validation.html">
						<span class="state">Forms</span>
						<span>Validation</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		FormsSwitch.init();
		FormsSwitchery.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-switchers.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:05 GMT -->
</html>