<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-icheck.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:52 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Forms iCheck</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>iCheck <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">iCheck</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>MINIMAL <small>click colors</small></h4>
						</div><!--.panel-title-->
						<ul class="nav nav-tabs nav-justified with-panel active-line active-line colors">
							<li class="active"><a href="#minimal-black" data-toggle="tab"><span class="badge badge-black">&nbsp;</span></a></li>
							<li><a href="#minimal-red" data-toggle="tab"><span class="badge badge-red">&nbsp;</span></a></li>
							<li><a href="#minimal-green" data-toggle="tab"><span class="badge badge-green">&nbsp;</span></a></li>
							<li><a href="#minimal-blue" data-toggle="tab"><span class="badge badge-blue">&nbsp;</span></a></li>
							<li><a href="#minimal-aero" data-toggle="tab"><span class="badge badge-light-blue">&nbsp;</span></a></li>
							<li><a href="#minimal-grey" data-toggle="tab"><span class="badge badge-grey">&nbsp;</span></a></li>
							<li><a href="#minimal-orange" data-toggle="tab"><span class="badge badge-orange">&nbsp;</span></a></li>
							<li><a href="#minimal-yellow" data-toggle="tab"><span class="badge badge-yellow">&nbsp;</span></a></li>
							<li><a href="#minimal-pink" data-toggle="tab"><span class="badge badge-pink">&nbsp;</span></a></li>
							<li><a href="#minimal-purple" data-toggle="tab"><span class="badge badge-purple">&nbsp;</span></a></li>
						</ul>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="tab-content with-panel">

							<div id="minimal-black" class="tab-pane active">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-minimal">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_1" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_1" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_1" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_1_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="minimal-red" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-minimal-red">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-red">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_2" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_2" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_2" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_2_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="minimal-green" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-minimal-green">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-green">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_3" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_3" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_3" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_3_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="minimal-blue" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-minimal-blue">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-blue">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_4" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_4" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_4" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_4_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="minimal-aero" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-minimal-aero">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-aero">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_5" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_5" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_5" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_5_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="minimal-grey" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-minimal-grey">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-grey">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_6" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_6" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_6" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_6_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="minimal-orange" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-minimal-orange">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-orange">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_7" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_7" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_7" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_7_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="minimal-yellow" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-minimal-yellow">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-yellow">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_8" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_8" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_8" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_8_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="minimal-pink" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-minimal-pink">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-pink">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_9" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_9" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_9" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_9_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="minimal-purple" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-minimal-purple">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-purple">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_10" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_10" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_10" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_10_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

						</div><!--.tab-content-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>SQUARE <small>click colors</small></h4>
						</div><!--.panel-title-->
						<ul class="nav nav-tabs nav-justified with-panel active-line colors">
							<li class="active"><a href="#square-black" data-toggle="tab"><span class="badge badge-black">&nbsp;</span></a></li>
							<li><a href="#square-red" data-toggle="tab"><span class="badge badge-red">&nbsp;</span></a></li>
							<li><a href="#square-green" data-toggle="tab"><span class="badge badge-green">&nbsp;</span></a></li>
							<li><a href="#square-blue" data-toggle="tab"><span class="badge badge-blue">&nbsp;</span></a></li>
							<li><a href="#square-aero" data-toggle="tab"><span class="badge badge-light-blue">&nbsp;</span></a></li>
							<li><a href="#square-grey" data-toggle="tab"><span class="badge badge-grey">&nbsp;</span></a></li>
							<li><a href="#square-orange" data-toggle="tab"><span class="badge badge-orange">&nbsp;</span></a></li>
							<li><a href="#square-yellow" data-toggle="tab"><span class="badge badge-yellow">&nbsp;</span></a></li>
							<li><a href="#square-pink" data-toggle="tab"><span class="badge badge-pink">&nbsp;</span></a></li>
							<li><a href="#square-purple" data-toggle="tab"><span class="badge badge-purple">&nbsp;</span></a></li>
						</ul>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="tab-content with-panel">

							<div id="square-black" class="tab-pane active">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-square">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-square">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_11" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_11" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_11" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_11_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="square-red" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-square-red">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-red">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_12" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_12" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_12" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_12_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="square-green" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-square-green">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-square-green">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_13" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_13" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_13" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_13_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="square-blue" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-square-blue">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-square-blue">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_14" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_14" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_14" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_14_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="square-aero" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-square-aero">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-square-aero">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_15" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_15" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_15" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_15_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="square-grey" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-square-grey">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-square-grey">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_16" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_16" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_16" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_16_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="square-orange" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-square-orange">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-square-orange">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_17" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_17" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_17" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_17_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="square-yellow" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-square-yellow">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-square-yellow">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_18" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_18" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_18" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_18_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="square-pink" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-square-pink">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-square-pink">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_19" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_19" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_19" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_19_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="square-purple" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-square-purple">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-square-purple">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_20" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_20" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_20" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_20_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

						</div><!--.tab-content-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>FLAT <small>click colors</small></h4>
						</div><!--.panel-title-->
						<ul class="nav nav-tabs nav-justified with-panel active-line colors">
							<li class="active"><a href="#flat-black" data-toggle="tab"><span class="badge badge-black">&nbsp;</span></a></li>
							<li><a href="#flat-red" data-toggle="tab"><span class="badge badge-red">&nbsp;</span></a></li>
							<li><a href="#flat-green" data-toggle="tab"><span class="badge badge-green">&nbsp;</span></a></li>
							<li><a href="#flat-blue" data-toggle="tab"><span class="badge badge-blue">&nbsp;</span></a></li>
							<li><a href="#flat-aero" data-toggle="tab"><span class="badge badge-light-blue">&nbsp;</span></a></li>
							<li><a href="#flat-grey" data-toggle="tab"><span class="badge badge-grey">&nbsp;</span></a></li>
							<li><a href="#flat-orange" data-toggle="tab"><span class="badge badge-orange">&nbsp;</span></a></li>
							<li><a href="#flat-yellow" data-toggle="tab"><span class="badge badge-yellow">&nbsp;</span></a></li>
							<li><a href="#flat-pink" data-toggle="tab"><span class="badge badge-pink">&nbsp;</span></a></li>
							<li><a href="#flat-purple" data-toggle="tab"><span class="badge badge-purple">&nbsp;</span></a></li>
						</ul>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="tab-content with-panel">

							<div id="flat-black" class="tab-pane active">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-flat">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-flat">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_21" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_21" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_21" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_21_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="flat-red" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-flat-red">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-minimal-red">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_22" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_22" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_22" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_22_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="flat-green" class="tab-pane">
							<div class="row">
								<div class="col-md-6">
									<div class="icheck icheck-flat-green">
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">
												Checkbox 1
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox" value="" checked>
												Checkbox 2
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox" value="" disabled>
												Disabled
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input type="checkbox" value="" checked disabled>
												Disabled &amp; Checked
											</label>
										</div>
									</div><!--.icheck-->
								</div><!--.col-md-6-->
								<div class="col-md-6">
									<div class="icheck icheck-flat-green">
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios_23" value="option1">
												Radio button 1
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios_23" value="option2" checked>
												Radio button 2
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios_23" value="option3" disabled>
												Disabled
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios_23_d" value="option4" disabled checked>
												Disabled &amp; Checked
											</label>
										</div>
									</div><!--.icheck-->
								</div><!--.col-md-6-->
							</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="flat-blue" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-flat-blue">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-flat-blue">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_24" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_24" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_24" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_24_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="flat-aero" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-flat-aero">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-flat-aero">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_25" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_25" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_25" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_25_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="flat-grey" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-flat-grey">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-flat-grey">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_26" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_26" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_26" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_26_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="flat-orange" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-flat-orange">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-flat-orange">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_27" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_27" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_27" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_27_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="flat-yellow" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-flat-yellow">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-flat-yellow">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_28" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_28" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_28" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_28_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="flat-pink" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-flat-pink">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-flat-pink">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_29" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_29" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_29" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_29_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="flat-purple" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-flat-purple">
											<div class="checkbox">
												<label>
													<input type="checkbox" value="">
													Checkbox 1
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked>
													Checkbox 2
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" disabled>
													Disabled
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox" value="" checked disabled>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-flat-purple">
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_30" value="option1">
													Radio button 1
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_30" value="option2" checked>
													Radio button 2
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_30" value="option3" disabled>
													Disabled
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optionsRadios_30_d" value="option4" disabled checked>
													Disabled &amp; Checked
												</label>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

						</div><!--.tab-content-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>LINE <small>click colors</small></h4>
						</div><!--.panel-title-->
						<ul class="nav nav-tabs nav-justified with-panel active-line colors">
							<li class="active"><a href="#line-black" data-toggle="tab"><span class="badge badge-black">&nbsp;</span></a></li>
							<li><a href="#line-red" data-toggle="tab"><span class="badge badge-red">&nbsp;</span></a></li>
							<li><a href="#line-green" data-toggle="tab"><span class="badge badge-green">&nbsp;</span></a></li>
							<li><a href="#line-blue" data-toggle="tab"><span class="badge badge-blue">&nbsp;</span></a></li>
							<li><a href="#line-aero" data-toggle="tab"><span class="badge badge-light-blue">&nbsp;</span></a></li>
							<li><a href="#line-grey" data-toggle="tab"><span class="badge badge-grey">&nbsp;</span></a></li>
							<li><a href="#line-orange" data-toggle="tab"><span class="badge badge-orange">&nbsp;</span></a></li>
							<li><a href="#line-yellow" data-toggle="tab"><span class="badge badge-yellow">&nbsp;</span></a></li>
							<li><a href="#line-pink" data-toggle="tab"><span class="badge badge-pink">&nbsp;</span></a></li>
							<li><a href="#line-purple" data-toggle="tab"><span class="badge badge-purple">&nbsp;</span></a></li>
						</ul>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="tab-content with-panel">

							<div id="line-black" class="tab-pane active">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-line">
											<div class="checkbox">
												<label>Checkbox 1</label>
												<input type="checkbox" value="">
											</div>
											<div class="checkbox">
												<label>Checkbox 2</label>
												<input type="checkbox" value="" checked>
											</div>
											<div class="checkbox">
												<label>Disabled</label>
												<input type="checkbox" value="" disabled>
											</div>
											<div class="checkbox">
												<label>Disabled &amp; Checked</label>
												<input type="checkbox" value="" checked disabled>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-line">
											<div class="radio">
												<label>Radio button 1</label>
												<input type="radio" name="optionsRadios_31" value="option1">
											</div>
											<div class="radio">
												<label>Radio button 2</label>
												<input type="radio" name="optionsRadios_31" value="option2" checked>
											</div>
											<div class="radio">
												<label>Disabled</label>
												<input type="radio" name="optionsRadios_31" value="option3" disabled>
											</div>
											<div class="radio">
												<label>Disabled &amp; Checked</label>
												<input type="radio" name="optionsRadios_31_d" value="option4" disabled checked>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="line-red" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-line-red">
											<div class="checkbox">
												<label>Checkbox 1</label>
												<input type="checkbox" value="">
											</div>
											<div class="checkbox">
												<label>Checkbox 2</label>
												<input type="checkbox" value="" checked>
											</div>
											<div class="checkbox">
												<label>Disabled</label>
												<input type="checkbox" value="" disabled>
											</div>
											<div class="checkbox">
												<label>Disabled &amp; Checked</label>
												<input type="checkbox" value="" checked disabled>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-line-red">
											<div class="radio">
												<label>Radio button 1</label>
												<input type="radio" name="optionsRadios_32" value="option1">
											</div>
											<div class="radio">
												<label>Radio button 2</label>
												<input type="radio" name="optionsRadios_32" value="option2" checked>
											</div>
											<div class="radio">
												<label>Disabled</label>
												<input type="radio" name="optionsRadios_32" value="option3" disabled>
											</div>
											<div class="radio">
												<label>Disabled &amp; Checked</label>
												<input type="radio" name="optionsRadios_32_d" value="option4" disabled checked>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="line-green" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-line-green">
											<div class="checkbox">
												<label>Checkbox 1</label>
												<input type="checkbox" value="">
											</div>
											<div class="checkbox">
												<label>Checkbox 2</label>
												<input type="checkbox" value="" checked>
											</div>
											<div class="checkbox">
												<label>Disabled</label>
												<input type="checkbox" value="" disabled>
											</div>
											<div class="checkbox">
												<label>Disabled &amp; Checked</label>
												<input type="checkbox" value="" checked disabled>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-line-green">
											<div class="radio">
												<label>Radio button 1</label>
												<input type="radio" name="optionsRadios_33" value="option1">
											</div>
											<div class="radio">
												<label>Radio button 2</label>
												<input type="radio" name="optionsRadios_33" value="option2" checked>
											</div>
											<div class="radio">
												<label>Disabled</label>
												<input type="radio" name="optionsRadios_33" value="option3" disabled>
											</div>
											<div class="radio">
												<label>Disabled &amp; Checked</label>
												<input type="radio" name="optionsRadios_33_d" value="option4" disabled checked>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="line-blue" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-line-blue">
											<div class="checkbox">
												<label>Checkbox 1</label>
												<input type="checkbox" value="">
											</div>
											<div class="checkbox">
												<label>Checkbox 2</label>
												<input type="checkbox" value="" checked>
											</div>
											<div class="checkbox">
												<label>Disabled</label>
												<input type="checkbox" value="" disabled>
											</div>
											<div class="checkbox">
												<label>Disabled &amp; Checked</label>
												<input type="checkbox" value="" checked disabled>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-line-blue">
											<div class="radio">
												<label>Radio button 1</label>
												<input type="radio" name="optionsRadios_34" value="option1">
											</div>
											<div class="radio">
												<label>Radio button 2</label>
												<input type="radio" name="optionsRadios_34" value="option2" checked>
											</div>
											<div class="radio">
												<label>Disabled</label>
												<input type="radio" name="optionsRadios_34" value="option3" disabled>
											</div>
											<div class="radio">
												<label>Disabled &amp; Checked</label>
												<input type="radio" name="optionsRadios_34_d" value="option4" disabled checked>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="line-aero" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-line-aero">
											<div class="checkbox">
												<label>Checkbox 1</label>
												<input type="checkbox" value="">
											</div>
											<div class="checkbox">
												<label>Checkbox 2</label>
												<input type="checkbox" value="" checked>
											</div>
											<div class="checkbox">
												<label>Disabled</label>
												<input type="checkbox" value="" disabled>
											</div>
											<div class="checkbox">
												<label>Disabled &amp; Checked</label>
												<input type="checkbox" value="" checked disabled>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-line-aero">
											<div class="radio">
												<label>Radio button 1</label>
												<input type="radio" name="optionsRadios_35" value="option1">
											</div>
											<div class="radio">
												<label>Radio button 2</label>
												<input type="radio" name="optionsRadios_35" value="option2" checked>
											</div>
											<div class="radio">
												<label>Disabled</label>
												<input type="radio" name="optionsRadios_35" value="option3" disabled>
											</div>
											<div class="radio">
												<label>Disabled &amp; Checked</label>
												<input type="radio" name="optionsRadios_35_d" value="option4" disabled checked>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="line-grey" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-line-grey">
											<div class="checkbox">
												<label>Checkbox 1</label>
												<input type="checkbox" value="">
											</div>
											<div class="checkbox">
												<label>Checkbox 2</label>
												<input type="checkbox" value="" checked>
											</div>
											<div class="checkbox">
												<label>Disabled</label>
												<input type="checkbox" value="" disabled>
											</div>
											<div class="checkbox">
												<label>Disabled &amp; Checked</label>
												<input type="checkbox" value="" checked disabled>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-line-grey">
											<div class="radio">
												<label>Radio button 1</label>
												<input type="radio" name="optionsRadios_36" value="option1">
											</div>
											<div class="radio">
												<label>Radio button 2</label>
												<input type="radio" name="optionsRadios_36" value="option2" checked>
											</div>
											<div class="radio">
												<label>Disabled</label>
												<input type="radio" name="optionsRadios_36" value="option3" disabled>
											</div>
											<div class="radio">
												<label>Disabled &amp; Checked</label>
												<input type="radio" name="optionsRadios_36_d" value="option4" disabled checked>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="line-orange" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-line-orange">
											<div class="checkbox">
												<label>Checkbox 1</label>
												<input type="checkbox" value="">
											</div>
											<div class="checkbox">
												<label>Checkbox 2</label>
												<input type="checkbox" value="" checked>
											</div>
											<div class="checkbox">
												<label>Disabled</label>
												<input type="checkbox" value="" disabled>
											</div>
											<div class="checkbox">
												<label>Disabled &amp; Checked</label>
												<input type="checkbox" value="" checked disabled>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-line-orange">
											<div class="radio">
												<label>Radio button 1</label>
												<input type="radio" name="optionsRadios_37" value="option1">
											</div>
											<div class="radio">
												<label>Radio button 2</label>
												<input type="radio" name="optionsRadios_37" value="option2" checked>
											</div>
											<div class="radio">
												<label>Disabled</label>
												<input type="radio" name="optionsRadios_37" value="option3" disabled>
											</div>
											<div class="radio">
												<label>Disabled &amp; Checked</label>
												<input type="radio" name="optionsRadios_37_d" value="option4" disabled checked>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="line-yellow" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-line-yellow">
											<div class="checkbox">
												<label>Checkbox 1</label>
												<input type="checkbox" value="">
											</div>
											<div class="checkbox">
												<label>Checkbox 2</label>
												<input type="checkbox" value="" checked>
											</div>
											<div class="checkbox">
												<label>Disabled</label>
												<input type="checkbox" value="" disabled>
											</div>
											<div class="checkbox">
												<label>Disabled &amp; Checked</label>
												<input type="checkbox" value="" checked disabled>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-line-yellow">
											<div class="radio">
												<label>Radio button 1</label>
												<input type="radio" name="optionsRadios_38" value="option1">
											</div>
											<div class="radio">
												<label>Radio button 2</label>
												<input type="radio" name="optionsRadios_38" value="option2" checked>
											</div>
											<div class="radio">
												<label>Disabled</label>
												<input type="radio" name="optionsRadios_38" value="option3" disabled>
											</div>
											<div class="radio">
												<label>Disabled &amp; Checked</label>
												<input type="radio" name="optionsRadios_38_d" value="option4" disabled checked>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="line-pink" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-line-pink">
											<div class="checkbox">
												<label>Checkbox 1</label>
												<input type="checkbox" value="">
											</div>
											<div class="checkbox">
												<label>Checkbox 2</label>
												<input type="checkbox" value="" checked>
											</div>
											<div class="checkbox">
												<label>Disabled</label>
												<input type="checkbox" value="" disabled>
											</div>
											<div class="checkbox">
												<label>Disabled &amp; Checked</label>
												<input type="checkbox" value="" checked disabled>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-line-pink">
											<div class="radio">
												<label>Radio button 1</label>
												<input type="radio" name="optionsRadios_39" value="option1">
											</div>
											<div class="radio">
												<label>Radio button 2</label>
												<input type="radio" name="optionsRadios_39" value="option2" checked>
											</div>
											<div class="radio">
												<label>Disabled</label>
												<input type="radio" name="optionsRadios_39" value="option3" disabled>
											</div>
											<div class="radio">
												<label>Disabled &amp; Checked</label>
												<input type="radio" name="optionsRadios_39_d" value="option4" disabled checked>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

							<div id="line-purple" class="tab-pane">
								<div class="row">
									<div class="col-md-6">
										<div class="icheck icheck-line-purple">
											<div class="checkbox">
												<label>Checkbox 1</label>
												<input type="checkbox" value="">
											</div>
											<div class="checkbox">
												<label>Checkbox 2</label>
												<input type="checkbox" value="" checked>
											</div>
											<div class="checkbox">
												<label>Disabled</label>
												<input type="checkbox" value="" disabled>
											</div>
											<div class="checkbox">
												<label>Disabled &amp; Checked</label>
												<input type="checkbox" value="" checked disabled>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="icheck icheck-line-purple">
											<div class="radio">
												<label>Radio button 1</label>
												<input type="radio" name="optionsRadios_40" value="option1">
											</div>
											<div class="radio">
												<label>Radio button 2</label>
												<input type="radio" name="optionsRadios_40" value="option2" checked>
											</div>
											<div class="radio">
												<label>Disabled</label>
												<input type="radio" name="optionsRadios_40" value="option3" disabled>
											</div>
											<div class="radio">
												<label>Disabled &amp; Checked</label>
												<input type="radio" name="optionsRadios_40_d" value="option4" disabled checked>
											</div>
										</div><!--.icheck-->
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.tab-pane-->

						</div><!--.tab-content-->
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>POLARIS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row">
							<div class="col-md-6">
								<div class="icheck icheck-polaris">
									<div class="checkbox">
										<label>
											<input type="checkbox" value="">
											Checkbox 1
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" value="" checked>
											Checkbox 2
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" value="" disabled>
											Disabled
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" value="" checked disabled>
											Disabled &amp; Checked
										</label>
									</div>
								</div><!--.icheck-->
							</div><!--.col-md-6-->
							<div class="col-md-6">
								<div class="icheck icheck-polaris">
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios_41" value="option1">
											Radio button 1
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios_41" value="option2" checked>
											Radio button 2
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios_41" value="option3" disabled>
											Disabled
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios_41_d" value="option4" disabled checked>
											Disabled &amp; Checked
										</label>
									</div>
								</div><!--.icheck-->
							</div><!--.col-md-6-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->

			<div class="col-md-6">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>FUTURICO</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row">
							<div class="col-md-6">
								<div class="icheck icheck-futurico">
									<div class="checkbox">
										<label>
											<input type="checkbox" value="">
											Checkbox 1
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" value="" checked>
											Checkbox 2
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" value="" disabled>
											Disabled
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" value="" checked disabled>
											Disabled &amp; Checked
										</label>
									</div>
								</div><!--.icheck-->
							</div><!--.col-md-6-->
							<div class="col-md-6">
								<div class="icheck icheck-futurico">
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios_42" value="option1">
											Radio button 1
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios_42" value="option2" checked>
											Radio button 2
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios_42" value="option3" disabled>
											Disabled
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="optionsRadios_42_d" value="option4" disabled checked>
											Disabled &amp; Checked
										</label>
									</div>
								</div><!--.icheck-->
							</div><!--.col-md-6-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-6-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-brown">
					<a href="forms-pickers.html">
						<span class="state">Forms</span>
						<span>Pickers</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-range-sliders.html">
						<span class="state">Forms</span>
						<span>Range Sliders</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		FormsIcheck.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-icheck.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:54 GMT -->
</html>