<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-validation.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:05 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Form Validation</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Validation <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">Validation</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>FORM STATES</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="row">
								<div class="form-group has-success">
									<label class="control-label col-md-3" for="inputSuccess1">Input with success</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" class="form-control" id="inputSuccess1" placeholder="Input with success">
											</div>
										</div>
									</div>
								</div>
								<div class="form-group has-warning">
									<label class="control-label col-md-3" for="inputWarning1">Input with warning</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" class="form-control" id="inputWarning1" placeholder="Input with warning">
											</div>
										</div>
									</div>
								</div>
								<div class="form-group has-error">
									<label class="control-label col-md-3" for="inputError1">Input with error</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" class="form-control" id="inputError1" placeholder="Input with error">
											</div>
											<span class="help-block"><small>Please correct the error</small></span>
										</div>
									</div>
								</div>
							</div><!--.row-->

							<div class="row">
								<div class="form-group has-success has-feedback">
									<label class="control-label col-md-3" for="inputSuccess2">Input with success</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" class="form-control" id="inputSuccess2">
												<span class="ion-android-done tooltips form-control-feedback" data-toggle="tooltip" data-placement="top" title="Success tooltip"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group has-warning has-feedback">
									<label class="control-label col-md-3" for="inputWarning2">Input with warning</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" class="form-control" id="inputWarning2">
												<span class="ion-android-warning tooltips form-control-feedback" data-toggle="tooltip" data-placement="top" title="Warning tooltip"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group has-error has-feedback">
									<label class="control-label col-md-3" for="inputError2">Input with error</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" class="form-control" id="inputError2">
												<span class="ion-android-alert tooltips form-control-feedback" data-toggle="tooltip" data-placement="top" title="Error tooltip"></span>
											</div>
										</div>
									</div>
								</div>
							</div><!--.row-->
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BASIC VALIDATION</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row">
							<form action="#" class="form-horizontal parsley-validate">
								<div class="form-body">

									<div class="form-group">
										<label class="control-label col-md-3">Input field</label>
										<div class="col-md-5">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="basic-input" class="form-control" placeholder="type something" required>
												</div>
											</div>
										</div>
									</div><!--.form-group-->

									<div class="form-group">
										<label class="control-label col-md-3">Email field</label>
										<div class="col-md-5">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="email" name="basic-email" class="form-control" placeholder="someone@exmail.org" required>
												</div>
											</div>
										</div>
									</div><!--.form-group-->

									<div class="form-group">
										<label class="control-label col-md-3">Password field</label>
										<div class="col-md-5">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="password" name="password" class="form-control" placeholder="password" required>
												</div>
											</div>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="password" name="confirmPassword" class="form-control" placeholder="confirm password" required>
												</div>
											</div>
										</div>
									</div><!--.form-group-->

									<div class="form-group">
										<label class="control-label col-md-3">Integer field</label>
										<div class="col-md-5">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="number" name="basic-digits" class="form-control" placeholder="ex: 1,2,3" required>
												</div>
											</div>
										</div>
									</div><!--.form-group-->

									<div class="form-group">
										<label class="control-label col-md-3">Url field</label>
										<div class="col-md-5">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="url" name="basic-url" class="form-control" placeholder="http://www.themeforest.com" required>
												</div>
											</div>
										</div>
									</div><!--.form-group-->

									<div class="form-group">
										<label class="control-label col-md-3">Age limit</label>
										<div class="col-md-5">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="minmax-limit" class="form-control" placeholder="age should be between 10 and 100" required>
												</div>
											</div>
										</div>
									</div><!--.form-group-->

									<div class="form-group">
										<label class="control-label col-md-3">Checkboxes</label>
										<div class="col-md-5">
											<div class="checkboxer">
												<input type="checkbox" id="check1" name="checkboxes1" value="" data-parsley-mincheck="2">
												<label for="check1">Option one</label>
											</div>
											<div class="checkboxer">
												<input type="checkbox" id="check2" name="checkboxes1" value="">
												<label for="check2">Option two</label>
											</div>
											<div class="checkboxer">
												<input type="checkbox" id="check3" name="checkboxes1" value="">
												<label for="check3">Option three</label>
											</div>
										</div>
									</div><!--.form-group-->

									<div class="form-group">
										<label class="control-label col-md-3">Radios</label>
										<div class="col-md-5">

												<div class="radioer">
													<input type="radio" name="radio1" id="radio1" value="option1">
													<label for="radio1">Option one</label>
												</div>
												<div class="radioer">
													<input type="radio" name="radio1" id="radio2" value="option2">
													<label for="radio2">Option two</label>
												</div>
												<div class="radioer">
													<input type="radio" name="radio1" id="radio3" value="option3" required>
													<label for="radio3">Option three</label>
												</div>

										</div>
									</div><!--.form-group-->

									<div class="form-group">
										<label class="control-label col-md-3">Selectbox</label>
										<div class="col-md-5">
											<select name="basic-selectbox" class="selecter" required="required">
												<option value="">Text</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
											</select>
										</div>
									</div><!--.form-group-->

									<div class="form-group">
										<label class="control-label col-md-3">Textarea</label>
										<div class="col-md-5">
											<div class="inputer">
												<div class="input-wrapper">
													<textarea name="basic-textarea" class="form-control" rows="3" placeholder="type minimum 5 characters" required></textarea>
												</div>
											</div>
										</div>
									</div><!--.form-group-->

								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<button type="submit" class="btn btn-primary">Submit</button>
											<button type="button" class="btn btn-default bv-reset">Cancel</button>
										</div>
									</div>
								</div>
							</form>
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>VALIDATION WITH ONLY ICONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row">
							<form action="#" class="form-horizontal parsley-validate-icon">
								<div class="form-body">

									<div class="form-group">
										<label class="control-label col-md-3">Name</label>
										<div class="col-md-5">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="form2-name" class="form-control" placeholder="write your name" required>
												</div>
											</div>
										</div>
									</div><!--.form-group-->

									<div class="form-group">
										<label class="control-label col-md-3">Email</label>
										<div class="col-md-5">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="email" name="form2-email" class="form-control" placeholder="someone@exmail.org" required>
												</div>
											</div>
										</div>
									</div><!--.form-group-->

								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<button type="submit" class="btn btn-primary">Submit</button>
											<button type="button" class="btn btn-default bv-reset">Cancel</button>
										</div>
									</div>
								</div>
							</form>
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PLUGIN INTEGRATION</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row">
							<form action="#" class="form-horizontal parsley-validate">
								<div class="form-body">

									<div class="form-group">
										<label class="control-label col-md-3">Summernote WYSIWYG</label>
										<div class="col-md-9">
											<textarea class="form-control summernote-default" name="" required></textarea>
										</div>
									</div><!--.form-group-->

								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<button type="submit" class="btn btn-primary">Submit</button>
											<button type="button" class="btn btn-default">Cancel</button>
										</div>
									</div>
								</div>
							</form>
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-brown">
					<a href="forms-switchers.html">
						<span class="state">Forms</span>
						<span>Switchers</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-wizard.html">
						<span class="state">Forms</span>
						<span>Wizard</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		FormsValidationsParsley.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-validation.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:07 GMT -->
</html>