<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-pickers.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:46 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Form Pickers</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Form Pickers <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">Pickers</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>COLOR PICKERS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Default</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="bs-colorpicker form-control" value="#5367ce">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">As a Component</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="input-group bs-colorpicker">
									<span class="input-group-addon"><i></i></span>
									<div class="inputer">
										<div class="input-wrapper">
											<input type="text" value="" class="form-control">
										</div>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">RGBA</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="input-group bs-colorpicker-rgba">
									<span class="input-group-addon"><i></i></span>
									<div class="inputer">
										<div class="input-wrapper">
											<input type="text" value="rgba(178,79,194,1)" class="form-control">
										</div>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">In a Modal</div><!--.col-md-3-->
							<div class="col-md-9">

								<button type="button" class="btn btn-default button-striped button-full-striped" data-toggle="modal" data-target="#bs-colorpicker-modal">Show in Modal Window</button>

								<div class="modal scale fade" id="bs-colorpicker-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myModalLabel">In a Modal</h4>
											</div>
											<div class="modal-body">
												<div class="input-group bs-colorpicker">
													<span class="input-group-addon"><i></i></span>
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" value="" class="form-control">
														</div>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div><!--.modal-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Wheel</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control minicolors" data-control="wheel" value="#ff99ee">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Opacity</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control minicolors" data-opacity=".5" value="#766fa8">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Letter Case</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control minicolors" data-letterCase="uppercase" value="#abcdef">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Positions</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control minicolors" data-position="bottom right" value="#0088cc">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>DATE RANGE PICKERS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Date Picker</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="control-group">
									<div class="controls">
										<div class="input-group">
											<span class="input-group-addon"><i class="ion-android-calendar"></i></span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" style="width: 200px" name="birthday" class="form-control bootstrap-daterangepicker-basic" value="03/18/2013" />
												</div>
											</div>
										</div>
									</div>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Range Picker</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="control-group">
									<div class="controls">
										<div class="input-group">
											<span class="add-on input-group-addon"><i class="ion-android-calendar"></i></span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" style="width: 200px" name="reservation" class="form-control bootstrap-daterangepicker-basic-range" value="03/18/2013 - 03/23/2013" />
												</div>
											</div>
										</div>
									</div>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Range &amp; Time Picker</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="control-group">
									<div class="controls">
										<div class="input-group">
											<span class="input-group-addon"><i class="ion-android-calendar"></i></span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" style="width: 400px" name="reservation" class="form-control bootstrap-daterangepicker-date-time" value="08/01/2013 1:00 PM - 08/01/2013 1:30 PM">
												</div>
											</div>
										</div>
									</div>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Bootstrap Dropdown</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="btn btn-danger bootstrap-daterangepicker-dropdown" >
									<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
									<span></span>
									<b class="caret"></b>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Only Specific Ranges</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="btn btn-success bootstrap-daterangepicker-specific">
									<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
									<span>October 11, 2014 - October 17, 2014</span>
									<b class="caret"></b>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TIME PICKERS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">In Input</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" id="clockface1" value="2:30 PM" data-format="hh:mm A" class="form-control">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Button</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="input-group">
									<span id="clockface-toggle" class="input-group-addon">
										<i class="ion-android-calendar"></i>
									</span>
									<div class="inputer">
										<div class="input-wrapper">
											<input type="text" id="clockface2" value="14:30" class="form-control" readonly="">
										</div>
									</div>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Inline</div><!--.col-md-3-->
							<div class="col-md-9">
								<div id="clockface3" class="well" style="width: 210px;"></div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-brown">
					<a href="forms-tools.html">
						<span class="state">Forms</span>
						<span>Tools</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-icheck.html">
						<span class="state">Forms</span>
						<span>iCheck</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		FormsPickers.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-pickers.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:52 GMT -->
</html>