<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-image-cropper.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:18 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Image Cropper</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Image Cropper <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">Image Cropper</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>IMAGE CROPPER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="croppper-container">
							<div class="row cropper-main">
								<div class="col-sm-8">
									<div class="cropper-wrapper">
										<img class="cropper" src="../../assets/globals/img/picjumbo/1.jpg" alt="Picture">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="cropper-preview clearfix">
										<div class="preview preview-lg"></div>
										<div class="preview preview-md"></div>
										<div class="preview preview-sm"></div>
										<div class="preview preview-xs"></div>
									</div>
									<div class="cropper-data">
										<form action="http://teamfox.co/themes/pleasure/app/admin1/demo/image-cropper.php" method="post" target="_blank">
											<div class="input-group">
												<span class="input-group-addon">X</span>
												<div class="inputer">
													<div class="input-wrapper">
														<input class="form-control" id="dataX" name="dataX" type="text" placeholder="x">
													</div>
												</div>
											</div>
											<div class="input-group">
												<span class="input-group-addon">Y</span>
												<div class="inputer">
													<div class="input-wrapper">
														<input class="form-control" id="dataY" name="dataY" type="text" placeholder="y">
													</div>
												</div>
											</div>
											<div class="input-group">
												<span class="input-group-addon">Width</span>
												<div class="inputer">
													<div class="input-wrapper">
														<input class="form-control" id="dataW" name="dataW" type="text" placeholder="width">
													</div>
												</div>
											</div>
											<div class="input-group">
												<span class="input-group-addon">Height</span>
												<div class="inputer inputer-light-blue">
													<div class="input-wrapper">
														<input class="form-control" id="dataH" name="dataH" type="text" placeholder="height">
													</div>
												</div>
											</div>
											<input id="dataS" name="dataS" type="hidden" value="1">
											<button type="submit" class="btn btn-primary btn-block margin-bottom-20">Crop</button>
										</form>
									</div>
								</div>
							</div>
							<div class="clearfix">
								<div class="row cropper-input">
									<div class="col-md-6">
										<div class="input-group">
											<div class="inputer inputer-light-blue">
												<div class="input-wrapper">
													<input class="form-control" id="showData" type="text" value="data...">
												</div>
											</div>
											<span class="input-group-btn">
												<button class="btn btn-info" id="getData" type="button">Get Data</button>
											</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="input-group">
											<div class="inputer inputer-light-blue">
												<div class="input-wrapper">
													<input class="form-control" id="aspectRatio" name="aspectRatio" type="text" value="auto">
												</div>
											</div>
											<span class="input-group-btn">
												<button class="btn btn-info" id="setAspectRatio" type="button">Set Aspect Ratio</button>
											</span>
										</div>

										<div class="input-group">
											<div class="inputer inputer-light-blue">
												<div class="input-wrapper">
													<input type="text" id="sourcePath" class="form-control" disabled value="../../assets/globals/img/picjumbo/1.jpg">
												</div>
											</div>
											<div class="input-group-btn">
												<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Change image <span class="caret"></span></button>
												<ul class="dropdown-menu" role="menu">
													<li><a href="javascript:;" class="changeImage" data-img-source="1">Image 1</a></li>
													<li><a href="javascript:;" class="changeImage" data-img-source="2">Image 2</a></li>
												</ul>
											</div><!--.input-group-btn-->
										</div><!--.input-group-->
									</div>
								</div>
							</div>
						</div><!--.cropper-container-->

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>IN A MODAL WINDOW</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#bs-modal">Launch the demo</button>
					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="modal scale fade" id="bs-modal" tabindex="-1" role="dialog" aria-labelledby="bs-modal-label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="bs-modal-label">Cropper</h4>
					</div>
					<div class="modal-body">
						<div class="bs-modal-cropper"><img src="../../assets/globals/img/picjumbo/1.jpg" alt="Picture 1"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-flat btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div><!--.modal-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-brown">
					<a href="forms-jcrop.html">
						<span class="state">Forms</span>
						<span>J Crop</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-dropzone.html">
						<span class="state">Forms</span>
						<span>Dropzone</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		ImageCropper.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-image-cropper.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:20 GMT -->
</html>