<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-wizard.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:07 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Form Wizard</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Wizard <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">Wizard</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel bs-wizard bs-wizard-progress">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>FORM WIZARD WITH PROGRESS BAR</h4>
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
								</div><!--.progress-->
							</div><!--.panel-title-->
						</div><!--.panel-heading-->
						<div class="panel-body">

							<form id="form1" method="post" action="#" class="form-horizontal">

								<ul class="hide">
									<li><a href="#tab1" data-toggle="tab">First</a></li>
									<li><a href="#tab2" data-toggle="tab">Second</a></li>
									<li><a href="#tab3" data-toggle="tab">Third</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane" id="tab1">
										<div class="form-group">
											<label class="control-label col-md-4">Email</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="email" class="form-control" placeholder="your email address" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<label class="control-label col-md-4">Password</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input id="mirror-password" type="password" name="password" class="form-control" placeholder="password" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<label class="control-label col-md-4">Confirm password</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="password" name="rpassword" class="form-control" placeholder="confirm password" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->

									<div class="tab-pane" id="tab2">
										<div class="form-group">
											<label class="control-label col-md-4">Facebook account</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="facebook" class="form-control" placeholder="facebook username" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<label class="control-label col-md-4">Twitter account</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="twitter" class="form-control" placeholder="twitter username" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->

									<div class="tab-pane" id="tab3">
										<div class="form-group">
											<label class="control-label col-md-4">Your name</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="fullname" class="form-control" placeholder="your full name" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<label class="control-label col-md-4">Your address</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="address" class="form-control" placeholder="your postal address" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->

								</div><!--.tab-content-->
							</form>

						</div><!--.panel-body-->
						<div class="panel-footer">
							<ul class="wizard clearfix">
								<li class="bs-wizard-prev pull-left"><button class="btn btn-flat btn-default">Previous</button></li>
								<li class="bs-wizard-next pull-right"><button class="btn btn-blue">Next</button></li>
								<li class="bs-wizard-submit pull-right"><button type="submit" class="btn btn-blue">Complete setup</button></li>
							</ul>
						</div><!--.panel-foter-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="panel bs-wizard bs-wizard-steps">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>STEP BY STEP</h4>
								<div class="steps-pull-right">
									<ul class="wizard-steps">
										<li class="step"><a href="#form2_tab1" data-toggle="tab" class="btn btn-primary">1</a></li>
										<li class="step"><a href="#form2_tab2" data-toggle="tab" class="btn btn-white">2</a></li>
										<li class="step"><a href="#form2_tab3" data-toggle="tab" class="btn btn-white">3</a></li>
									</ul>
								</div><!--.steps-pull-right-->
							</div><!--.panel-title-->
						</div><!--.panel-heading-->
						<div class="panel-body">

							<form id="form2" method="post" action="#" class="">

								<div class="tab-content">
									<div class="tab-pane" id="form2_tab1">

										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="email" class="form-control" placeholder="Email Address" required>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input id="mirror-password2" type="password" name="password" placeholder="Password" class="form-control" required>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="password" name="rpassword" class="form-control" placeholder="Password confirmation" required>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->

									<div class="tab-pane" id="form2_tab2">
										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="facebook" class="form-control" placeholder="Facebook account" required>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="twitter" class="form-control" placeholder="Twitter account" required>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->

									<div class="tab-pane" id="form2_tab3">
										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="fullname" class="form-control" placeholder="Your name" required>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="address" class="form-control" placeholder="Your address" required>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->
								</div><!--.tab-content-->

							</form>

						</div><!--.panel-body-->
						<div class="panel-footer">
							<ul class="wizard clearfix">
								<li class="bs-wizard-prev pull-left"><button class="btn btn-flat btn-default">Previous</button></li>
								<li class="bs-wizard-next pull-right"><button class="btn btn-blue">Next</button></li>
								<li class="bs-wizard-submit pull-right"><button type="submit" class="btn btn-blue">Complete setup</button></li>
							</ul>
						</div><!--.panel-footer-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="panel bs-wizard bs-wizard-steps-with-progress">
						<div class="panel-heading">
							<div class="panel-title text-center"><h4>CUSTOM ICONS &amp; TITLE CONTROL</h4></div>

							<div class="steps-centered">
								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
									</div>
								</div><!--.progress-->

								<ul class="wizard-steps">
									<li class="step" data-title="CUSTOM ICONS &amp; TITLE CONTROL">
										<a href="#form3_tab1" data-toggle="tab" class="btn btn-primary"><i class="glyphicon glyphicon-star"></i></a>
									</li>
									<li class="step" data-title="SOCIAL PROFILES">
										<a href="#form3_tab2" data-toggle="tab" class="btn btn-white"><i class="glyphicon glyphicon-music"></i></a>
									</li>
									<li class="step" data-title="PERSONAL DETAILS">
										<a href="#form3_tab3" data-toggle="tab" class="btn btn-white"><i class="glyphicon glyphicon-cloud"></i></a>
									</li>
								</ul><!--.wizard-steps-->
							</div><!--.steps-centered-->

						</div><!--.panel-heading-->
						<div class="panel-body">

							<form id="form3" method="post" action="#" class="">

								<div class="tab-content">
									<div class="tab-pane" id="form3_tab1">

										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="email" class="form-control" placeholder="Email" required>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input id="mirror-password3" type="password" name="password" class="form-control" placeholder="Password" required>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="password" name="rpassword" class="form-control" placeholder="Confirm password" required>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->

									<div class="tab-pane" id="form3_tab2">
										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="facebook" class="form-control" placeholder="Facebook account" required>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="twitter" class="form-control" placeholder="Twitter account" required>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->

									<div class="tab-pane" id="form3_tab3">
										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="fullname" class="form-control" placeholder="Your name" required>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="address" class="form-control" placeholder="Your address" required>
												</div>
											</div>
										</div><!--.form-group-->

									</div><!--.tab-pane-->
								</div><!--.tab-content-->

							</form>

						</div><!--.panel-body-->
						<div class="panel-footer">
							<ul class="wizard clearfix">
								<li class="bs-wizard-prev pull-left"><button class="btn btn-flat btn-default">Previous</button></li>
								<li class="bs-wizard-next pull-right"><button class="btn btn-blue">Next</button></li>
								<li class="bs-wizard-submit pull-right"><button type="submit" class="btn btn-blue">Complete setup</button></li>
							</ul>
						</div><!--.panel-footer-->

				</div><!--.panel-->
			</div><!--.col-md-6-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel bs-wizard bs-wizard-justified">
						<div class="panel-heading padding-0">
							<div class="panel-title text-center"><h4>JUSTIFIED STEPS</h4></div>
							<ul class="nav nav-justified">
								<li>
									<a href="#form4_tab1" data-toggle="tab">
										<p class="list-group-item-heading">Account Setup</p>
										<p class="list-group-item-text">Create your account</p>
									</a>
								</li>
								<li>
									<a href="#form4_tab2" data-toggle="tab">
										<p class="list-group-item-heading">Social Profiles</p>
										<p class="list-group-item-text">Your social accounts</p>
									</a>
								</li>
								<li>
									<a href="#form4_tab3" data-toggle="tab">
										<p class="list-group-item-heading">Personal Details</p>
										<p class="list-group-item-text">Your personal information</p>
									</a>
								</li>
							</ul>
						</div><!--.panel-heading-->
						<div class="panel-body">

							<form id="form4" method="post" action="#" class="form-horizontal">
								<div class="tab-content">
									<div class="tab-pane" id="form4_tab1">
										<div class="form-group">
											<label class="control-label col-md-4">Email</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="email" class="form-control" placeholder="your email address" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<label class="control-label col-md-4">Password</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input id="mirror-password4" type="password" name="password" class="form-control" placeholder="password" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<label class="control-label col-md-4">Confirm password</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="password" name="rpassword" class="form-control" placeholder="confirm password" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->

									<div class="tab-pane" id="form4_tab2">
										<div class="form-group">
											<label class="control-label col-md-4">Facebook account</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="facebook" class="form-control" placeholder="facebook username" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<label class="control-label col-md-4">Twitter account</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="twitter" class="form-control" placeholder="twitter username" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->

									<div class="tab-pane" id="form4_tab3">
										<div class="form-group">
											<label class="control-label col-md-4">Your name</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="fullname" class="form-control" placeholder="your full name" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
										<div class="form-group">
											<label class="control-label col-md-4">Your address</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="address" class="form-control" placeholder="your postal address" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->

								</div><!--.tab-content-->
							</form>

						</div><!--.panel-body-->
						<div class="panel-footer">
							<ul class="wizard clearfix">
								<li class="bs-wizard-prev pull-left"><button class="btn btn-flat btn-default">Previous</button></li>
								<li class="bs-wizard-next pull-right"><button class="btn btn-blue">Next</button></li>
								<li class="bs-wizard-submit pull-right"><button type="submit" class="btn btn-blue">Complete setup</button></li>
							</ul>
						</div><!--.panel-foter-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-brown">
					<a href="forms-validation.html">
						<span class="state">Forms</span>
						<span>Validation</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-wysiwyg-editors.html">
						<span class="state">Forms</span>
						<span>Text Editors</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		FormsWizard.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-wizard.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:10 GMT -->
</html>