<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-range-sliders.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:54 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Range Sliders</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Range Sliders <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">Range Sliders</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>NO UI RANGE SLIDER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Basic</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="nouislider nouislider-basic"></div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Color Options</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="nouislider nouislider-basic success margin-bottom-20"></div>
								<div class="nouislider nouislider-basic info margin-bottom-20"></div>
								<div class="nouislider nouislider-basic warning margin-bottom-20"></div>
								<div class="nouislider nouislider-basic danger margin-bottom-20"></div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Range</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="nouislider nouislider-range"></div>
								<div class="well well-sm example-val nouislider-range-value"></div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Stepping and Snapping to Value</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="nouislider nouislider-step"></div>
								<div class="well well-sm example-val nouislider-step-value"></div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Getter and Setter Functions</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="nouislider nouislider-handle margin-bottom-10"></div>
								<button type="button" id="nouislider-handle-read" class="btn btn-xs btn-primary button-striped button-full-striped">Read slider value</button>
								<button type="button" id="nouislider-handle-set" class="btn btn-xs btn-danger button-striped button-full-striped">Set to 20</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Number Formatting</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="nouislider nouislider-formatting"></div>
								<div class="well well-sm example-val nouislider-formatting-value"></div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Configurable Limits</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="nouislider nouislider-limit"></div>
								<div class="well well-sm">
									<ul>
										<li><span class="example-val nouislider-limit-value-min"></span></li>
										<li><span class="example-val nouislider-limit-value-max"></span></li>
									</ul>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Right to Left</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="nouislider nouislider-rtl"></div>
								<div class="well well-sm example-val nouislider-rtl-value"></div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Toggle</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="pull-left">
									<div class="nouislider nouislider-toggle"></div>
								</div>
								<div class="pull-left margin-left-10">
									<div class="well well-sm example-val nouislider-toggle-value"></div>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Vertical</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="pull-left example-vertical">
									<div class="nouislider nouislider-vertical"></div>
								</div>
								<div class="pull-left margin-left-10">
									<div class="well well-sm example-val nouislider-vertical-value"></div>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Date</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="nouislider nouislider-date"></div>
								<div class="well well-sm">
									<ul>
										<li><span class="example-val nouislider-date-value-min"></span></li>
										<li><span class="example-val nouislider-date-value-max"></span></li>
									</ul>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Pips Addon</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="margin-bottom-50">
									<div class="nouislider nouislider-pips nouislider-pips-range-basic nouislider-pips-range"></div>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Pips Addon RTL</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="margin-bottom-50">
									<div class="nouislider nouislider-pips nouislider-pips-range-rtl nouislider-pips-range"></div>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Pips Addon Vertical</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="example-vertical margin-bottom-50">
									<div class="nouislider nouislider-pips nouislider-pips-range-vertical nouislider-pips-range"></div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Pips Addon Vertical RTL</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="example-vertical margin-bottom-50">
									<div class="nouislider nouislider-pips nouislider-pips-range-vertical-rtl nouislider-pips-range"></div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Pips Values</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="margin-bottom-50">
									<div class="nouislider nouislider-pips nouislider-pips-value-basic nouislider-pips-value"></div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Pips Positions</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="margin-bottom-50">
									<div class="nouislider nouislider-pips nouislider-pips-positions-basic nouislider-pips-positions"></div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ION RANGE SLIDER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Basic</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="text" name="" class="ionrange-basic">
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Money Range 1</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="text" name="" class="ionrange-money1">
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Money Range 2</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="text" name="" class="ionrange-money2">
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Measurement Range</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="text" name="" class="ionrange-carat">
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Temperature Range</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="text" name="" class="ionrange-temperature">
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Month Range</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="text" name="" class="ionrange-month">
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Callbacks</div><!--.col-md-3-->
							<div class="col-md-9">
								<input type="text" name="" class="ionrange-callbacks margin-bottom-10">
								<div class="well well-sm">
									<ul>
										<li><span class="example-val ionrange-callbacks-value-min"></span></li>
										<li><span class="example-val ionrange-callbacks-value-max"></span></li>
									</ul>
								</div><!--.well-->
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-brown">
					<a href="forms-icheck.html">
						<span class="state">Forms</span>
						<span>iCheck</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-selects.html">
						<span class="state">Forms</span>
						<span>Selectboxes</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		FormsIonRangeSlider.init();
		FormsNoUISlider.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-range-sliders.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:56 GMT -->
</html>