<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-tools.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Form Tools</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Form Tools <small>Activity Summary</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Form</a></li>
						<li><a href="#" class="active">Tools</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>INPUT MASK</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Date 1</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control inputmask inputmask-date1">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Date 2</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control inputmask inputmask-date2">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Date 3</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control inputmask inputmask-date3">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Currency</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control inputmask inputmask-currency">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Decimal</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control inputmask inputmask-decimal">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Decimal Right Aligned</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control inputmask inputmask-decimal-right">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Phone</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control inputmask inputmask-phone">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Email Address</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control inputmask inputmask-email">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">IP V4</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control inputmask inputmask-ipv4">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">IP V6</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control inputmask inputmask-ipv6">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>CREDIT CARDS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Card Number</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control payment-number" pattern="\d*">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Expiration Date</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control payment-exp">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">CVC Number</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control payment-cvc" autocomplete="off">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Restrict Numeric</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control payment-restrict">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>FORM TOOLS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Google Captcha</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="g-recaptcha" data-sitekey="6Lf9v_4SAAAAADJDnxqW24KxO6M3Urqa_4cqY79-"></div>
								<small><a href="https://www.google.com/recaptcha/" target="_blank">For more information and customization</a></small>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Password Strength</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="form-group">
									<div class="inputer">
										<div class="input-wrapper">
											<input id="password-strength" class="form-control" type="password" placeholder="Password">
										</div>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Password Strength 2</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="pwd-container">
									<div class="inputer">
										<div class="input-wrapper">
											<input type="text" class="form-control password-strength2" placeholder="Password">
										</div>
									</div>
									<div class="pwstrength_viewport_progress"></div>
									<div class="pwstrength_viewport_verdict"></div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>MAX LENGTH</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Default</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input class="maxlength maxlength-default form-control" maxlength="25" type="text" placeholder="When the remaining chars are 10 or less">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Threshold Value</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input class="maxlength maxlength-threshold form-control" maxlength="25" type="text" placeholder="When there are 20 chars or less">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Options</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input class="maxlength maxlength-options form-control" maxlength="25" type="text" placeholder="All the options configured">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Textarea</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<textarea class="maxlength maxlength-textarea form-control" rows="4" maxlength="100" placeholder=" Supports textarea as well as inputs. Even on old IE"></textarea>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Positions</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input class="maxlength maxlength-position form-control" maxlength="25" type="text" placeholder="The field counter can be positioned at the top, bottom, left or right">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SPINNERS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">With Postfix</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" value="55" name="" class="touchspin touchspin-postfix form-control">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">With Prefix</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" value="15" name="" class="touchspin touchspin-prefix form-control">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Vertical Buttons</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" value="5" name="" class="touchspin touchspin-vertical form-control">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Steps</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" value="10" name="" class="touchspin touchspin-step form-control">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Custom Icon</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" value="5" name="" class="touchspin touchspin-icons form-control">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Custom Button Class</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" value="5" name="" class="touchspin touchspin-class form-control">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TYPEAHEAD AUTOCOMPLETE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Basic</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input class="typeahead typeahead-basic form-control" type="text" placeholder="Type a head">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Prefetch</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input class="typeahead typeahead-prefetch form-control" type="text" placeholder="Countries">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Custom Templates</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input class="typeahead typeahead-custom form-control" type="text" placeholder="Oscar winners">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Multiple Data Sets</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input class="typeahead typeahead-custom form-control" type="text" placeholder="NBA and NHL teams">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Scrollable Dropdown</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<input class="typeahead typeahead-scrollable form-control" type="text" placeholder="Countries">
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">RTL Support</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<div class="rtl-support">
											<input class="typeahead typeahead-rtl form-control" type="text" placeholder="نعم">
										</div>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TEXT COMPLETE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Basic</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<textarea class="form-control text-complete text-complete-basic" rows="4" placeholder="type :a or facebook"></textarea>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Html Element</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<textarea class="form-control text-complete text-complete-html" rows="4" placeholder="type html element starting with &lt; "></textarea>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">With Overlay.js Plugin</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<textarea class="form-control text-complete text-complete-overlay" rows="4">Hey @guys, All words start with @ are emphasized like @this. @yuku_t @yuku_t</textarea>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Content Editables</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<div class="text-complete text-complete-contenteditable" contenteditable="true"><b>Look</b> at this <em>glorious</em> contenteditable.</div>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>GEOCOMPLETE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Basic</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="form-group">
									<div class="inputer">
										<div class="input-wrapper">
											<input class="geocomplete geocomplete-basic form-control margin-bottom-10" type="text" placeholder="Type an address">
										</div>
									</div>
									<div class="logger well well-sm">Result</div>
								</div><!--.form-group-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Map</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="form-group">
									<div class="inputer">
										<div class="input-wrapper">
											<input class="geocomplete geocomplete-basic-map form-control margin-bottom-10" type="text" placeholder="Type an address">
										</div>
									</div>
									<div class="geocomplete-basic-map-target geocomplete-map margin-bottom-10"></div>
									<div class="logger well well-sm">Result</div>
								</div><!--.form-group-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Map with Initial Value</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="form-group">
									<div class="inputer">
										<div class="input-wrapper">
											<input class="geocomplete geocomplete-basic-map-initial form-control margin-bottom-10" type="text" placeholder="Type an address">
										</div>
									</div>
									<div class="geocomplete-basic-map-initial-target geocomplete-map margin-bottom-10"></div>
									<div class="logger well well-sm">Result</div>
								</div><!--.form-group-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Map Data</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="form-group">
									<div class="inputer">
										<div class="input-wrapper">
											<input class="geocomplete geocomplete-map-data form-control margin-bottom-10" type="text" placeholder="Type an address">
										</div>
									</div>
									<div class="geocomplete-map-data-target geocomplete-map margin-bottom-10"></div>
									<div class="geocomplete-map-data-logger">
										<ul>
											<li>Latitude: <span data-geo="lat"></span></li>
											<li>Longitude: <span data-geo="lng"></span></li>
											<li>Location: <span data-geo="location"></span></li>
										</ul>
									</div>
								</div><!--.form-group-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Draggable</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="form-group">
									<div class="inputer">
										<div class="input-wrapper">
											<input class="geocomplete geocomplete-map-draggable form-control margin-bottom-10" type="text" placeholder="Type an address">
										</div>
									</div>
									<div class="geocomplete-map-draggable-target geocomplete-map margin-bottom-10"></div>
									<div class="geocomplete-map-draggable-logger">
										<ul>
											<li>Latitude: <span data-geo="lat"></span></li>
											<li>Longitude: <span data-geo="lng"></span></li>
											<li>Address: <span data-geo="formatted_address"></span></li>
										</ul>
									</div>
								</div><!--.form-group-->

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-brown">
					<a href="forms-layouts.html">
						<span class="state">Forms</span>
						<span>Layouts</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-pickers.html">
						<span class="state">Forms</span>
						<span>Pickers</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		FormsTools.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-tools.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:46 GMT -->
</html>