<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/grids-bootstrap.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:58 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Bootstrap Grids</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-pink">
			<div class="row">
				<div class="col-sm-6">
					<h1>Bootstrap Grids <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Grids</a></li>
						<li><a href="#" class="active">Bootstrap Grids</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>FULL WIDTH</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE HALF</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->
			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE HALF</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-4">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE THIRD</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-4-->
			<div class="col-md-4">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE THIRD</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-4-->
			<div class="col-md-4">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE THIRD</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-4-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-3">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE FOURTH</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-3-->
			<div class="col-md-3">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE FOURTH</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-3-->
			<div class="col-md-3">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE FOURTH</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-3-->
			<div class="col-md-3">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE FOURTH</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-3-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-2">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE EIGHT</h4></div>
					</div><!--.panel-heading-->

				</div><!--.panel-->
			</div><!--.col-md-2-->
			<div class="col-md-2">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE EIGHT</h4></div>
					</div><!--.panel-heading-->

				</div><!--.panel-->
			</div><!--.col-md-2-->
			<div class="col-md-2">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE EIGHT</h4></div>
					</div><!--.panel-heading-->

				</div><!--.panel-->
			</div><!--.col-md-2-->
			<div class="col-md-2">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE EIGHT</h4></div>
					</div><!--.panel-heading-->

				</div><!--.panel-->
			</div><!--.col-md-2-->
			<div class="col-md-2">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE EIGHT</h4></div>
					</div><!--.panel-heading-->

				</div><!--.panel-->
			</div><!--.col-md-2-->
			<div class="col-md-2">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE EIGHT</h4></div>
					</div><!--.panel-heading-->

				</div><!--.panel-->
			</div><!--.col-md-2-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-cyan">
					<a href="components-tree-view.html">
						<span class="state">Components</span>
						<span>Tree View</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-pink">
					<a href="grids-bootstrap-extra.html">
						<span class="state">Grids</span>
						<span>Bootstrap Extra</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/grids-bootstrap.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:58 GMT -->
</html>