<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	
	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Create Invoice</h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"></h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Member Name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Flat Type</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Building no</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->
										<div class="form-group">
									<label class="control-label col-md-3">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Year</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
								</div>
									</div>
								</div><!--.form-group-->
								<div class="row example-row">
							<div class="col-md-3">Frequency</div><!--.col-md-3-->
							<div class="col-md-9">
								<select data-placeholder="Choose a type" class="chosen-select">
									<option value="">Select</option>
									<option value="Community hall">Monthly</option>
									<option value="Adverties">Quarterly</option>
									<option value="Adverties">Half Yearly</option>
									<option value="Adverties">Yearly</option>
									</select>
									</div><br>



<div class="row example-row">
							<div class="col-md-3">Period</div><!--.col-md-3-->
							<div class="col-md-9">
								<select data-placeholder="Choose a type" class="chosen-select">
									<option value="">Select</option>
									<option value="Community hall">1st half</option>
									<option value="Adverties">2nd half</option>
									</select>
									</div>


									<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">From Date</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->


								<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">To Date</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->



								<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Invoice date</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->





								<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Due Date</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->


								<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Create Invoice</button>