<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/maps-google.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:29:11 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Google Maps</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-purple">
			<div class="row">
				<div class="col-sm-6">
					<h1>Google Maps <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Maps</a></li>
						<li><a href="#" class="active">Google Maps</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BASIC</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div id="gmaps_1" class="example-map"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>CONTEXTUAL MENU</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div id="gmaps_2" class="example-map"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>GEOCODING</h4>
							<div class="panel-inputs">
								<form method="post" id="geocoding_form">
									<div class="input-group">
										<input type="text" id="address" name="address" class="form-control input-circle-left" placeholder="Place">
										<span class="input-group-btn">
											<button class="btn btn-circle-right btn-default" type="submit">Find</button>
										</span>
									</div><!--.input-group-->
								</form>
							</div><!--.panel-inputs-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div id="gmaps_3" class="example-map"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>GEOLOCATION</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div id="gmaps_4" class="example-map"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>CLOUD LAYER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div id="gmaps_7" class="example-map"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TRAFFIC LAYER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div id="gmaps_8" class="example-map"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>EVENTS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div id="gmaps_9" class="example-map"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>STYLED</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div id="gmaps_10" class="example-map"></div>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-deep-purple">
					<a href="charts-knob.html">
						<span class="state">Charts</span>
						<span>Knob Charts</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-purple">
					<a href="maps-leaflet.html">
						<span class="state">Maps</span>
						<span>Leaflet Maps</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN PLUGINS AREA -->
	<script src="http://maps.google.com/maps/api/js?sensor=true&amp;libraries=weather,traffic"></script>
	<!-- END PLUGINS AREA -->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		MapsGoogle.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/maps-google.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:29:11 GMT -->
</html>