<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-datatables-extensions.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:37 GMT -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>PLEASURE - Datatable Extensions</title>

  
</head>
<body>

  <!--.nav-bar-container-->

  <div class="content">

    <div class="page-header full-content bg-black">
      <div class="row">
        <div class="col-sm-6">
          <h1>Datatable Extensions</h1>
        </div><!--.col-->
        <div class="col-sm-6">
          <ol class="breadcrumb">
            <li><a href="#"><i class="ion-home"></i></a></li>
            <li><a href="#">Tables</a></li>
            <li><a href="#" class="active">Datatable Extension</a></li>
          </ol>
        </div><!--.col-->
      </div><!--.row-->
    </div><!--.page-header-->

    
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title"><h4>Members Contact</h4></div>
          </div><!--.panel-heading-->
          <div class="panel-body">

            <table class="display nowrap datatables-responsive-column">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
              </thead>

              <tbody>
                
                <tr>
                  <td></td>
                  <td>Michael Bruce</td>
                  <td>Javascript Developer</td>
                  <td>Singapore</td>
                  <td>29</td>
                  <td>2011/06/27</td>
                  <td>$183,000</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Donna Snider</td>
                  <td>Customer Support</td>
                  <td>New York</td>
                  <td>27</td>
                  <td>2011/01/25</td>
                  <td>$112,000</td>
                </tr>
              </tbody>
            </table>

          </div><!--.panel-body-->
        </div><!--.panel-->
      </div><!--.col-md-12-->
    </div><!--.row-->


    

    

  <div class="layer-container">

    <!-- BEGIN MENU LAYER -->
    <!-- END OF MENU LAYER -->

    <!-- BEGIN SEARCH LAYER -->
    <!-- END OF SEARCH LAYER -->

    <!-- BEGIN USER LAYER -->
    <!-- END OF USER LAYER -->

  </div><!--.layer-container-->

  
  <!-- BEGIN INITIALIZATION-->
  <script>
  $(document).ready(function () {
    Pleasure.init();
    Layout.init();
    TablesDataTablesExtensions.init();
  });
  </script>
  <!-- END INITIALIZATION-->

  <!-- BEGIN Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

    ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
    ga('send', 'pageview');
  </script>
  <!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-datatables-extensions.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:42 GMT -->
</html>