<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Selectboxes</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-brown">
			<div class="row">
				<div class="col-sm-6">
					<h1>Non Regular Income </h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">Selectboxes</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>CHOOSEN</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Type</div><!--.col-md-3-->
							<div class="col-md-9">
								<select data-placeholder="Choose a type" class="chosen-select">
									<option value="">Select</option>
									<option value="Community hall">Community hall</option>
									<option value="Adverties">Adverties</option>
									</select>
									</div><br>

									<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Member Type</div><!--.col-md-3-->
							<div class="col-md-9">
								<select data-placeholder="Choose a type" class="chosen-select">
									<option value="">Select</option>
									<option value="Resident">Resident</option>
									<option value="Adverties">Non-Resident</option>
									</select>
									</div><br>


									<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
						<label class="control-label col-md-3">Building</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Flat</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->


								<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->


								<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Amount</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->


								<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Date</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->


								<h1<small>Enter Payment Details</small></h1>
												<div class="row example-row">
							<div class="col-md-9">

								<ul class="nav nav-tabs nav-justified" role="tablist">
									<li class="active"><a href="#tab4_1" data-toggle="tab">Cheque</a></li>
									<li><a href="#tab4_2" data-toggle="tab">Cash</a></li>
									<li><a href="#tab4_3" data-toggle="tab">Draft</a></li>
									<li><a href="#tab4_4" data-toggle="tab">Online payment</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab4_1">
										Cheque Details:
										<div class="form-group">
												<label class="control-label col-md-4">Description*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->

											<div class="form-group">
												<label class="control-label col-md-4">Cheque Number*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Bank Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Branch Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->					
											<div class="form-group">
												<label class="control-label col-md-4">Payment Date*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->

									</div><!--.tab-pane-->


									<div class="tab-pane" id="tab4_2">
											<div class="form-group">
												<label class="control-label col-md-4">Description*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Bank Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Branch Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->					
											<div class="form-group">
												<label class="control-label col-md-4">Payment Date*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->

									</div><!--.tab-pane-->


									<div class="tab-pane" id="tab4_3">
											<div class="form-group">
												<label class="control-label col-md-4">Description*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Draft Number*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Bank Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->					
											<div class="form-group">
												<label class="control-label col-md-4">Branch Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Payment Date*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
									</div><!--.tab-pane-->

									<div class="tab-pane" id="tab4_4">
											<div class="form-group">
												<label class="control-label col-md-4">Description*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Bank Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->					
											<div class="form-group">
												<label class="control-label col-md-4">Transaction Number*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Payment Date*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
									</div><!--.tab-pane-->
								</div><!--.tab-content-->

							</div><!--.col-md-9-->
						</div><!--.row-->
