<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-invoice.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:54 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Invoice</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
					<h1>Invoice <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#" class="active">Invoice</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>INVOICE</h4>
							<div class="panel-buttons">
								<button type="button" class="btn btn-primary print-trigger">Print</button>
							</div><!--.panel-buttons-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="invoice">
							<div class="invoice-heading">
								<div class="row date-row">
									<div class="col-md-6 col-xs-6">
										<img id="barcode" src="../../assets/globals/img/barcode.png" alt="">
									</div><!--.col-md-6-->
									<div class="col-md-6 col-xs-6 invoice-id">
										<h4>INVOICE: #49903123</h4>
										<h5>1 December 2014</h5>
									</div><!--.col-md-6-->
								</div><!--.row-->
								<div class="row customer-row">
									<div class="col-md-6 col-xs-6 company">
										<a href="#" class="company-logo"><img src="../../assets/admin1/img/logo-blue-large%402x.png" alt=""></a>
										<h5>TeamFox</h5>
										44-46 Morningside Road<br>
										Edinburgh<br>
										Italy<br>
										EH10 4BF
									</div><!--.col-md-6-->
									<div class="col-md-6 col-xs-6 customer">
										<a href="#" class="customer-logo"><img src="../../assets/globals/img/brands/1.png" alt=""></a>
										<h5>Sample Company</h5>
										44-46 Morningside Road<br>
										Edinburgh<br>
										United States<br>
										EH10 4BF
									</div><!--.col-md-6-->
								</div><!--.row-->
							</div><!--.invoice-heading-->
							<div class="invoice-body">
								<table class="table table-hover">
									<thead>
										<tr>
											<th></th>
											<th>Product</th>
											<th class="text-right">Quantity</th>
											<th class="text-right">Cost</th>
											<th class="text-right">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>
												Form Wizard
												<small>Dramatically visualize customer directed convergence without revolutionary ROI.</small>
											</td>
											<td class="text-right">10</td>
											<td class="text-right">$85</td>
											<td class="text-right">$850</td>
										</tr>
										<tr>
											<td>2</td>
											<td>
												Analytics Tool Membership
												<small>Dynamically procrastinate B2C users after installed base benefits.</small>
											</td>
											<td class="text-right">5</td>
											<td class="text-right">$1500</td>
											<td class="text-right">$7500</td>
										</tr>
										<tr>
											<td>3</td>
											<td>
												Project Management Tool<small>Collaboratively administrate empowered markets via plug-and-play networks.</small>
											</td>
											<td class="text-right">20</td>
											<td class="text-right">$99</td>
											<td class="text-right">$1980</td>
										</tr>
										<tr>
											<td colspan="3"></td>
											<td class="text-right"><strong>Sub Total:</strong></td>
											<td class="text-right">$10330</td>
										</tr>
										<tr>
											<td colspan="3"></td>
											<td class="text-right"><strong>Discount:</strong></td>
											<td class="text-right">-10%</td>
										</tr>
										<tr>
											<td colspan="3"></td>
											<td class="text-right"><strong>Grand Total:</strong></td>
											<td class="text-right">$9297</td>
										</tr>
									</tbody>
								</table>
							</div><!--.invoice-body-->
							<div class="invoice-footer">
								TeamFox - 2015
							</div><!--.invoice-footer-->
						</div><!--.invoice-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-indigo">
					<a href="pages-404.html" target="_blank">
						<span class="state">Pages</span>
						<span>404</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-indigo">
					<a href="pages-pricing.html">
						<span class="state">Pages</span>
						<span>Pricing Tables</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		Invoice.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-invoice.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:55 GMT -->
</html>