<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:53 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Contact Us</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
					<h1>Contact Us <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#" class="active">Contact Us</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>CONTACT US</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row contact-us">
							<div class="col-md-12">
								<div id="gmaps_10" class="map"></div>
							</div><!--.col-->

							<div class="col-md-3 col-sm-12">
								<h2 class="text-right">Contact</h2>
							</div><!--.col-->
							<div class="col-md-9 col-sm-12">
								<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
								<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
							</div><!--col-->
						</div><!--.row-->

						<div class="row margin-top-20">
							<div class="col-md-3 col-md-offset-3">
								<div class="address">
									<h4>United States</h4>
									The Business Centre<br>
									61 Wellfield Road<br>
									Cardiff<br>
									CF24 3DG
								</div>
							</div><!--.col-md-3-->
							<div class="col-md-3">
								<div class="address">
									<h4>United Kingdom</h4>
									14 Tottenham Court Road<br>
									London<br>
									England<br>
									W1T 1JY
								</div>
							</div><!--.col-md-3-->
							<div class="col-md-3">
								<div class="address">
									<h4>Scotland</h4>
									44-46 Morningside Road<br>
									Edinburgh<br>
									Scotland<br>
									EH10 4BF
								</div>
							</div><!--.col-md-3-->
						</div><!--.row-->

						<div class="row margin-top-20">
							<div class="col-md-9 col-md-offset-3">

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">First name</label>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="" class="form-control">
												</div><!--.input-wrapper-->
											</div><!--.inputer-->
										</div><!--.form-group-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">Last name</label>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="" class="form-control">
												</div><!--.input-wrapper-->
											</div><!--.inputer-->
										</div><!--.form-group-->
									</div><!--.col-md-6-->
								</div><!--.row-->

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select name="" class="selecter">
												<option>Location</option>
											</select>
										</div><!--.form-group-->
									</div><!--.col-md-6-->
									<div class="col-md-6">
										<label class="control-label">Status</label>
										<div class="clearfix">
											<div class="radioer form-inline">
												<input type="radio" name="radioContact" id="radioContact1" value="option1">
												<label for="radioContact1">Active</label>
											</div>
											<div class="radioer form-inline">
												<input type="radio" name="radioContact" id="radioContact2" value="option1">
												<label for="radioContact2">Passive</label>
											</div>
										</div>

									</div><!--.col-md-6-->
								</div><!--.row-->

								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Your Message</label>
											<div class="inputer">
												<div class="input-wrapper">
													<textarea class="form-control js-auto-size" rows="1" placeholder="Autosize textarea"></textarea>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.col-md-12-->
								</div><!--.row-->

								<button type="submit" class="btn btn-primary">Send</button>

							</div><!--col-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-indigo">
					<a href="pages-coming-soon.html">
						<span class="state">Pages</span>
						<span>Coming Soon</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-indigo">
					<a href="pages-404.html">
						<span class="state">Pages</span>
						<span>404</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		ContactUs.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:54 GMT -->
</html>