<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-timeline.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:55 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Timeline</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
					<h1>Timeline <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#" class="active">Timeline</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>MIRROR TIMELINE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="timeline">
							<div class="frame">
									<div class="timeline-badge">
										<i class="fa fa-bell"></i>
									</div><!--.timeline-badge-->
									<span class="timeline-date">17 October 2014</span>
									<div class="timeline-bubble">
										<h4>Without Cross-Media</h4>
										<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
									</div><!--.timeline-bubble-->
							</div><!--.frame-->
							<div class="frame">
								<div class="timeline-badge">
									<i class="fa fa-coffee"></i>
								</div><!--.timeline-badge-->
								<span class="timeline-date">17 September 2014</span>
								<div class="timeline-content">

									<div class="widget widget-event">
										<div class="widget-heading widget-bgimage sample-bg-image12">
										</div><!--.widget-heading-->
										<div class="widget-body">
											<div class="calendar">
												<div class="month">October</div>
												<div class="date">27</div>
											</div><!--.calendar-->
											<h4>Young Professionals London</h4>
											<p>A Social Networking group with an International mix of Young Professionals interested in meeting other like minded people for friendship / networking / partying at exclusive Members Clubs, Lounges &amp; Bars. Recommended age range is 21+.</p>
										</div><!--.widget-body-->
										<div class="widget-footer">
											<div class="btn-group btn-merged btn-group-sm pull-right">
												<button type="button" class="btn btn-default">Attend</button>
												<button type="button" class="btn btn-default">Maybe</button>
												<button type="button" class="btn btn-default">Decline</button>
												<button type="button" class="btn btn-default"><i class="fa fa-ellipsis-h fa-lg"></i></button>
											</div>
										</div><!--.widget-footer-->
									</div><!--.widget-->

								</div><!--.timeline-content-->
							</div><!--.frame-->
							<div class="frame">
								<div class="timeline-badge">
									<i class="fa fa-futbol-o"></i>
								</div><!--.timeline-badge-->
								<span class="timeline-date">17 August 2014</span>
								<div class="timeline-bubble">
									<h4>Functional Solutions</h4>
									<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
								</div><!--.timeline-bubble-->
							</div><!--.frame-->
							<div class="frame">
								<div class="timeline-badge">
									<i class="fa fa-life-ring"></i>
								</div><!--.timeline-badge-->
								<span class="timeline-date">17 July 2014</span>
								<div class="timeline-content">

									<div class="widget widget-quote">
										<div class="widget-full-bg widget-bgimage sample-bg-image11"></div>
										<div class="widget-body text-color-white">
											<div class="quote">
												<i class="fa fa-quote-left"></i>
												<p>Take an angled photo of your screen. All the cool kids do it.</p>
												<i class="fa fa-quote-right"></i>
											</div><!--.quote-->
											<a href="#" class="author">Fredrik Wahlgren</a>
										</div><!--.widget-body-->
									</div><!--.widget-->

								</div><!--.timeline-content-->
							</div><!--.frame-->
						</div><!--.timeline-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row wet-asphalt">
			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE SIDE TIMELINE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="timeline single">
							<div class="frame">
								<div class="timeline-badge">
									<i class="fa fa-headphones"></i>
								</div><!--.timeline-badge-->
								<span class="timeline-date">17 August 1999</span>
								<div class="timeline-content">
									<p>The 1999 Kocaeli earthquake occurred with a moment magnitude of 7.4 that struck northwestern Turkey on 17 August at about 3:02 a.m. local time.</p>
								</div><!--.timeline-content-->
							</div><!--.frame-->
							<div class="frame">
								<div class="timeline-badge">
									<i class="fa fa-tree"></i>
								</div><!--.timeline-badge-->
								<span class="timeline-date">18 April 1906</span>
								<div class="timeline-content">
									The San Francisco earthquake of 1906 struck San Francisco and the coast of Northern California at 5:12 a.m. on Wednesday, April 18, 1906.
								</div><!--.timeline-content-->
							</div><!--.frame-->
						</div><!--.timeline-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ONE SIDE TIMELINE RTL</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="timeline single rtl">
							<div class="frame">
								<div class="timeline-badge">
									<i class="fa fa-headphones"></i>
								</div><!--.timeline-badge-->
								<span class="timeline-date">17 August 1999</span>
								<div class="timeline-content">
									<p>The 1999 Kocaeli earthquake occurred with a moment magnitude of 7.4 that struck northwestern Turkey on 17 August at about 3:02 a.m. local time.</p>
								</div><!--.timeline-content-->
							</div><!--.frame-->
							<div class="frame">
								<div class="timeline-badge">
									<i class="fa fa-tree"></i>
								</div><!--.timeline-badge-->
								<span class="timeline-date">18 April 1906</span>
								<div class="timeline-content">
									The San Francisco earthquake of 1906 struck San Francisco and the coast of Northern California at 5:12 a.m. on Wednesday, April 18, 1906.
								</div><!--.timeline-content-->
							</div><!--.frame-->
						</div><!--.timeline-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-indigo">
					<a href="pages-search-results.html">
						<span class="state">Pages</span>
						<span>Search Results</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-indigo">
					<a href="blank.html">
						<span class="state">Pages</span>
						<span>Blank Page</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-timeline.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:55 GMT -->
</html>