<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:54 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - 404 Outside</title>

	<!-- BEGIN SHORTCUT AND TOUCH ICONS -->
	<link rel="apple-touch-icon" href="../assets/apple-touch-icon.png">
	<!-- END SHORTCUT AND TOUCH ICONS -->

	
</head>
<body class="http-error-outside">

	<div class="error-bg error-bg1"></div><!--.error-bg1-->

	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-lg-6 col-lg-offset-3">
				<div class="error-number">404</div>
				<div class="error-text">
					<p>You tried to access /not-found-page, which have been deleted or never have existed. </p>
					<p>You can use the search box below or go back to <a href="#">our homepage</a>.</p>
				</div>

				<div class="input-group">
					<div class="inputer">
						<div class="input-wrapper">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
					</div><!--.input-group-btn-->
				</div><!--.input-group-->

			</div>
		</div><!--.row-->
	</div><!--.container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:54 GMT -->
</html>