<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:44 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - About Us</title>

	<link rel="apple-touch-icon" href="../assets/apple-touch-icon.png">
	<!-- END SHORTCUT AND TOUCH ICONS -->

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
					<h1>About Us <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#" class="active">About Us</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row about-us">
			<div class="col-md-12">
				<div class="panel">

					<div class="panel-body">

						<div class="row">
							<div class="col-md-3 col-sm-12">
								<h2 class="text-right">Mission</h2>
							</div><!--.col-->
							<div class="col-md-9 col-sm-12">
								<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
								<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
								<p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
								<p>Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>
							</div><!--col-->
						</div><!--.row-->

						<div class="row client-list">
							<div class="col-md-3 col-sm-6 col-xs-6">
								<a href="#"><img src="../../assets/globals/img/brands/1.png" alt=""></a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<a href="#"><img src="../../assets/globals/img/brands/2.png" alt=""></a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<a href="#"><img src="../../assets/globals/img/brands/3.png" alt=""></a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<a href="#"><img src="../../assets/globals/img/brands/4.png" alt=""></a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<a href="#"><img src="../../assets/globals/img/brands/5.png" alt=""></a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<a href="#"><img src="../../assets/globals/img/brands/6.png" alt=""></a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<a href="#"><img src="../../assets/globals/img/brands/7.png" alt=""></a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<a href="#"><img src="../../assets/globals/img/brands/8.png" alt=""></a>
							</div>
						</div><!--.row.client-list-->

						<div class="row">
							<div class="col-md-3 col-sm-12">
								<h2 class="text-right">Team</h2>
							</div><!--.col-->
							<div class="col-md-9 col-sm-12">
								<p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
								<p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
							</div><!--col-->
						</div><!--.row-->

						<div class="row no-gutters">

							<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="card card-user-new">
									<img src="../../assets/globals/img/faces/large/1.jpg" class="member-image" alt="">
									<div class="card-body">
										<h5>James Ramos</h5>
										<h6>Web Developer</h6>
										<ul class="social-links list-inline">
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div><!--.card-body-->
								</div><!--.card-->
							</div><!--.col-md-3-->

							<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="card card-user-new">
									<img src="../../assets/globals/img/faces/large/2.jpg" class="member-image" alt="">
									<div class="card-body">
										<h5>Kathryn Hoffman</h5>
										<h6>Communications Liason</h6>
										<ul class="social-links list-inline">
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div><!--.card-body-->
								</div><!--.card-->
							</div><!--.col-md-3-->

							<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="card card-user-new">
									<img src="../../assets/globals/img/faces/large/3.jpg" class="member-image" alt="">
									<div class="card-body">
										<h5>William Romero</h5>
										<h6>Division Agent</h6>
										<ul class="social-links list-inline">
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div><!--.card-body-->
								</div><!--.card-->
							</div><!--.col-md-3-->

							<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="card card-user-new">
									<img src="../../assets/globals/img/faces/large/4.jpg" class="member-image" alt="">
									<div class="card-body">
										<h5>Justin Bowman</h5>
										<h6>Marketing Representative</h6>
										<ul class="social-links list-inline">
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div><!--.card-body-->
								</div><!--.card-->
							</div><!--.col-md-3-->

							<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="card card-user-new">
									<img src="../../assets/globals/img/faces/large/5.jpg" class="member-image" alt="">
									<div class="card-body">
										<h5>Eric Santos</h5>
										<h6>Integration Designer</h6>
										<ul class="social-links list-inline">
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div><!--.card-body-->
								</div><!--.card-->
							</div><!--.col-md-3-->

							<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="card card-user-new">
									<img src="../../assets/globals/img/faces/large/6.jpg" class="member-image" alt="">
									<div class="card-body">
										<h5>Mildred Bennett</h5>
										<h6>Usability Architect</h6>
										<ul class="social-links list-inline">
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div><!--.card-body-->
								</div><!--.card-->
							</div><!--.col-md-3-->

							<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="card card-user-new">
									<img src="../../assets/globals/img/faces/large/7.jpg" class="member-image" alt="">
									<div class="card-body">
										<h5>Peter Hicks</h5>
										<h6>Implementation Executive</h6>
										<ul class="social-links list-inline">
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div><!--.card-body-->
								</div><!--.card-->
							</div><!--.col-md-3-->

							<div class="col-md-3 col-sm-4 col-xs-6">
								<div class="card card-user-new">
									<img src="../../assets/globals/img/faces/large/8.jpg" class="member-image" alt="">
									<div class="card-body">
										<h5>Brittany Kelley</h5>
										<h6>Usability Director</h6>
										<ul class="social-links list-inline">
											<li><a href="#"><i class="fa fa-github"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div><!--.card-body-->
								</div><!--.card-->
							</div><!--.col-md-3-->

						</div><!--.row-->

					</div><!--.panel-body-->

				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-indigo">
					<a href="pages-blog.html">
						<span class="state">Pages</span>
						<span>Blog</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-indigo">
					<a href="pages-coming-soon.html" target="_blank">
						<span class="state">Pages</span>
						<span>Coming Soon</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:52 GMT -->
</html>