<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-search-results.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:55 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Search Results</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
					<h1>Search Results <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#" class="active">Search Results</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>SEARCH RESULTS</h4>
						</div><!--.panel-title-->
						<ul class="nav nav-tabs with-panel portlet-handle-cancel">
							<li class="active"><a href="#search-file" data-toggle="tab">File</a></li>
							<li><a href="#search-news" data-toggle="tab">News</a></li>
							<li><a href="#search-users" data-toggle="tab">Users</a></li>
						</ul>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="tab-content with-panel">
							<div id="search-file" class="tab-pane active">
								<div class="search-results search-file">
									<!-- Addclass "list-striped" to ul element if you want to list rows with stripe colors -->
									<ul class="search-list list-hover">
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa-file-pdf-o pdf"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#">Checklist Before Submitting.pdf</a></h6>
												<p class="source"><a href="#">/Users/Teamfox/Documents/Envato/Themeforest/Checklist Before Submitting.pdf</a></p>
												<ul class="list-inline">
													<li>10.1MB</li>
													<li><i class="fa fa-calendar-o"></i> 08.17.2014</li>
													<li><i class="fa fa-eye"></i> 402</li>
													<li><i class="fa fa-cloud-download"></i> 3</li>
												</ul>
											</div><!--.search-result-->
										</li>
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa-file-excel-o excel"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#">Teamfox-annual-report.xls</a></h6>
												<p class="source"><a href="#">http://www.teamfox.co/files/Teamfox-annual-report.xls</a></p>
												<ul class="list-inline">
													<li>4.3MB</li>
													<li><i class="fa fa-calendar-o"></i> 07.17.2014</li>
													<li><i class="fa fa-eye"></i> 2585</li>
													<li><i class="fa fa-cloud-download"></i> 93</li>
												</ul>
											</div><!--.search-result-->
										</li>
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa-file-word-o word"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#">License Aggrement.docx</a></h6>
												<p class="source"><a href="#">/Users/Teamfox/Documents/Envato/Themeforest/License Aggrement.docx</a></p>
												<ul class="list-inline">
													<li>2.9MB</li>
													<li><i class="fa fa-calendar-o"></i> 08.18.2014</li>
													<li><i class="fa fa-eye"></i> 398</li>
													<li><i class="fa fa-cloud-download"></i> 85</li>
												</ul>
											</div><!--.search-result-->
										</li>
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa-file-powerpoint-o powerpoint"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#">Presantation of new <span class="highlight">theme</span>s.pptx</a></h6>
												<p class="source"><a href="#">/Users/Teamfox/Documents/Envato/Themeforest/Presantation of new themes.pptx</a></p>
												<ul class="list-inline">
													<li>5.6MB</li>
													<li><i class="fa fa-calendar-o"></i> 08.18.2014</li>
													<li><i class="fa fa-eye"></i> 255</li>
													<li><i class="fa fa-cloud-download"></i> 34</li>
												</ul>
											</div><!--.search-result-->
										</li>
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa-file-audio-o audio"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#"><span class="highlight">Theme</span> Song.wav</a></h6>
												<p class="source"><a href="#">/Users/Teamfox/Documents/Teamfox/Theme Song.wav</a></p>
												<ul class="list-inline">
													<li>2.7MB</li>
													<li><i class="fa fa-calendar-o"></i> 08.19.2014</li>
													<li><i class="fa fa-eye"></i> 30</li>
													<li><i class="fa fa-cloud-download"></i> 25</li>
												</ul>
											</div><!--.search-result-->
										</li>
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa fa-file-archive-o"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#">Pleasure-Dashboard.zip</a></h6>
												<p class="source"><a href="#">http://www.teamfox.co/files/Pleasure-Dashboard.zip</a></p>
												<ul class="list-inline">
													<li>3.5MB</li>
													<li><i class="fa fa-calendar-o"></i> 08.20.2014</li>
													<li><i class="fa fa-eye"></i> 24054</li>
													<li><i class="fa fa-cloud-download"></i> 15995</li>
												</ul>
											</div><!--.search-result-->
										</li>
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa-file-image-o image"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#">Teamfox-Logo.jpg</a></h6>
												<p class="source"><a href="#">http://www.teamfox.co/images/teamfox-Logo.jpg</a></p>
												<ul class="list-inline">
													<li>108KB</li>
													<li><i class="fa fa-calendar-o"></i> 08.21.2014</li>
													<li><i class="fa fa-eye"></i> 4540</li>
													<li><i class="fa fa-cloud-download"></i> 739</li>
												</ul>
											</div><!--.search-result-->
										</li>
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa-file-text-o text"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#">LICENSE.txt</a></h6>
												<p class="source"><a href="#">http://www.teamfox.co/LICENSE.txt</a></p>
												<ul class="list-inline">
													<li>5KB</li>
													<li><i class="fa fa-calendar-o"></i> 08.22.2014</li>
													<li><i class="fa fa-eye"></i> 40</li>
													<li><i class="fa fa-cloud-download"></i> 2</li>
												</ul>
											</div><!--.search-result-->
										</li>
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa-file-o file"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#">.htaccess</a></h6>
												<p class="source"><a href="#">http://www.teamfox.co/.htaccess</a></p>
												<ul class="list-inline">
													<li>5KB</li>
													<li><i class="fa fa-calendar-o"></i> 08.23.2014</li>
													<li><i class="fa fa-eye"></i> 10</li>
													<li><i class="fa fa-cloud-download"></i> 0</li>
												</ul>
											</div><!--.search-result-->
										</li>
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa-file-video-o video"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#">Last Summer with best friend.mp4</a></h6>
												<p class="source"><a href="#">http://www.different-theme-domain.com/video/Last Summer with best friend.mp4</a></p>
												<ul class="list-inline">
													<li>1.2GB</li>
													<li><i class="fa fa-calendar-o"></i> 08.24.2014</li>
													<li><i class="fa fa-eye"></i> 19</li>
													<li><i class="fa fa-cloud-download"></i> 4</li>
												</ul>
											</div><!--.search-result-->
										</li>
										<li>
											<div class="file-icon"><a href="#"><i class="fa fa-file-code-o code"></i></a></div><!--.file-icon-->
											<div class="search-result">
												<h6><a href="#">main.min.js</a></h6>
												<p class="source"><a href="#">http://www.teamfox.co/assets/js/main.min.js</a></p>
												<ul class="list-inline">
													<li>88KB</li>
													<li><i class="fa fa-calendar-o"></i> 08.25.2014</li>
													<li><i class="fa fa-eye"></i> 193</li>
													<li><i class="fa fa-cloud-download"></i> 30</li>
												</ul>
											</div><!--.search-result-->
										</li>
									</ul>
								</div><!--.search-results-->
							</div><!--.tab-pane-->

							<div id="search-news" class="tab-pane">
								<div class="search-results">
									<div class="row">
										<div class="col-md-6">

											<div class="card card-news">
												<div class="card-heading">
													<div class="card-full-bg card-bgimage sample-bg-image5"></div>
													<a href="#" class="author"><img src="../../assets/globals/img/faces/1.jpg" alt=""></a>
													<h3 class="card-title"><i class="heading-icon fa fa-life-ring"></i> Theme Industry <small>1h ago</small></h3><!--.card-title-->
												</div><!--.card-heading-->

												<div class="card-body">
													<h4>New themes are ready to publish</h4>
													<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer...</p>
												</div><!--.card-body-->

												<div class="card-footer">
													<ul class="action">
														<li><a href="#"><i class="fa fa-star"></i></a></li>
														<li><a href="#"><i class="fa fa-comment"></i></a></li>
													</ul>
												</div><!--.card-footer-->
											</div><!--.card-->

										</div><!--.col-md-6-->
										<div class="col-md-6">

											<div class="card card-news">
												<div class="card-heading">
													<div class="card-full-bg card-bgimage sample-bg-image6"></div>
													<a href="#" class="author"><img src="../../assets/globals/img/faces/15.jpg" alt=""></a>
													<h3 class="card-title"><i class="heading-icon fa fa-life-ring"></i> Not so much time <small>4h ago</small></h3><!--.card-title-->
												</div><!--.card-heading-->

												<div class="card-body">
													<h4>Have a break</h4>
													<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer...</p>
												</div><!--.card-body-->

												<div class="card-footer">
													<ul class="action">
														<li><a href="#"><i class="fa fa-star"></i></a></li>
														<li><a href="#"><i class="fa fa-comment"></i></a></li>
													</ul>
												</div><!--.card-footer-->
											</div><!--.card-->

										</div><!--.col-md-6-->

										<div class="col-md-6">

											<div class="card card-news">
												<div class="card-heading">
													<div class="card-full-bg card-bgimage sample-bg-image8"></div>
													<a href="#" class="author"><img src="../../assets/globals/img/faces/21.jpg" alt=""></a>
													<h3 class="card-title"><i class="heading-icon fa fa-life-ring"></i> Travel Plan <small>1d ago</small></h3><!--.card-title-->
												</div><!--.card-heading-->

												<div class="card-body">
													<h4>What if I change my mind?</h4>
													<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer...</p>
												</div><!--.card-body-->

												<div class="card-footer">
													<ul class="action">
														<li><a href="#"><i class="fa fa-star"></i></a></li>
														<li><a href="#"><i class="fa fa-comment"></i></a></li>
													</ul>
												</div><!--.card-footer-->
											</div><!--.card-->

										</div><!--.col-md-6-->

										<div class="col-md-6">

											<div class="card card-news">
												<div class="card-heading">
													<div class="card-full-bg card-bgimage sample-bg-image13"></div>
													<a href="#" class="author"><img src="../../assets/globals/img/faces/13.jpg" alt=""></a>
													<h3 class="card-title"><i class="heading-icon fa fa-life-ring"></i> Writing Documentation <small>1w ago</small></h3><!--.card-title-->
												</div><!--.card-heading-->

												<div class="card-body">
													<h4>The most important part</h4>
													<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer...</p>
												</div><!--.card-body-->

												<div class="card-footer">
													<ul class="action">
														<li><a href="#"><i class="fa fa-star"></i></a></li>
														<li><a href="#"><i class="fa fa-comment"></i></a></li>
													</ul>
												</div><!--.card-footer-->
											</div><!--.card-->

										</div><!--.col-md-6-->

									</div><!--.row-->
								</div><!--.search-results-->
							</div><!--.tab-pane-->

							<div id="search-users" class="tab-pane">
								<div class="row">

									<div class="col-md-4">
										<div class="card card-user">
											<div class="card-heading heading-center text-color-white">
												<img src="../../assets/globals/img/faces/5.jpg" alt="" class="user-image">
												<h3 class="card-title"><a href="#">Mariana Barboza</a></h3>
												<div class="subhead">Lead Marketing Manager</div>
											</div><!--.card-heading-->

											<div class="card-body">
												<p>I'm Mariana, a Lead Marketing Manager from Brazil &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
												<ul class="social-links">
													<li><a href="#"><i class="fa fa-github"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div><!--.card-body-->

											<div class="card-footer">
												<button class="btn btn-xs btn-default pull-left">Add as a Friend</button>
												<a href="#" class="pull-right"><small>8 friends in common</small></a>
											</div><!--.card-footer-->
										</div><!--.card-->
									</div><!--.col-md-4-->

									<div class="col-md-4">
										<div class="card card-user turquoise">
											<div class="card-heading heading-center text-color-white">
												<img src="../../assets/globals/img/faces/7.jpg" alt="" class="user-image">
												<h3 class="card-title"><a href="#">Beverly Turner</a></h3>
												<div class="subhead">Chief Brand Associate</div>
											</div><!--.card-heading-->

											<div class="card-body">
												<p>I'm Beverly Turner, a Chief Brand Associate from Brazil &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
												<ul class="social-links">
													<li><a href="#"><i class="fa fa-github"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div><!--.card-body-->

											<div class="card-footer">
												<button class="btn btn-xs btn-default pull-left">Add as a Friend</button>
												<a href="#" class="pull-right"><small>8 friends in common</small></a>
											</div><!--.card-footer-->
										</div><!--.card-->
									</div><!--.col-md-4-->

									<div class="col-md-4">
										<div class="card card-user amethyst">
											<div class="card-heading heading-center text-color-white">
												<img src="../../assets/globals/img/faces/10.jpg" alt="" class="user-image">
												<h3 class="card-title"><a href="#">Teresa Kelly</a></h3>
												<div class="subhead">Regional Solutions Supervisor</div>
											</div><!--.card-heading-->

											<div class="card-body">
												<p>I'm Teresa, a Regional Solutions Supervisor from Brazil &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
												<ul class="social-links">
													<li><a href="#"><i class="fa fa-github"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div><!--.card-body-->

											<div class="card-footer">
												<button class="btn btn-xs btn-default pull-left">Add as a Friend</button>
												<a href="#" class="pull-right"><small>8 friends in common</small></a>
											</div><!--.card-footer-->
										</div><!--.card-->
									</div><!--.col-md-4-->

									<div class="col-md-4">
										<div class="card card-user wet-asphalt">
											<div class="card-heading heading-center text-color-white">
												<img src="../../assets/globals/img/faces/12.jpg" alt="" class="user-image">
												<h3 class="card-title"><a href="#">Jennifer Martinez</a></h3>
												<div class="subhead">Dynamic Response Assistant</div>
											</div><!--.card-heading-->

											<div class="card-body">
												<p>I'm Jennifer, a Dynamic Response Assistant from Brazil &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
												<ul class="social-links">
													<li><a href="#"><i class="fa fa-github"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div><!--.card-body-->

											<div class="card-footer">
												<button class="btn btn-xs btn-default pull-left">Add as a Friend</button>
												<a href="#" class="pull-right"><small>8 friends in common</small></a>
											</div><!--.card-footer-->
										</div><!--.card-->
									</div><!--.col-md-4-->

									<div class="col-md-4">
										<div class="card card-user carrot">
											<div class="card-heading heading-center text-color-white">
												<img src="../../assets/globals/img/faces/14.jpg" alt="" class="user-image">
												<h3 class="card-title"><a href="#">Andrea Rivera</a></h3>
												<div class="subhead">Internal Quality Planner</div>
											</div><!--.card-heading-->

											<div class="card-body">
												<p>I'm Andrea, an Internal Quality Planner from Brazil &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
												<ul class="social-links">
													<li><a href="#"><i class="fa fa-github"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div><!--.card-body-->

											<div class="card-footer">
												<button class="btn btn-xs btn-default pull-left">Add as a Friend</button>
												<a href="#" class="pull-right"><small>8 friends in common</small></a>
											</div><!--.card-footer-->
										</div><!--.card-->
									</div><!--.col-md-4-->

									<div class="col-md-4">
										<div class="card card-user pomegranate">
											<div class="card-heading heading-center text-color-white">
												<img src="../../assets/globals/img/faces/16.jpg" alt="" class="user-image">
												<h3 class="card-title"><a href="#">Marilyn Gomez</a></h3>
												<div class="subhead">Product Usability Specialist</div>
											</div><!--.card-heading-->

											<div class="card-body">
												<p>I'm Marilyn, a Product Usability Specialist from Brazil &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
												<ul class="social-links">
													<li><a href="#"><i class="fa fa-github"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												</ul>
											</div><!--.card-body-->

											<div class="card-footer">
												<button class="btn btn-xs btn-default pull-left">Add as a Friend</button>
												<a href="#" class="pull-right"><small>8 friends in common</small></a>
											</div><!--.card-footer-->
										</div><!--.card-->
									</div><!--.col-md-4-->

								</div><!--.row-->
							</div><!--.tab-pane-->

						</div><!--.tab-content-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-indigo">
					<a href="pages-pricing.html">
						<span class="state">Pages</span>
						<span>Pricing Tables</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-indigo">
					<a href="pages-timeline.html">
						<span class="state">Pages</span>
						<span>Timeline</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-search-results.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:55 GMT -->
</html>