<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-pricing.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:55 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Pricing Tables</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
					<h1>Pricing Tables <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="#" class="active">Pricing</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-4">
				<div class="card card-pricing card-pricing-simple">

					<div class="card-heading">
						<h4>LIGHT</h4>
						<h5>
							<span><i class="currency">$</i><i class="price">9</i> <i class="renewal">per month</i></span>
						</h5>
					</div><!--.card-heading-->

					<div class="card-body">
						<ul class="pricing-features pricing-features-hover text-center">
							<li>Basic Coverage</li>
							<li>Admin Panel</li>
							<li>Basic Support</li>
							<li>Up to 10 Projects</li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="btn btn-block btn-primary">Start Free Trial</a>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-pricing card-pricing-simple active">

					<div class="card-heading">
						<h4>REGULAR</h4>
						<h5>
							<span><i class="currency">$</i><i class="price">49</i> <i class="renewal">per month</i></span>
						</h5>
					</div><!--.card-heading-->

					<div class="card-body">
						<ul class="pricing-features pricing-features-hover text-center">
							<li>Basic Coverage</li>
							<li>Admin Panel</li>
							<li>Basic Support</li>
							<li>Up to 100 Projects</li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="btn btn-block btn-primary">Start Free Trial</a>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-pricing card-pricing-simple">

					<div class="card-heading">
						<h4>EXTENDED</h4>
						<h5>
							<span><i class="currency">$</i><i class="price">99</i> <i class="renewal">per month</i></span>
						</h5>
					</div><!--.card-heading-->

					<div class="card-body">
						<ul class="pricing-features pricing-features-hover text-center">
							<li>Basic Coverage</li>
							<li>Admin Panel</li>
							<li>Basic Support</li>
							<li>Limitless Projects</li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="btn btn-block btn-primary">Start Free Trial</a>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-3">
				<div class="card card-pricing card-pricing-dark">

					<div class="card-heading">
						<h4>LIGHT</h4>
						<h5>
							<span><i class="currency">$</i><i class="price">9</i> <i class="renewal">per month</i></span>
						</h5>
					</div><!--.card-heading-->

					<div class="card-body">
						<ul class="pricing-features pricing-features-hover text-center">
							<li>Basic Coverage</li>
							<li>Admin Panel</li>
							<li>Basic Support</li>
							<li>Up to 10 Projects</li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="btn btn-block btn-primary">SIGN UP</a>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-3-->

			<div class="col-md-3">
				<div class="card card-pricing card-pricing-dark active">

					<div class="card-heading">
						<h4>REGULAR</h4>
						<h5>
							<span><i class="currency">$</i><i class="price">49</i> <i class="renewal">per month</i></span>
						</h5>
					</div><!--.card-heading-->

					<div class="card-body">
						<ul class="pricing-features pricing-features-hover text-center">
							<li>Basic Coverage</li>
							<li>Admin Panel</li>
							<li>Basic Support</li>
							<li>Up to 100 Projects</li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="btn btn-block btn-primary">SIGN UP</a>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-3-->

			<div class="col-md-3">
				<div class="card card-pricing card-pricing-dark">

					<div class="card-heading">
						<h4>PROFESSIONAL</h4>
						<h5>
							<span><i class="currency">$</i><i class="price">69</i> <i class="renewal">per month</i></span>
						</h5>
					</div><!--.card-heading-->

					<div class="card-body">
						<ul class="pricing-features pricing-features-hover text-center">
							<li>Basic Coverage</li>
							<li>Admin Panel</li>
							<li>Basic Support</li>
							<li>Limitless Projects</li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="btn btn-block btn-primary">SIGN UP</a>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-3-->

			<div class="col-md-3">
				<div class="card card-pricing card-pricing-dark">

					<div class="card-heading">
						<h4>EXTENDED</h4>
						<h5>
							<span><i class="currency">$</i><i class="price">99</i> <i class="renewal">per month</i></span>
						</h5>
					</div><!--.card-heading-->

					<div class="card-body">
						<ul class="pricing-features pricing-features-hover text-center">
							<li>Basic Coverage</li>
							<li>Admin Panel</li>
							<li>Basic Support</li>
							<li>Limitless Projects</li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="btn btn-block btn-primary">SIGN UP</a>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-3-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-4">
				<div class="card card-pricing card-pricing-justified">

					<div class="card-heading">
						<h4>LIGHT</h4>
						<h5>
							<span><i class="currency">$</i><i class="price">9</i>/<i class="renewal">mo</i></span>
						</h5>
					</div><!--.card-heading-->

					<div class="card-body">
						<ul class="pricing-features pricing-features-hover">
							<li>Memory <span class="feature">1 GB</span></li>
							<li>Processor <span class="feature">1 Core</span></li>
							<li>SSD Disk <span class="feature">150 GB</span></li>
							<li>Transfer <span class="feature">5 TB</span></li>
							<li>24/7 Customer Support <span><i class="fa fa-check"></i></span></li>
							<li class="disabled">Private Networking</li>
							<li class="disabled">DNS Management</li>
							<li class="disabled">SSL</li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="btn btn-block btn-primary">SIGN UP</a>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-pricing card-pricing-justified active">

					<div class="card-heading">
						<h4>REGULAR</h4>
						<h5>
							<span><i class="currency">$</i><i class="price">49</i>/<i class="renewal">mo</i></span>
						</h5>
					</div><!--.card-heading-->

					<div class="card-body">
						<ul class="pricing-features pricing-features-hover">
							<li>Memory <span class="feature">2 GB</span></li>
							<li>Processor <span class="feature">2 Core</span></li>
							<li>SSD Disk <span class="feature">200 GB</span></li>
							<li>Transfer <span class="feature">10 TB</span></li>
							<li>24/7 Customer Support <span><i class="fa fa-check"></i></span></li>
							<li>Private Networking <span><i class="fa fa-check"></i></span></li>
							<li>DNS Management <span><i class="fa fa-check"></i></span></li>
							<li class="disabled">SSL</li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="btn btn-block btn-primary">SIGN UP</a>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->

			<div class="col-md-4">
				<div class="card card-pricing card-pricing-justified">

					<div class="card-heading">
						<h4>PREMIUM</h4>
						<h5>
							<span><i class="currency">$</i><i class="price">99</i>/<i class="renewal">mo</i></span>
						</h5>
					</div><!--.card-heading-->

					<div class="card-body">
						<ul class="pricing-features pricing-features-hover">
							<li>Memory <span class="feature">5 GB</span></li>
							<li>Processor <span class="feature">4 Core</span></li>
							<li>SSD Disk <span class="feature">250 GB</span></li>
							<li>Transfer <span class="feature">20 TB</span></li>
							<li>24/7 Customer Support <span><i class="fa fa-check"></i></span></li>
							<li>Private Networking <span><i class="fa fa-check"></i></span></li>
							<li>DNS Management <span><i class="fa fa-check"></i></span></li>
							<li>SSL <span><i class="fa fa-check"></i></span></li>
						</ul>
					</div><!--.card-body-->

					<div class="card-footer">
						<a href="#" class="btn btn-block btn-primary">SIGN UP</a>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->

		</div><!--.row-->

		<div class="row pricing-table">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th></th>
						<th>
							<span class="pack">LIGHT</span>
							<span class="price-container">
								<i class="currency">$</i><i class="price">9</i> <i class="renewal">month</i>
							</span>
						</th>
						<th class="active">
							<span class="pack">REGULAR</span>
							<span class="price-container">
								<i class="currency">$</i><i class="price">49</i> <i class="renewal">month</i>
							</span>
						</th>
						<th>
							<span class="pack">PREMIUM</span>
							<span class="price-container">
								<i class="currency">$</i><i class="price">99</i> <i class="renewal">month</i>
							</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="categories">Memory</td>
						<td>1 GB</td>
						<td class="active">2 GB</td>
						<td>5 GB</td>
					</tr>
					<tr>
						<td class="categories">Processor</td>
						<td>1 Core</td>
						<td class="active">2 Core</td>
						<td>4 Core</td>
					</tr>
					<tr>
						<td class="categories">SSD Disk</td>
						<td>150 GB</td>
						<td class="active">200 GB</td>
						<td>250 GB</td>
					</tr>
					<tr>
						<td class="categories">Transfer</td>
						<td>5 TB</td>
						<td class="active">10 TB</td>
						<td>20 TB</td>
					</tr>
					<tr>
						<td class="categories">Private Networking</td>
						<td><i class="fa fa-times"></i></td>
						<td class="active"><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="categories">SSL</td>
						<td><i class="fa fa-times"></i></td>
						<td class="active"><i class="fa fa-times"></i></td>
						<td><i class="fa fa-check"></i></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th><a href="#" class="btn btn-block btn-primary">Order Now</a></th>
						<th class="active"><a href="#" class="btn btn-block btn-primary">Order Now</a></th>
						<th><a href="#" class="btn btn-block btn-primary">Order Now</a></th>
					</tr>
				</tfoot>
			</table>
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-indigo">
					<a href="pages-invoice.html">
						<span class="state">Pages</span>
						<span>Invoice</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-indigo">
					<a href="pages-search-results.html">
						<span class="state">Pages</span>
						<span>Search Results</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-pricing.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:55 GMT -->
</html>