<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/panels-draggable.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Draggable Panels</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-teal">
			<div class="row">
				<div class="col-sm-6">
					<h1>Draggable Panels <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Panels</a></li>
						<li><a href="#" class="active">Draggable</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">

			<div class="col-md-6 portlets">
				<div class="panel">
					<div class="panel-heading portlet-handle">
						<div class="panel-title"><h4>BASIC DRAGGABLE PANEL</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6 portlets">
				<div class="panel">
					<div class="panel-heading portlet-handle">
						<div class="panel-title"><h4>BASIC DRAGGABLE PANEL</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6 portlets">
				<div class="panel">
					<div class="panel-heading portlet-handle">
						<div class="panel-title">
							<h4>HANDLE CANCEL</h4>
							<div class="panel-action portlet-handle-cancel">
								<a href="javascript:;" data-toggle="fake-reload" class="initially-hidden"></a>
								<a href="javascript:;" data-toggle="panel"></a>
								<a href="javascript:;" data-toggle="remove"></a>
							</div><!--.panel-action-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6 portlets">
				<div class="panel">
					<div class="panel-heading portlet-handle">
						<div class="panel-title">
							<h4>HANDLE CANCEL</h4>
							<div class="panel-buttons">
								<div class="btn-group portlet-handle-cancel">
									<button type="button" class="btn btn-flat btn-default">Cancel</button>
									<button type="button" class="btn btn-flat btn-primary">Confirm</button>
								</div>
							</div><!--.panel-buttons-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6 portlets">
				<div class="panel">
					<div class="panel-heading portlet-handle">
						<div class="panel-title">
							<h4>HANDLE CANCEL</h4>
							<div class="progress progress-striped active portlet-handle-cancel">
								<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									<span class="sr-only">40% Complete (primary)</span>
								</div>
							</div><!--.progress-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6 portlets">
				<div class="panel">
					<div class="panel-heading portlet-handle">
						<div class="panel-title">
							<h4>HANDLE CANCEL</h4>
							<div class="panel-inputs portlet-handle-cancel">
								<div class="input-group">
									<input type="text" class="form-control input-circle-left" placeholder="search...">
									<span class="input-group-btn">
										<button class="btn btn-circle-right btn-default" type="submit">Find</button>
									</span>
								</div>
							</div><!--.panel-inputs-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-teal">
					<a href="panels.html">
						<span class="state">Panels</span>
						<span>Panel Types</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-teal">
					<a href="panels-styling.html">
						<span class="state">Panels</span>
						<span>Styled Panels</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/panels-draggable.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
</html>