<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/panels.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Panel Types</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-teal">
			<div class="row">
				<div class="col-sm-6">
					<h1>Panel Types <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Panels</a></li>
						<li><a href="#" class="active">Panel Types</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">

			<div class="col-md-4">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BASIC PANEL <small>more description</small></h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-4">
				<div class="panel panel-with-border">
					<div class="panel-heading">
						<div class="panel-title"><h4>WITH BORDER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-4">
				<div class="panel panel-with-shadow">
					<div class="panel-heading">
						<div class="panel-title"><h4>WITH SHADOW</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-4">
				<div class="panel panel-transparent">
					<div class="panel-heading">
						<div class="panel-title"><h4>TRANSPARENT PANEL</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-8">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ACTION BUTTONS</h4>
						<div class="panel-action">
							<a href="javascript:;" data-toggle="dropdown" id="panelDropdown" class="initially-hidden"></a>
							<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="panelDropdown">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
							<a href="javascript:;" data-toggle="panel"></a>
							<a href="javascript:;" data-toggle="fake-reload"></a>
							<a href="javascript:;" data-toggle="remove"></a>
						</div><!--.panel-action-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>PAGINATION</h4>
							<div class="steps-pull-right">
								<ul class="wizard-steps">
									<li class="step"><a href="#" class="btn btn-primary">1</a></li>
									<li class="step"><a href="#" class="btn btn-white">2</a></li>
									<li class="step"><a href="#" class="btn btn-white">3</a></li>
								</ul>
							</div><!--.steps-pull-right-->
						</div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BUTTON GROUP</h4>
						<div class="panel-buttons">
							<div class="btn-group btn-merged">
								<button type="button" class="btn btn-flat btn-default">Cancel</button>
								<button type="button" class="btn btn-flat btn-primary">Confirm</button>
							</div>
						</div><!--.panel-buttons-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-4">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PROGRESS BAR</h4>
						<div class="progress progress-striped active">
							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
								<span class="sr-only">40% Complete (primary)</span>
							</div>
						</div><!--.progress-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-4">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TABS</h4></div><!--.panel-title-->
						<ul class="nav nav-tabs with-panel">
							<li class="active"><a href="#panel-tab1" data-toggle="tab">Tab 1</a></li>
							<li><a href="#panel-tab2" data-toggle="tab">Tab 2</a></li>
							<li><a href="#panel-tab3" data-toggle="tab">Tab 3</a></li>
						</ul>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<div class="tab-content with-panel">
							<div id="panel-tab1" class="tab-pane active">
								<p>Tab 1 Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
							</div><!--.tab-pane-->
							<div id="panel-tab2" class="tab-pane">
								<p>Tab 2 Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
							</div><!--.tab-pane-->
							<div id="panel-tab3" class="tab-pane">
								<p>Tab 3 Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
							</div><!--.tab-pane-->
						</div><!--.tab-content-->
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-4">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>INPUT BAR</h4>
						<div class="panel-inputs">
							<div class="input-group">
								<input type="text" class="form-control input-circle-left" placeholder="search...">
								<span class="input-group-btn">
									<button class="btn btn-circle-right btn-default" type="submit">Find</button>
								</span>
							</div>
						</div>
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-typography.html">
						<span class="state">UI Elements</span>
						<span>Typography</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-teal">
					<a href="panels-draggable.html">
						<span class="state">Panels</span>
						<span>Draggable Panels</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/panels.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
</html>