<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/panels-ajax.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Ajax Panels</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-teal">
			<div class="row">
				<div class="col-sm-6">
					<h1>Ajax Panels <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Panels</a></li>
						<li><a href="#" class="active">Ajax Panels</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>REFRESH WHOLE BODY CONTENT</h4>
							<div class="panel-action">
								<a href="javascript:;" data-init-load="true" data-toggle="reload" data-ajax-target="demo/ajax.html" data-ajax-selector="inside"></a>
							</div><!--.panel-action-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>TO THE SELECTOR</h4>
							<div class="panel-action">
								<a href="javascript:;" data-toggle="reload" data-ajax-target="demo/ajax.html" data-ajax-selector="#ajax-selector"></a>
							</div><!--.panel-action-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
						<div id="ajax-selector" class="text-primary">This content will change after click the refresh button.</div><!--#ajax-selector-->
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>PREPEND THE CONTENT</h4>
							<div class="panel-action">
								<a href="javascript:;" data-toggle="reload" data-ajax-target="demo/ajax.html" data-ajax-selector="prepend"></a>
							</div><!--.panel-action-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>APPEND THE CONTENT</h4>
							<div class="panel-action">
								<a href="javascript:;" data-toggle="reload" data-ajax-target="demo/ajax.html" data-ajax-selector="append"></a>
							</div><!--.panel-action-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>TOASTR NOTIFICATON SUCCESS</h4>
							<div class="panel-action">
								<a href="javascript:;" data-toggle="reload" data-ajax-target="demo/ajax.html" data-ajax-selector="inside" data-ajax-notify="toastr"></a>
							</div><!--.panel-action-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>ION SOUNDS CALLBACK</h4>
							<div class="panel-action">
								<a href="javascript:;" data-toggle="reload" data-ajax-target="demo/ajax.html" data-ajax-selector="inside" data-ajax-notify-sound="water_droplet_3" class="panel-link"></a>
							</div><!--.panel-action-->
						</div><!--.panel-title-->
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-teal">
					<a href="panels-styling.html">
						<span class="state">Panels</span>
						<span>Styled Panels</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-general.html">
						<span class="state">Forms</span>
						<span>General</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	

	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		SoundPlayer.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/panels-ajax.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
</html>