<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/panels-styling.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Styled Panels</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-teal">
			<div class="row">
				<div class="col-sm-6">
					<h1>Styled Panels <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Panels</a></li>
						<li><a href="#" class="active">Styled Panels</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">

			<div class="col-md-3">
				<div class="panel red">
					<div class="panel-heading">
						<div class="panel-title"><h4>RED</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel pink">
					<div class="panel-heading">
						<div class="panel-title"><h4>PINK</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel purple">
					<div class="panel-heading">
						<div class="panel-title"><h4>PURPLE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel deep-purple">
					<div class="panel-heading">
						<div class="panel-title"><h4>DEEP PURPLE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-3">
				<div class="panel indigo">
					<div class="panel-heading">
						<div class="panel-title"><h4>INDIGO</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel blue">
					<div class="panel-heading">
						<div class="panel-title"><h4>BLUE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel light-blue">
					<div class="panel-heading">
						<div class="panel-title"><h4>LIGHT BLUE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel cyan">
					<div class="panel-heading">
						<div class="panel-title"><h4>CYAN</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-3">
				<div class="panel teal">
					<div class="panel-heading">
						<div class="panel-title"><h4>TEAL</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel green">
					<div class="panel-heading">
						<div class="panel-title"><h4>GREEN</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel light-green">
					<div class="panel-heading">
						<div class="panel-title"><h4>LIGHT GREEN</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel lime">
					<div class="panel-heading">
						<div class="panel-title"><h4>LIME</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-3">
				<div class="panel yellow">
					<div class="panel-heading">
						<div class="panel-title"><h4>YELLOW</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel amber">
					<div class="panel-heading">
						<div class="panel-title"><h4>AMBER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel orange">
					<div class="panel-heading">
						<div class="panel-title"><h4>ORANGE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-3">
				<div class="panel deep-orange">
					<div class="panel-heading">
						<div class="panel-title"><h4>DEEP ORANGE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="row">

			<div class="col-md-4">
				<div class="panel brown">
					<div class="panel-heading">
						<div class="panel-title"><h4>BROWN</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-4">
				<div class="panel grey">
					<div class="panel-heading">
						<div class="panel-title"><h4>GREY</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-4">
				<div class="panel blue-grey">
					<div class="panel-heading">
						<div class="panel-title"><h4>BLUE GREY</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-teal">
					<a href="panels-draggable.html">
						<span class="state">Panels</span>
						<span>Draggable Panels</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-teal">
					<a href="panels-ajax.html">
						<span class="state">Panels</span>
						<span>Ajax Panels</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/panels-styling.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
</html>