<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-responsive.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:34 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Responsive Table</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-blue-grey">
			<div class="row">
				<div class="col-sm-6">
					<h1>Responsive Table <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Table</a></li>
						<li><a href="#" class="active">Responsive Table</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BOOTSTRAP RESPONSIVE TABLE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Heading 1</th>
										<th>Heading 2</th>
										<th>Heading 3</th>
										<th>Heading 4</th>
										<th>Heading 5</th>
										<th>Heading 6</th>
										<th>Heading 7</th>
										<th>Heading 8</th>
										<th>Heading 9</th>
										<th>Heading 10</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
									</tr>
									<tr>
										<td>3</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
									</tr>
									<tr>
										<td>4</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
									</tr>
									<tr>
										<td>5</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
									</tr>
								</tbody>
							</table>
						</div><!--.table-responsive-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>THE UNSEEN COLUMN</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="unseen">
							<table class="table table-bordered table-striped table-condensed">
								<thead>
									<tr>
										<th>Code</th>
										<th>Company</th>
										<th class="numeric">Price</th>
										<th class="numeric">Change</th>
										<th class="numeric">%</th>
										<th class="numeric">Open</th>
										<th class="numeric">High</th>
										<th class="numeric">Low</th>
										<th class="numeric">Volume</th>
								  </tr>
								</thead>
								<tbody>
									<tr>
										<td>AAC</td>
										<td>AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
										<td class="numeric">$1.38</td>
										<td class="numeric">-0.01</td>
										<td class="numeric">-0.36%</td>
										<td class="numeric">$1.39</td>
										<td class="numeric">$1.39</td>
										<td class="numeric">$1.38</td>
										<td class="numeric">9,395</td>
									</tr>
									<tr>
										<td>AAD</td>
										<td>ARDENT LEISURE GROUP</td>
										<td class="numeric">$1.15</td>
										<td class="numeric">  +0.02</td>
										<td class="numeric">1.32%</td>
										<td class="numeric">$1.14</td>
										<td class="numeric">$1.15</td>
										<td class="numeric">$1.13</td>
										<td class="numeric">56,431</td>
									</tr>
									<tr>
										<td>AAX</td>
										<td>AUSENCO LIMITED</td>
										<td class="numeric">$4.00</td>
										<td class="numeric">-0.04</td>
										<td class="numeric">-0.99%</td>
										<td class="numeric">$4.01</td>
										<td class="numeric">$4.05</td>
										<td class="numeric">$4.00</td>
										<td class="numeric">90,641</td>
									</tr>
									<tr>
										<td>ABC</td>
										<td>ADELAIDE BRIGHTON LIMITED</td>
										<td class="numeric">$3.00</td>
										<td class="numeric">  +0.06</td>
										<td class="numeric">2.04%</td>
										<td class="numeric">$2.98</td>
										<td class="numeric">$3.00</td>
										<td class="numeric">$2.96</td>
										<td class="numeric">862,518</td>
									</tr>
									<tr>
										<td>ABP</td>
										<td>ABACUS PROPERTY GROUP</td>
										<td class="numeric">$1.91</td>
										<td class="numeric">0.00</td>
										<td class="numeric">0.00%</td>
										<td class="numeric">$1.92</td>
										<td class="numeric">$1.93</td>
										<td class="numeric">$1.90</td>
										<td class="numeric">595,701</td>
									</tr>
									<tr>
										<td>ABY</td>
										<td>ADITYA BIRLA MINERALS LIMITED</td>
										<td class="numeric">$0.77</td>
										<td class="numeric">  +0.02</td>
										<td class="numeric">2.00%</td>
										<td class="numeric">$0.76</td>
										<td class="numeric">$0.77</td>
										<td class="numeric">$0.76</td>
										<td class="numeric">54,567</td>
									</tr>
									<tr>
										<td>ACR</td>
										<td>ACRUX LIMITED</td>
										<td class="numeric">$3.71</td>
										<td class="numeric">  +0.01</td>
										<td class="numeric">0.14%</td>
										<td class="numeric">$3.70</td>
										<td class="numeric">$3.72</td>
										<td class="numeric">$3.68</td>
										<td class="numeric">191,373</td>
									</tr>
									<tr>
										<td>ADU</td>
										<td>ADAMUS RESOURCES LIMITED</td>
										<td class="numeric">$0.72</td>
										<td class="numeric">0.00</td>
										<td class="numeric">0.00%</td>
										<td class="numeric">$0.73</td>
										<td class="numeric">$0.74</td>
										<td class="numeric">$0.72</td>
										<td class="numeric">8,602,291</td>
									</tr>
									<tr>
										<td>AGG</td>
										<td>ANGLOGOLD ASHANTI LIMITED</td>
										<td class="numeric">$7.81</td>
										<td class="numeric">-0.22</td>
										<td class="numeric">-2.74%</td>
										<td class="numeric">$7.82</td>
										<td class="numeric">$7.82</td>
										<td class="numeric">$7.81</td>
										<td class="numeric">148</td>
									</tr>
									<tr>
										<td>AGK</td>
										<td>AGL ENERGY LIMITED</td>
										<td class="numeric">$13.82</td>
										<td class="numeric">  +0.02</td>
										<td class="numeric">0.14%</td>
										<td class="numeric">$13.83</td>
										<td class="numeric">$13.83</td>
										<td class="numeric">$13.67</td>
										<td class="numeric">846,403</td>
									</tr>
									<tr>
										<td>AGO</td>
										<td>ATLAS IRON LIMITED</td>
										<td class="numeric">$3.17</td>
										<td class="numeric">-0.02</td>
										<td class="numeric">-0.47%</td>
										<td class="numeric">$3.11</td>
										<td class="numeric">$3.22</td>
										<td class="numeric">$3.10</td>
										<td class="numeric">5,416,303</td>
									</tr>
								</tbody>
							</table>
						</div><!--.unseen-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>FLIP SCROLL</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="flip-scroll">
							<table class="table table-bordered table-striped table-condensed cf">
								<thead class="cf">
									<tr>
										<th>Code</th>
										<th>Company</th>
										<th class="numeric">Price</th>
										<th class="numeric">Change</th>
										<th class="numeric">%</th>
										<th class="numeric">Open</th>
										<th class="numeric">High</th>
										<th class="numeric">Low</th>
										<th class="numeric">Volume</th>
								  </tr>
								</thead>
								<tbody>
									<tr>
										<td>AAC</td>
										<td>AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
										<td class="numeric">$1.38</td>
										<td class="numeric">-0.01</td>
										<td class="numeric">-0.36%</td>
										<td class="numeric">$1.39</td>
										<td class="numeric">$1.39</td>
										<td class="numeric">$1.38</td>
										<td class="numeric">9,395</td>
									</tr>
									<tr>
										<td>AAD</td>
										<td>ARDENT LEISURE GROUP</td>
										<td class="numeric">$1.15</td>
										<td class="numeric">  +0.02</td>
										<td class="numeric">1.32%</td>
										<td class="numeric">$1.14</td>
										<td class="numeric">$1.15</td>
										<td class="numeric">$1.13</td>
										<td class="numeric">56,431</td>
									</tr>
									<tr>
										<td>AAX</td>
										<td>AUSENCO LIMITED</td>
										<td class="numeric">$4.00</td>
										<td class="numeric">-0.04</td>
										<td class="numeric">-0.99%</td>
										<td class="numeric">$4.01</td>
										<td class="numeric">$4.05</td>
										<td class="numeric">$4.00</td>
										<td class="numeric">90,641</td>
									</tr>
									<tr>
										<td>ABC</td>
										<td>ADELAIDE BRIGHTON LIMITED</td>
										<td class="numeric">$3.00</td>
										<td class="numeric">  +0.06</td>
										<td class="numeric">2.04%</td>
										<td class="numeric">$2.98</td>
										<td class="numeric">$3.00</td>
										<td class="numeric">$2.96</td>
										<td class="numeric">862,518</td>
									</tr>
									<tr>
										<td>ABP</td>
										<td>ABACUS PROPERTY GROUP</td>
										<td class="numeric">$1.91</td>
										<td class="numeric">0.00</td>
										<td class="numeric">0.00%</td>
										<td class="numeric">$1.92</td>
										<td class="numeric">$1.93</td>
										<td class="numeric">$1.90</td>
										<td class="numeric">595,701</td>
									</tr>
									<tr>
										<td>ABY</td>
										<td>ADITYA BIRLA MINERALS LIMITED</td>
										<td class="numeric">$0.77</td>
										<td class="numeric">  +0.02</td>
										<td class="numeric">2.00%</td>
										<td class="numeric">$0.76</td>
										<td class="numeric">$0.77</td>
										<td class="numeric">$0.76</td>
										<td class="numeric">54,567</td>
									</tr>
									<tr>
										<td>ACR</td>
										<td>ACRUX LIMITED</td>
										<td class="numeric">$3.71</td>
										<td class="numeric">  +0.01</td>
										<td class="numeric">0.14%</td>
										<td class="numeric">$3.70</td>
										<td class="numeric">$3.72</td>
										<td class="numeric">$3.68</td>
										<td class="numeric">191,373</td>
									</tr>
									<tr>
										<td>ADU</td>
										<td>ADAMUS RESOURCES LIMITED</td>
										<td class="numeric">$0.72</td>
										<td class="numeric">0.00</td>
										<td class="numeric">0.00%</td>
										<td class="numeric">$0.73</td>
										<td class="numeric">$0.74</td>
										<td class="numeric">$0.72</td>
										<td class="numeric">8,602,291</td>
									</tr>
									<tr>
										<td>AGG</td>
										<td>ANGLOGOLD ASHANTI LIMITED</td>
										<td class="numeric">$7.81</td>
										<td class="numeric">-0.22</td>
										<td class="numeric">-2.74%</td>
										<td class="numeric">$7.82</td>
										<td class="numeric">$7.82</td>
										<td class="numeric">$7.81</td>
										<td class="numeric">148</td>
									</tr>
									<tr>
										<td>AGK</td>
										<td>AGL ENERGY LIMITED</td>
										<td class="numeric">$13.82</td>
										<td class="numeric">  +0.02</td>
										<td class="numeric">0.14%</td>
										<td class="numeric">$13.83</td>
										<td class="numeric">$13.83</td>
										<td class="numeric">$13.67</td>
										<td class="numeric">846,403</td>
									</tr>
									<tr>
										<td>AGO</td>
										<td>ATLAS IRON LIMITED</td>
										<td class="numeric">$3.17</td>
										<td class="numeric">-0.02</td>
										<td class="numeric">-0.47%</td>
										<td class="numeric">$3.11</td>
										<td class="numeric">$3.22</td>
										<td class="numeric">$3.10</td>
										<td class="numeric">5,416,303</td>
									</tr>
								</tbody>
							</table>
						</div><!--.flip-scroll-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>NO MORE TABLE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="no-more-tables">
							<table class="table table-bordered table-striped table-condensed">
								<thead>
									<tr>
										<th>Code</th>
										<th>Company</th>
										<th class="numeric">Price</th>
										<th class="numeric">Change</th>
										<th class="numeric">%</th>
										<th class="numeric">Open</th>
										<th class="numeric">High</th>
										<th class="numeric">Low</th>
										<th class="numeric">Volume</th>
								  </tr>
								</thead>
								<tbody>
									<tr>
										<td data-title="Code">AAC</td>
										<td data-title="Company">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
										<td data-title="Price" class="numeric">$1.38</td>
										<td data-title="Change" class="numeric">-0.01</td>
										<td data-title="Change %" class="numeric">-0.36%</td>
										<td data-title="Open" class="numeric">$1.39</td>
										<td data-title="High" class="numeric">$1.39</td>
										<td data-title="Low" class="numeric">$1.38</td>
										<td data-title="Volume" class="numeric">9,395</td>
									</tr>
									<tr>
										<td data-title="Code">AAD</td>
										<td data-title="Company">ARDENT LEISURE GROUP</td>
										<td data-title="Price" class="numeric">$1.15</td>
										<td data-title="Change" class="numeric">  +0.02</td>
										<td data-title="Change %" class="numeric">1.32%</td>
										<td data-title="Open" class="numeric">$1.14</td>
										<td data-title="High" class="numeric">$1.15</td>
										<td data-title="Low" class="numeric">$1.13</td>
										<td data-title="Volume" class="numeric">56,431</td>
									</tr>
									<tr>
										<td data-title="Code">AAX</td>
										<td data-title="Company">AUSENCO LIMITED</td>
										<td data-title="Price" class="numeric">$4.00</td>
										<td data-title="Change" class="numeric">-0.04</td>
										<td data-title="Change %" class="numeric">-0.99%</td>
										<td data-title="Open" class="numeric">$4.01</td>
										<td data-title="High" class="numeric">$4.05</td>
										<td data-title="Low" class="numeric">$4.00</td>
										<td data-title="Volume" class="numeric">90,641</td>
									</tr>
									<tr>
										<td data-title="Code">ABC</td>
										<td data-title="Company">ADELAIDE BRIGHTON LIMITED</td>
										<td data-title="Price" class="numeric">$3.00</td>
										<td data-title="Change" class="numeric">  +0.06</td>
										<td data-title="Change %" class="numeric">2.04%</td>
										<td data-title="Open" class="numeric">$2.98</td>
										<td data-title="High" class="numeric">$3.00</td>
										<td data-title="Low" class="numeric">$2.96</td>
										<td data-title="Volume" class="numeric">862,518</td>
									</tr>
									<tr>
										<td data-title="Code">ABP</td>
										<td data-title="Company">ABACUS PROPERTY GROUP</td>
										<td data-title="Price" class="numeric">$1.91</td>
										<td data-title="Change" class="numeric">0.00</td>
										<td data-title="Change %" class="numeric">0.00%</td>
										<td data-title="Open" class="numeric">$1.92</td>
										<td data-title="High" class="numeric">$1.93</td>
										<td data-title="Low" class="numeric">$1.90</td>
										<td data-title="Volume" class="numeric">595,701</td>
									</tr>
									<tr>
										<td data-title="Code">ABY</td>
										<td data-title="Company">ADITYA BIRLA MINERALS LIMITED</td>
										<td data-title="Price" class="numeric">$0.77</td>
										<td data-title="Change" class="numeric">  +0.02</td>
										<td data-title="Change %" class="numeric">2.00%</td>
										<td data-title="Open" class="numeric">$0.76</td>
										<td data-title="High" class="numeric">$0.77</td>
										<td data-title="Low" class="numeric">$0.76</td>
										<td data-title="Volume" class="numeric">54,567</td>
									</tr>
									<tr>
										<td data-title="Code">ACR</td>
										<td data-title="Company">ACRUX LIMITED</td>
										<td data-title="Price" class="numeric">$3.71</td>
										<td data-title="Change" class="numeric">  +0.01</td>
										<td data-title="Change %" class="numeric">0.14%</td>
										<td data-title="Open" class="numeric">$3.70</td>
										<td data-title="High" class="numeric">$3.72</td>
										<td data-title="Low" class="numeric">$3.68</td>
										<td data-title="Volume" class="numeric">191,373</td>
									</tr>
									<tr>
										<td data-title="Code">ADU</td>
										<td data-title="Company">ADAMUS RESOURCES LIMITED</td>
										<td data-title="Price" class="numeric">$0.72</td>
										<td data-title="Change" class="numeric">0.00</td>
										<td data-title="Change %" class="numeric">0.00%</td>
										<td data-title="Open" class="numeric">$0.73</td>
										<td data-title="High" class="numeric">$0.74</td>
										<td data-title="Low" class="numeric">$0.72</td>
										<td data-title="Volume" class="numeric">8,602,291</td>
									</tr>
									<tr>
										<td data-title="Code">AGG</td>
										<td data-title="Company">ANGLOGOLD ASHANTI LIMITED</td>
										<td data-title="Price" class="numeric">$7.81</td>
										<td data-title="Change" class="numeric">-0.22</td>
										<td data-title="Change %" class="numeric">-2.74%</td>
										<td data-title="Open" class="numeric">$7.82</td>
										<td data-title="High" class="numeric">$7.82</td>
										<td data-title="Low" class="numeric">$7.81</td>
										<td data-title="Volume" class="numeric">148</td>
									</tr>
									<tr>
										<td data-title="Code">AGK</td>
										<td data-title="Company">AGL ENERGY LIMITED</td>
										<td data-title="Price" class="numeric">$13.82</td>
										<td data-title="Change" class="numeric">  +0.02</td>
										<td data-title="Change %" class="numeric">0.14%</td>
										<td data-title="Open" class="numeric">$13.83</td>
										<td data-title="High" class="numeric">$13.83</td>
										<td data-title="Low" class="numeric">$13.67</td>
										<td data-title="Volume" class="numeric">846,403</td>
									</tr>
									<tr>
										<td data-title="Code">AGO</td>
										<td data-title="Company">ATLAS IRON LIMITED</td>
										<td data-title="Price" class="numeric">$3.17</td>
										<td data-title="Change" class="numeric">-0.02</td>
										<td data-title="Change %" class="numeric">-0.47%</td>
										<td data-title="Open" class="numeric">$3.11</td>
										<td data-title="High" class="numeric">$3.22</td>
										<td data-title="Low" class="numeric">$3.10</td>
										<td data-title="Volume" class="numeric">5,416,303</td>
									</tr>
								</tbody>
							</table>
						</div><!--.no-more-tables-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-blue-grey">
					<a href="table-elements.html">
						<span class="state">Tables</span>
						<span>Elements</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-blue-grey">
					<a href="table-bootstrap-table.html">
						<span class="state">Tables</span>
						<span>Bootstrap Table</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-responsive.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:34 GMT -->
</html>