<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-datatables-data-sources.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:36 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Datatable Data Sources</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-blue-grey">
			<div class="row">
				<div class="col-sm-6">
					<h1>Datatable <small>Data Sources</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Tables</a></li>
						<li><a href="#" class="active">Datatable Data Sources</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>JAVASCRIPT SOURCED DATA</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table class="display datatables-js-sourced">
							<thead>
								<tr>
									<th>Engine</th>
									<th>Browser</th>
									<th>Platform</th>
									<th class="center">Version</th>
									<th class="center">Grade</th>
								</tr>
							</thead>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SERVER-SIDE PROCESSING</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table class="display datatables-serverside">
							<thead>
								<tr>
									<th>Name</th>
									<th>Position</th>
									<th>Office</th>
									<th>Extn.</th>
									<th>Start date</th>
									<th>Salary</th>
								</tr>
							</thead>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SERVER-SIDE ROW DETAILS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table class="display datatables-serverside-row-details">
							<thead>
								<tr>
									<th></th>
									<th>First name</th>
									<th>Last name</th>
									<th>Position</th>
									<th>Office</th>
								</tr>
							</thead>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-blue-grey">
					<a href="table-datatables.html">
						<span class="state">Tables</span>
						<span>Datatables</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-blue-grey">
					<a href="table-datatables-editor.html">
						<span class="state">Tables</span>
						<span>Datatables Editor</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		TablesDataTablesSources.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-datatables-data-sources.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:37 GMT -->
</html>