<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-bootstrap-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:34 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Bootstrap Tables</title>

	
</head>
<body>

<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-blue-grey">
			<div class="row">
				<div class="col-sm-6">
					<h1>Bootstrap Table <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Tables</a></li>
						<li><a href="#" class="active">Bootstrap Table</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BASIC TABLE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table data-toggle="table" data-url="demo/bootstrap-table/data1.json" data-cache="false" data-height="300">
							<thead>
								<tr>
									<th data-field="id">Item ID</th>
									<th data-field="name">Item Name</th>
									<th data-field="price">Item Price</th>
								</tr>
							</thead>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ALIGNING COLUMNS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table data-toggle="table" data-url="demo/bootstrap-table/data1.json" data-height="300">
							<thead>
								<tr>
									<th data-field="id" data-halign="right" data-align="center">Item ID</th>
									<th data-field="name" data-halign="center" data-align="left">Item Name</th>
									<th data-field="price" data-halign="left" data-align="right">Item Price</th>
								</tr>
							</thead>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SORTING</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table data-toggle="table" data-url="demo/bootstrap-table/data1.json" data-height="300" data-sort-name="name" data-sort-order="desc">
							<thead>
								<tr>
									<th data-field="id" data-align="right" data-sortable="true">Item ID</th>
									<th data-field="name" data-align="center" data-sortable="true">Item Name</th>
									<th data-field="price" data-sortable="true" data-sorter="priceSorter">Item Price</th>
								</tr>
							</thead>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-6-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SHOW HIDE COLUMNS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table data-toggle="table" data-url="demo/bootstrap-table/data3.json" data-height="300" data-show-columns="true" data-id-field="id">
							<thead>
								<tr>
									<th data-field="state" data-radio="true"></th>
									<th data-field="name" data-switchable="false">Name</th>
									<th data-field="price">Price</th>
									<th data-field="column1">Columns1</th>
									<th data-field="column2" data-visible="false">Columns2</th>
									<th data-field="column3" data-switchable="false">Columns3</th>
									<th data-field="column4" data-visible="false">Columns4</th>
								</tr>
							</thead>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SEARCH BAR AND PAGINATION</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table data-toggle="table" data-url="demo/bootstrap-table/data2.json" data-height="400" data-pagination="true" data-search="true">
							<thead>
								<tr>
									<th data-field="state" data-checkbox="true"></th>
									<th data-field="id" data-align="right" data-sortable="true">Item ID</th>
									<th data-field="name" data-align="center" data-sortable="true">Item Name</th>
									<th data-field="price" data-sortable="true" data-sorter="priceSorter">Item Price</th>
								</tr>
							</thead>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TABLE EVENTS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="well well-sm margin-bottom-10" id="events-result">
							Here is the result of event.
						</div>

						<table class="bs-table-events" data-url="demo/bootstrap-table/data1.json" data-height="300" data-search="true">
							<thead>
								<tr>
									<th data-field="state" data-checkbox="true"></th>
									<th data-field="id" data-sortable="true">Item ID</th>
									<th data-field="name" data-sortable="true">Item Name</th>
									<th data-field="price" data-sortable="true">Item Price</th>
								</tr>
							</thead>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>VIA JAVASCRIPT</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table class="bs-table-viajs"></table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-blue-grey">
					<a href="table-responsive.html">
						<span class="state">Tables</span>
						<span>Responsive</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-blue-grey">
					<a href="table-datatables.html">
						<span class="state">Tables</span>
						<span>Datatables</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		TablesBootstrap.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-bootstrap-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:34 GMT -->
</html>