<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-datatables-editor.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:37 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Datatables Editor</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-blue-grey">
			<div class="row">
				<div class="col-sm-6">
					<h1>Datatable Editors</h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Datatables</a></li>
						<li><a href="#" class="active">Editor</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>CRUD OPERATIONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table class="display datatables-crud">
							<thead>
								<tr>
									<th><input type="checkbox" class="checkable-group" data-target=".dataTable .checkboxes"></th>
									<th>Name</th>
									<th>Position</th>
									<th>Office</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Tiger Nixon</td>
									<td>System Architect</td>
									<td>Edinburgh</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Garrett Winters</td>
									<td>Accountant</td>
									<td>Tokyo</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Ashton Cox</td>
									<td>Junior Technical Author</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Cedric Kelly</td>
									<td>Senior Javascript Developer</td>
									<td>Edinburgh</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Airi Satou</td>
									<td>Accountant</td>
									<td>Tokyo</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Brielle Williamson</td>
									<td>Integration Specialist</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Herrod Chandler</td>
									<td>Sales Assistant</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Rhona Davidson</td>
									<td>Integration Specialist</td>
									<td>Tokyo</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Colleen Hurst</td>
									<td>Javascript Developer</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Sonya Frost</td>
									<td>Software Engineer</td>
									<td>Edinburgh</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Jena Gaines</td>
									<td>Office Manager</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Quinn Flynn</td>
									<td>Support Lead</td>
									<td>Edinburgh</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Charde Marshall</td>
									<td>Regional Director</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Haley Kennedy</td>
									<td>Senior Marketing Designer</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Tatyana Fitzpatrick</td>
									<td>Regional Director</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Michael Silva</td>
									<td>Marketing Designer</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Paul Byrd</td>
									<td>Chief Financial Officer (CFO)</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Gloria Little</td>
									<td>Systems Administrator</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Bradley Greer</td>
									<td>Software Engineer</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Dai Rios</td>
									<td>Personnel Lead</td>
									<td>Edinburgh</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Jenette Caldwell</td>
									<td>Development Lead</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Yuri Berry</td>
									<td>Chief Marketing Officer (CMO)</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Caesar Vance</td>
									<td>Pre-Sales Support</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Doris Wilder</td>
									<td>Sales Assistant</td>
									<td>Sidney</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Angelica Ramos</td>
									<td>Chief Executive Officer (CEO)</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Gavin Joyce</td>
									<td>Developer</td>
									<td>Edinburgh</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Jennifer Chang</td>
									<td>Regional Director</td>
									<td>Singapore</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Brenden Wagner</td>
									<td>Software Engineer</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Fiona Green</td>
									<td>Chief Operating Officer (COO)</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Shou Itou</td>
									<td>Regional Marketing</td>
									<td>Tokyo</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Michelle House</td>
									<td>Integration Specialist</td>
									<td>Sidney</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Suki Burks</td>
									<td>Developer</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Prescott Bartlett</td>
									<td>Technical Author</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Gavin Cortez</td>
									<td>Team Leader</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Martena Mccray</td>
									<td>Post-Sales support</td>
									<td>Edinburgh</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Unity Butler</td>
									<td>Marketing Designer</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Howard Hatfield</td>
									<td>Office Manager</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Hope Fuentes</td>
									<td>Secretary</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Vivian Harrell</td>
									<td>Financial Controller</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Timothy Mooney</td>
									<td>Office Manager</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Jackson Bradshaw</td>
									<td>Director</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Olivia Liang</td>
									<td>Support Engineer</td>
									<td>Singapore</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Bruno Nash</td>
									<td>Software Engineer</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Sakura Yamamoto</td>
									<td>Support Engineer</td>
									<td>Tokyo</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Thor Walton</td>
									<td>Developer</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Finn Camacho</td>
									<td>Support Engineer</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Serge Baldwin</td>
									<td>Data Coordinator</td>
									<td>Singapore</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Zenaida Frank</td>
									<td>Software Engineer</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Zorita Serrano</td>
									<td>Software Engineer</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Jennifer Acosta</td>
									<td>Junior Javascript Developer</td>
									<td>Edinburgh</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Cara Stevens</td>
									<td>Sales Assistant</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Hermione Butler</td>
									<td>Regional Director</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Lael Greer</td>
									<td>Systems Administrator</td>
									<td>London</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Jonas Alexander</td>
									<td>Developer</td>
									<td>San Francisco</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Shad Decker</td>
									<td>Regional Director</td>
									<td>Edinburgh</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Michael Bruce</td>
									<td>Javascript Developer</td>
									<td>Singapore</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
								<tr>
									<td><input type="checkbox" class="checkboxes" value="1"></td>
									<td>Donna Snider</td>
									<td>Customer Support</td>
									<td>New York</td>
									<td><button class="btn btn-primary btn-xs dt-edit"><span class="glyphicon glyphicon-pencil"></span></button></td>
									<td><button class="btn btn-danger btn-xs dt-delete"><span class="glyphicon glyphicon-trash"></span></button></td>
								</tr>
							</tbody>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-blue-grey">
					<a href="table-datatables-data-sources.html">
						<span class="state">Tables</span>
						<span>Datatables Data Sources</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-blue-grey">
					<a href="table-datatables-extensions.html">
						<span class="state">Tables</span>
						<span>Datatables Extensions</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		TablesDataTablesEditor.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-datatables-editor.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:37 GMT -->
</html>