<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-typography.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Typography</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-red">
			<div class="row">
				<div class="col-sm-6">
					<h1>Typography <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">UI Elements</a></li>
						<li><a href="#" class="active">Typography</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TYPOGRAPHY</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Headings</div><!--.col-md-3-->
							<div class="col-md-9">
								<h1>HEADING 1</h1>
								<h2>HEADING 2</h2>
								<h3>HEADING 3</h3>
								<h4>HEADING 4</h4>
								<h5>HEADING 5</h5>
								<h6>HEADING 6</h6>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Drop Caps</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6 margin-bottom-20">
										<span class="drop-caps drop-caps-default">M</span>auris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu
									</div>
									<div class="col-md-6 margin-bottom-20">
										<span class="drop-caps drop-caps-primary">M</span>auris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu
									</div>
									<div class="col-md-6 margin-bottom-20">
										<span class="drop-caps drop-caps-info">M</span>auris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu
									</div>
									<div class="col-md-6 margin-bottom-20">
										<span class="drop-caps drop-caps-warning">M</span>auris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Blockquote</div><!--.col-md-3-->
							<div class="col-md-9">

								<blockquote class="blockquote-primary">
									"Have some shots on the popular page of dribbble and assume yourself as a celebrity in design community."
									<small>by <cite>Ben Jacob</cite></small>
								</blockquote>

								<blockquote class="blockquote-danger pull-right">
									"Create an <i>okay</i> design and take a screenshot from an angle no one will ever see it at. Now add a lot of blur."
									<small>by <cite>Zach Inglis</cite></small>
								</blockquote>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Alignments</div><!--.col-md-3-->
							<div class="col-md-9">

								<p class="text-left">Left aligned text</p>
								<p class="text-center">Centered</p>
								<p class="text-right">Right aligned text</p>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Text States</div><!--.col-md-3-->
							<div class="col-md-9">

								<p class="text-muted">Muted text</p>
								<p class="text-primary">Primary text</p>
								<p class="text-success">Success text</p>
								<p class="text-info">Info text</p>
								<p class="text-warning">Warning text</p>
								<p class="text-danger">Danger text</p>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Material Colors</div><!--.col-md-3-->
							<div class="col-md-9">

								<p class="text-blue">Blue text</p>
								<p class="text-red">Red text</p>
								<p class="text-green">Green text</p>
								<p class="text-purple">Purple text</p>
								<p class="text-amber">Amber text</p>
								<p class="text-grey">Grey text</p>

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-tabs.html">
						<span class="state">UI Elements</span>
						<span>Tabs</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-teal">
					<a href="panels.html">
						<span class="state">Panels</span>
						<span>Panel Types</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-typography.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
</html>