<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-dialogs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - UI Elements Dialogs</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-red">
			<div class="row">
				<div class="col-sm-6">
					<h1>Dialogs <small>small description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">UI Elements</a></li>
						<li><a href="#" class="active">Lists</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>MODAL DIALOGS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Default Modal</div><!--.col-md-3-->
							<div class="col-md-9">
								<button class="btn btn-default" data-toggle="modal" data-target="#defaultModal">Launch Default Modal</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Large Modal</div><!--.col-md-3-->
							<div class="col-md-9">
								<button class="btn btn-default" data-toggle="modal" data-target="#largeModal">Launch Large Modal</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Small Modal</div><!--.col-md-3-->
							<div class="col-md-9">
								<button class="btn btn-default" data-toggle="modal" data-target="#smallModal">Launch Small Modal</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">From Right Modal</div><!--.col-md-3-->
							<div class="col-md-9">
								<button class="btn btn-pink" data-toggle="modal" data-target="#panel-modal2">Launch From Right Modal</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">From Right Left Modal</div><!--.col-md-3-->
							<div class="col-md-9">
								<button class="btn btn-pink" data-toggle="modal" data-target="#panel-modal3">Launch From Left Modal</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Full Height Modal</div><!--.col-md-3-->
							<div class="col-md-9">
								<button class="btn btn-indigo" data-toggle="modal" data-target="#panel-modal4">Launch Full Height Modal</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-lists.html">
						<span class="state">UI Elements</span>
						<span>Lists</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-notifications.html">
						<span class="state">UI Elements</span>
						<span>Notifications</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

		<!-- Modals -->
		<div class="modal scale fade" id="defaultModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-flat btn-primary">Save changes</button>
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div><!--.modal-->

		<div class="modal scale fade" id="largeModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div><!--.modal-->

		<div class="modal scale fade" id="smallModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
					</div>
				</div><!--.modal-content-->
			</div><!--.modal-dialog-->
		</div><!--.modal-->

		<div class="modal fade full-height from-right" id="panel-modal2" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Panel Modal</h4>
					</div>
					<div class="modal-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-flat-primary" data-dismiss="modal">DISAGREE</button>
						<button type="button" class="btn btn-flat-primary" data-dismiss="modal">AGREE</button>
					</div>
				</div>
			</div>
		</div><!--.modal-->

		<div class="modal fade full-height from-left" id="panel-modal3" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Panel Modal</h4>
					</div>
					<div class="modal-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-flat-primary" data-dismiss="modal">DISAGREE</button>
						<button type="button" class="btn btn-flat-primary" data-dismiss="modal">AGREE</button>
					</div>
				</div>
			</div>
		</div><!--.modal-->

		<div class="modal fade full-height" id="panel-modal4" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Panel Modal</h4>
					</div>
					<div class="modal-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-flat-primary" data-dismiss="modal">DISAGREE</button>
						<button type="button" class="btn btn-flat-primary" data-dismiss="modal">AGREE</button>
					</div>
				</div>
			</div>
		</div><!--.modal-->
		<!-- End of Modals -->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-dialogs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
</html>