<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-buttons.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - UI Elements Buttons</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
					<h1>Buttons <small>small description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">UI Elements</a></li>
						<li><a href="#" class="active">Buttons</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BUTTON VARIATIONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-buttons example-row">
							<div class="col-md-3">Floating Buttons</div><!--.col-->
							<div class="col-md-9">

								<a class="btn btn-floating"><i class="ion-android-star"></i></a>
								<a class="btn btn-floating btn-primary"><i class="ion-android-star"></i></a>
								<a class="btn btn-floating btn-success"><i class="ion-android-star"></i></a>
								<a class="btn btn-floating btn-info"><i class="ion-android-star"></i></a>
								<a class="btn btn-floating btn-warning"><i class="ion-android-star"></i></a>
								<a class="btn btn-floating btn-danger"><i class="ion-android-star"></i></a>

							</div><!--.col-->
							<div class="col-md-3"></div><!--.col-->
							<div class="col-md-9">

								<a class="btn btn-floating btn-red"><i class="ion-android-add"></i></a>
								<a class="btn btn-floating btn-pink"><i class="ion-android-add"></i></a>
								<a class="btn btn-floating btn-purple"><i class="ion-android-add"></i></a>
								<a class="btn btn-floating btn-deep-purple"><i class="ion-android-add"></i></a>

								<a class="btn btn-floating btn-indigo"><i class="ion-android-pin"></i></a>
								<a class="btn btn-floating btn-blue"><i class="ion-android-pin"></i></a>
								<a class="btn btn-floating btn-light-blue"><i class="ion-android-pin"></i></a>
								<a class="btn btn-floating btn-cyan"><i class="ion-android-pin"></i></a>

								<a class="btn btn-floating btn-teal"><i class="ion-android-search"></i></a>
								<a class="btn btn-floating btn-green"><i class="ion-android-search"></i></a>
								<a class="btn btn-floating btn-light-green"><i class="ion-android-search"></i></a>
								<a class="btn btn-floating btn-lime"><i class="ion-android-search"></i></a>

								<a class="btn btn-floating btn-yellow"><i class="ion-android-share"></i></a>
								<a class="btn btn-floating btn-amber"><i class="ion-android-share"></i></a>
								<a class="btn btn-floating btn-orange"><i class="ion-android-share"></i></a>
								<a class="btn btn-floating btn-deep-orange"><i class="ion-android-share"></i></a>

								<a class="btn btn-floating btn-brown"><i class="ion-android-create"></i></a>
								<a class="btn btn-floating btn-grey"><i class="ion-android-create"></i></a>
								<a class="btn btn-floating btn-blue-grey"><i class="ion-android-create"></i></a>

							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons example-row">
							<div class="col-md-3">Hoverable Actions</div><!--.col-->
							<div class="col-md-9">

								<a class="btn btn-floating show-on-hover">
									<i class="ion-android-arrow-back"></i>
									<ul class="to-left">
										<li><img src="../../assets/globals/img/faces/19.jpg" class="face-radius" alt=""></li>
										<li><img src="../../assets/globals/img/faces/20.jpg" class="face-radius" alt=""></li>
										<li><img src="../../assets/globals/img/faces/21.jpg" class="face-radius" alt=""></li>
									</ul>
								</a>

								<a class="btn btn-floating show-on-hover">
									<i class="ion-android-arrow-down"></i>
									<ul>
										<li><img src="../../assets/globals/img/faces/19.jpg" class="face-radius" alt=""></li>
										<li><img src="../../assets/globals/img/faces/20.jpg" class="face-radius" alt=""></li>
										<li><img src="../../assets/globals/img/faces/21.jpg" class="face-radius" alt=""></li>
									</ul>
								</a>

								<a class="btn btn-floating show-on-hover">
									<i class="ion-android-arrow-up"></i>
									<ul class="to-top">
										<li><img src="../../assets/globals/img/faces/19.jpg" class="face-radius" alt=""></li>
										<li><img src="../../assets/globals/img/faces/20.jpg" class="face-radius" alt=""></li>
										<li><img src="../../assets/globals/img/faces/21.jpg" class="face-radius" alt=""></li>
									</ul>
								</a>

								<a class="btn btn-floating show-on-hover">
									<i class="ion-android-arrow-forward"></i>
									<ul class="to-right">
										<li><img src="../../assets/globals/img/faces/19.jpg" class="face-radius" alt=""></li>
										<li><img src="../../assets/globals/img/faces/20.jpg" class="face-radius" alt=""></li>
										<li><img src="../../assets/globals/img/faces/21.jpg" class="face-radius" alt=""></li>
									</ul>
								</a>

							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons example-row">
							<div class="col-md-3">Flat Buttons</div><!--.col-->
							<div class="col-md-9">

								<button type="button" class="btn btn-flat">Default</button>
								<button type="button" class="btn btn-flat btn-primary">Primary</button>
								<button type="button" class="btn btn-flat btn-success">Success</button>
								<button type="button" class="btn btn-flat btn-info">Info</button>
								<button type="button" class="btn btn-flat btn-warning">Warning</button>
								<button type="button" class="btn btn-flat btn-danger">Danger</button>

								<button type="button" class="btn btn-flat btn-red">Red</button>
								<button type="button" class="btn btn-flat btn-pink">Pink</button>
								<button type="button" class="btn btn-flat btn-purple">Purple</button>
								<button type="button" class="btn btn-flat btn-deep-purple">Deep Purple</button>

								<button type="button" class="btn btn-flat btn-indigo">Indigo</button>
								<button type="button" class="btn btn-flat btn-blue">Blue</button>
								<button type="button" class="btn btn-flat btn-light-blue">Light Blue</button>
								<button type="button" class="btn btn-flat btn-cyan">Cyan</button>

								<button type="button" class="btn btn-flat btn-teal">Teal</button>
								<button type="button" class="btn btn-flat btn-green">Green</button>
								<button type="button" class="btn btn-flat btn-light-green">Light Green</button>
								<button type="button" class="btn btn-flat btn-lime">Lime</button>

								<button type="button" class="btn btn-flat btn-yellow">Yellow</button>
								<button type="button" class="btn btn-flat btn-amber">Amber</button>
								<button type="button" class="btn btn-flat btn-orange">Orange</button>
								<button type="button" class="btn btn-flat btn-deep-orange">Deep Orange</button>

								<button type="button" class="btn btn-flat btn-brown">Brown</button>
								<button type="button" class="btn btn-flat btn-grey">Grey</button>
								<button type="button" class="btn btn-flat btn-blue-grey">Blue Grey</button>
							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons example-row">
							<div class="col-md-3">Raised Buttons</div><!--.col-->
							<div class="col-md-9">

								<button type="button" class="btn btn-default">Default</button>
								<button type="button" class="btn btn-primary">Primary</button>
								<button type="button" class="btn btn-success">Success</button>
								<button type="button" class="btn btn-info">Info</button>
								<button type="button" class="btn btn-warning">Warning</button>
								<button type="button" class="btn btn-danger">Danger</button>
								<button type="button" class="btn btn-inverted">Inverted</button>

								<button type="button" class="btn btn-red">Red</button>
								<button type="button" class="btn btn-pink">Pink</button>
								<button type="button" class="btn btn-purple">Purple</button>
								<button type="button" class="btn btn-deep-purple">Deep Purple</button>

								<button type="button" class="btn btn-indigo">Indigo</button>
								<button type="button" class="btn btn-blue">Blue</button>
								<button type="button" class="btn btn-light-blue">Light Blue</button>
								<button type="button" class="btn btn-cyan">Cyan</button>

								<button type="button" class="btn btn-teal">Teal</button>
								<button type="button" class="btn btn-green">Green</button>
								<button type="button" class="btn btn-light-green">Light Green</button>
								<button type="button" class="btn btn-lime">Lime</button>

								<button type="button" class="btn btn-yellow">Yellow</button>
								<button type="button" class="btn btn-amber">Amber</button>
								<button type="button" class="btn btn-orange">Orange</button>
								<button type="button" class="btn btn-deep-orange">Deep Orange</button>

								<button type="button" class="btn btn-brown">Brown</button>
								<button type="button" class="btn btn-grey">Grey</button>
								<button type="button" class="btn btn-blue-grey">Blue Grey</button>
							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons example-row">
							<div class="col-md-3">Striped Buttons</div><!--.col-->
							<div class="col-md-9">
								<button type="button" class="btn btn-default button-striped button-full-striped">Default</button>
								<button type="button" class="btn btn-primary button-striped button-full-striped">Primary</button>
								<button type="button" class="btn btn-success button-striped button-full-striped">Success</button>
								<button type="button" class="btn btn-info button-striped button-full-striped">Info</button>
								<button type="button" class="btn btn-warning button-striped button-full-striped">Warning</button>
								<button type="button" class="btn btn-danger button-striped button-full-striped">Danger</button>
							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons example-row">
							<div class="col-md-3">Striped Positions</div><!--.col-->
							<div class="col-md-9">
								<button type="button" class="btn btn-primary button-striped button-top-striped">Top Striped</button>
								<button type="button" class="btn btn-primary button-striped button-right-striped">Right Striped</button>
								<button type="button" class="btn btn-primary button-striped button-bottom-striped">Bottom Striped</button>
								<button type="button" class="btn btn-primary button-striped button-left-striped">Left Striped</button>
							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons example-row">
							<div class="col-md-3">Disabled States</div><!--.col-->
							<div class="col-md-9">
								<button type="button" class="btn btn-default disabled">Default</button>
								<button type="button" class="btn btn-primary disabled">Primary</button>
								<button type="button" class="btn btn-success disabled">Success</button>
								<button type="button" class="btn btn-info disabled">Info</button>
								<button type="button" class="btn btn-warning disabled">Warning</button>
								<button type="button" class="btn btn-danger disabled">Danger</button>
							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons example-row">
							<div class="col-md-3">Button Sizes</div><!--.col-->
							<div class="col-md-9">
								<button type="button" class="btn btn-default btn-xl">X Large</button>
								<button type="button" class="btn btn-default btn-lg">Large</button>
								<button type="button" class="btn btn-default">Default</button>
								<button type="button" class="btn btn-default btn-sm">Small</button>
								<button type="button" class="btn btn-default btn-xs">X Small</button>
							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons example-row">
							<div class="col-md-3">Block Button</div><!--.col-->
							<div class="col-md-9">
								<button type="button" class="btn btn-default btn-lg btn-block">Large Block Button</button>
							</div><!--.col-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BUTTON GROUPS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-buttons">
							<div class="col-md-3">Group Buttons</div><!--.col-->
							<div class="col-md-9">
								<div class="btn-group">
									<button type="button" class="btn btn-red">Left</button>
									<button type="button" class="btn btn-pink">Middle</button>
									<button type="button" class="btn btn-purple">Right</button>
								</div><!--.btn-group-->
							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Button Toolbar</div><!--.col-->
							<div class="col-md-9">
								<div class="btn-group">
									<button type="button" class="btn btn-indigo">1</button>
									<button type="button" class="btn btn-blue">2</button>
									<button type="button" class="btn btn-light-blue">3</button>
									<button type="button" class="btn btn-cyan">4</button>
								</div><!--.btn-group-->
								<div class="btn-group">
									<button type="button" class="btn btn-teal">5</button>
									<button type="button" class="btn btn-green">6</button>
									<button type="button" class="btn btn-light-green">7</button>
								</div><!--.btn-group-->
							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Group Buttons Sizing</div><!--.col-->
							<div class="col-md-9">
								<div class="btn-group btn-group-lg">
									<button type="button" class="btn btn-default">Large</button>
									<button type="button" class="btn btn-default">Button</button>
									<button type="button" class="btn btn-default">Group</button>
								</div><!--.btn-group--><br>
								<div class="btn-group">
									<button type="button" class="btn btn-default">Default</button>
									<button type="button" class="btn btn-default">Button</button>
									<button type="button" class="btn btn-default">Group</button>
								</div><!--.btn-group--><br>
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default">Small</button>
									<button type="button" class="btn btn-default">Button</button>
									<button type="button" class="btn btn-default">Group</button>
								</div><!--.btn-group--><br>
								<div class="btn-group btn-group-xs">
									<button type="button" class="btn btn-default">X Small</button>
									<button type="button" class="btn btn-default">Button</button>
									<button type="button" class="btn btn-default">Group</button>
								</div><!--.btn-group-->
							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Nesting Group Buttons</div><!--.col-->
							<div class="col-md-9">
								<div class="btn-group">
									<button type="button" class="btn btn-default">Nesting</button>
									<button type="button" class="btn btn-default">Group</button>

									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											Dropdown
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Dropdown link</a></li>
											<li><a href="#">Dropdown link</a></li>
										</ul>
									</div><!--.btn-group-->
								</div><!--.btn-group-->
							</div><!--.col-->
						</div><!--.row-->

						<div class="row example-button-group">
							<div class="col-md-3">Justified Button Groups</div><!--.col-->
							<div class="col-md-9">
								<div class="btn-group btn-group-justified">
									<div class="btn-group">
										<button type="button" class="btn btn-deep-orange">Left</button>
									</div><!--.btn-group-->
									<div class="btn-group">
										<button type="button" class="btn btn-orange">Middle</button>
									</div><!--.btn-group-->
									<div class="btn-group">
										<button type="button" class="btn btn-amber">Right</button>
									</div><!--.btn-group-->
								</div><!--.btn-group-->

							</div><!--.col-->
						</div><!--.row-->

						<div class="row">
							<div class="col-md-3">Vertical Variation</div><!--.col-->
							<div class="col-md-9">

								<div class="btn-group-vertical">
									<button type="button" class="btn btn-primary">Button</button>
									<button type="button" class="btn btn-success">Button</button>
									<div class="btn-group">
										<button id="btnGroupVerticalDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop4">
											<li><a href="#">Dropdown link</a></li>
											<li><a href="#">Dropdown link</a></li>
										</ul>
									</div><!--.btn-group-->
									<button type="button" class="btn btn-warning">Button</button>
									<button type="button" class="btn btn-danger">Button</button>
									<div class="btn-group">
										<button id="btnGroupVerticalDrop2" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop4">
											<li><a href="#">Dropdown link</a></li>
											<li><a href="#">Dropdown link</a></li>
										</ul>
									</div><!--.btn-group-->
									<div class="btn-group">
										<button id="btnGroupVerticalDrop3" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop4">
											<li><a href="#">Dropdown link</a></li>
											<li><a href="#">Dropdown link</a></li>
										</ul>
									</div><!--.btn-group-->
									<div class="btn-group">
										<button id="btnGroupVerticalDrop4" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop4">
											<li><a href="#">Dropdown link</a></li>
											<li><a href="#">Dropdown link</a></li>
										</ul>
									</div>
								</div><!--.btn-group-vertical-->

							</div><!--.col-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>DROPDOWN BUTTONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-buttons">
							<div class="col-md-3">Default Dropdown</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									Default <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->
								<div class="btn-group">
									<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
									Primary <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->
								<div class="btn-group">
									<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
									Success <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->

								<div class="btn-group">
									<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
									Info <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->

								<div class="btn-group">
									<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
									Warning <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->

								<div class="btn-group">
									<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
									Danger <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Multilevel Dropdown</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="btn-group">
									<button type="button" class="btn btn-red dropdown-toggle" data-toggle="dropdown">
									Dropdown <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li class="dropdown-submenu">
											<a href="javascript:;">More Options</a>
											<ul class="dropdown-menu">
												<li><a href="#">Action</a></li>
												<li><a href="#">Another action</a></li>
												<li><a href="#">Something else here</a></li>
												<li><a href="#">Separated link</a></li>
											</ul>
										</li>
									</ul>
								</div><!--.btn-group-->

								<div class="btn-group dropup">
									<button type="button" class="btn btn-pink dropdown-toggle" data-toggle="dropdown">
									Dropup <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li class="dropdown-submenu">
											<a href="javascript:;">More Options</a>
											<ul class="dropdown-menu">
												<li><a href="#">Action</a></li>
												<li><a href="#">Another action</a></li>
												<li><a href="#">Something else here</a></li>
												<li><a href="#">Separated link</a></li>
											</ul>
										</li>
									</ul>
								</div><!--.btn-group-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Button Sizing</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="btn-group">
									<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
									Large <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->
								<div class="btn-group">
									<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
									Default <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->
								<div class="btn-group">
									<button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
									Small <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->
								<div class="btn-group">
									<button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown">
									XSmall <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Hoverable Dropdowns</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="btn-group">
									<button type="button" class="btn btn-pomegranate dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="true">
									Dropdown <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->

								<div class="btn-group dropup">
									<button type="button" class="btn btn-pumpkin dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="true">
									Dropup <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div><!--.btn-group-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">With Form Elements</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="btn-group">
									<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
										Search Box <span class="caret"></span>
									</button>
									<div class="dropdown-menu dropdown-content input-large hold-on-click" role="menu">
										<form action="#">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Search...">
												<span class="input-group-btn">
													<button class="btn primary" type="submit">Go!</button>
												</span>
											</div>
										</form>
									</div>
								</div><!--.btn-group-->

								<div class="btn-group">
									<button type="button" class="btn btn-danger" data-toggle="dropdown">Checkbox <span class="caret"></span></button>
									<div class="dropdown-menu keep-open dropdown-checkboxes" role="menu">
										<label><span class="checker"><span><input type="checkbox"></span></span>Option 1</label>
										<label><span class="checker"><span class="checked"><input type="checkbox" checked=""></span></span>Option 2</label>
										<label><span class="checker"><span><input type="checkbox"></span></span>Option 3</label>
										<label><span class="checker"><span class="checked"><input type="checkbox" checked=""></span></span>Option 4</label>
										<label><span class="checker"><span><input type="checkbox"></span></span>Option 5</label>
									</div>
								</div><!--.btn-group-->

								<div class="btn-group dropup">
									<button type="button" class="btn btn-info" data-toggle="dropdown">Radio Button <span class="caret"></span></button>
									<div class="dropdown-menu keep-open dropdown-radiobuttons" role="menu">
										<label><span class="radio"><span><input type="radio" name="radio_button_1"></span></span>Option 1</label>
										<label><span class="radio"><span><input type="radio" name="radio_button_1"></span></span>Option 2</label>
										<label><span class="radio"><span><input type="radio" name="radio_button_1"></span></span>Option 3</label>
										<label><span class="radio"><span><input type="radio" name="radio_button_1"></span></span>Option 4</label>
										<label><span class="radio"><span><input type="radio" name="radio_button_1"></span></span>Option 5</label>
									</div>
								</div><!--.btn-group-->

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>FORM ELEMENTS IN BUTTONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-buttons">
							<div class="col-md-3">Loading States</div><!--.col-md-3-->
							<div class="col-md-9">
								<button type="button" data-loading-text="Loading..." class="demo-btn-loading btn btn-alizarin">Loading state</button>
								<button type="button" data-loading-text="Loading..." class="demo-btn-loading btn btn-asbestos">Loading state</button>
								<button type="button" data-loading-text="Loading..." class="demo-btn-loading btn btn-orange">Loading state</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Single Toggle</div><!--.col-md-3-->
							<div class="col-md-9">
								<button type="button" class="btn btn-default" data-toggle="button">Single toggle</button>
								<button type="button" class="btn btn-default" data-toggle="button">Single toggle</button>
								<button type="button" class="btn btn-default" data-toggle="button">Single toggle</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Checkbox Buttons</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-alizarin active"><input type="checkbox" checked> Option 1 (pre-checked) </label>
									<label class="btn btn-alizarin"><input type="checkbox"> Option 2</label>
									<label class="btn btn-alizarin"><input type="checkbox"> Option 3</label>
								</div><!--.btn-group-->
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Radio Buttons</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-clouds"><input type="radio" name="pleasure"> Option 1
									</label>
									<label class="btn btn-clouds active"><input type="radio" name="pleasure" checked> Option 2 (pre-checked)</label>
									<label class="btn btn-clouds"><input type="radio" name="pleasure"> Option 3</label>
								</div><!--.btn-group-->
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BUTTONS WITH ICONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-buttons">
							<div class="col-md-3">Icon Buttons</div><!--.col-md-3-->
							<div class="col-md-9">
								<a class="btn btn-default"><span class="ion-android-settings"></span></a>
								<a class="btn btn-danger"><span class="ion-android-favorite"></span></a>
								<a class="btn btn-primary"><span class="ion-android-print"></span></a>
								<a class="btn btn-info"><span class="ion-android-attach"></span></a>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Sizing</div><!--.col-md-3-->
							<div class="col-md-9">
								<a class="btn btn-lg btn-default"><span class="ion-android-settings"></span> Settings</a>
								<a class="btn btn-default"><span class="ion-android-settings"></span> Settings</a>
								<a class="btn btn-sm btn-default"><span class="ion-android-settings"></span> Settings</a>
								<a class="btn btn-xs btn-default"><span class="ion-android-settings"></span> Settings</a>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">With Custom Font Icons</div><!--.col-md-3-->
							<div class="col-md-9">
								<a class="btn btn-default"><i class="ion-android-call"></i></a>
								<a class="btn btn-danger"><i class="ion-android-walk"></i></a>
								<a class="btn btn-orange"><i class="ion-android-cart"></i></a>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-general.html">
						<span class="state">UI Elements</span>
						<span>General</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-lists.html">
						<span class="state">UI Elements</span>
						<span>Lists</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-buttons.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
</html>