<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-social-buttons.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Social Buttons</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-red">
			<div class="row">
				<div class="col-sm-6">
					<h1>Social Buttons <small>small description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">UI Elements</a></li>
						<li><a href="#" class="active">Social Buttons</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SOCIAL BUTTONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-buttons">
							<div class="col-md-3">Default Buttons</div><!--.col-md-3-->
							<div class="col-md-9">
								<a class="btn btn-block btn-social btn-adn"><i class="fa fa-adn"></i> Sign in with App.net</a>
								<a class="btn btn-block btn-social btn-bitbucket"><i class="fa fa-bitbucket"></i> Sign in with Bitbucket</a>
								<a class="btn btn-block btn-social btn-dropbox"><i class="fa fa-dropbox"></i> Sign in with Dropbox</a>
								<a class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
								<a class="btn btn-block btn-social btn-flickr"><i class="fa fa-flickr"></i> Sign in with Flickr</a>
								<a class="btn btn-block btn-social btn-foursquare"><i class="fa fa-foursquare"></i> Sign in with Foursquare</a>
								<a class="btn btn-block btn-social btn-github"><i class="fa fa-github"></i> Sign in with GitHub</a>
								<a class="btn btn-block btn-social btn-google-plus"><i class="fa fa-google-plus"></i> Sign in with Google</a>
								<a class="btn btn-block btn-social btn-instagram"><i class="fa fa-instagram"></i> Sign in with Instagram</a>
								<a class="btn btn-block btn-social btn-linkedin"><i class="fa fa-linkedin"></i> Sign in with LinkedIn</a>

								<a class="btn btn-block btn-social btn-microsoft"><i class="fa fa-windows"></i> Sign in with Microsoft</a>
								<a class="btn btn-block btn-social btn-openid"><i class="fa fa-openid"></i> Sign in with OpenID</a>
								<a class="btn btn-block btn-social btn-pinterest"><i class="fa fa-pinterest"></i> Sign in with Pinterest</a>
								<a class="btn btn-block btn-social btn-reddit"><i class="fa fa-reddit"></i> Sign in with Reddit</a>
								<a class="btn btn-block btn-social btn-soundcloud"><i class="fa fa-soundcloud"></i> Sign in with SoundCloud</a>
								<a class="btn btn-block btn-social btn-tumblr"><i class="fa fa-tumblr"></i> Sign in with Tumblr</a>
								<a class="btn btn-block btn-social btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</a>
								<a class="btn btn-block btn-social btn-vimeo"><i class="fa fa-vimeo-square"></i> Sign in with Vimeo</a>
								<a class="btn btn-block btn-social btn-vk"><i class="fa fa-vk"></i> Sign in with VK</a>
								<a class="btn btn-block btn-social btn-yahoo"><i class="fa fa-yahoo"></i> Sign in with Yahoo!</a>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Only Icons</div><!--.col-md-3-->
							<div class="col-md-9">
								<a class="btn btn-social-icon btn-adn"><i class="fa fa-adn"></i></a>
								<a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
								<a class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></a>
								<a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
								<a class="btn btn-social-icon btn-flickr"><i class="fa fa-flickr"></i></a>

								<a class="btn btn-social-icon btn-foursquare"><i class="fa fa-foursquare"></i></a>
								<a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
								<a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
								<a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
								<a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>

								<a class="btn btn-social-icon btn-microsoft"><i class="fa fa-windows"></i></a>
								<a class="btn btn-social-icon btn-openid"><i class="fa fa-openid"></i></a>
								<a class="btn btn-social-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
								<a class="btn btn-social-icon btn-reddit"><i class="fa fa-reddit"></i></a>
								<a class="btn btn-social-icon btn-soundcloud"><i class="fa fa-soundcloud"></i></a>

								<a class="btn btn-social-icon btn-tumblr"><i class="fa fa-tumblr"></i></a>
								<a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
								<a class="btn btn-social-icon btn-vimeo"><i class="fa fa-vimeo-square"></i></a>
								<a class="btn btn-social-icon btn-vk"><i class="fa fa-vk"></i></a>
								<a class="btn btn-social-icon btn-yahoo"><i class="fa fa-yahoo"></i></a>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Button Sizing</div><!--.col-md-3-->
							<div class="col-md-9">
								<a class="btn btn-block btn-lg btn-social btn-github"><i class="fa fa-github"></i> Sign in with GitHub</a>
								<a class="btn btn-block btn-social btn-github"><i class="fa fa-github"></i> Sign in with GitHub</a>
								<a class="btn btn-block btn-sm btn-social btn-github"><i class="fa fa-github"></i> Sign in with GitHub</a>
								<a class="btn btn-block btn-xs btn-social btn-github"><i class="fa fa-github"></i> Sign in with GitHub</a>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Only Icons</div><!--.col-md-3-->
							<div class="col-md-9">
								<a class="btn btn-social-icon btn-lg btn-facebook"><i class="fa fa-facebook"></i></a>
								<a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
								<a class="btn btn-social-icon btn-sm btn-facebook"><i class="fa fa-facebook"></i></a>
								<a class="btn btn-social-icon btn-xs btn-facebook"><i class="fa fa-facebook"></i></a>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-notifications.html">
						<span class="state">UI Elements</span>
						<span>Notifications</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-font-icons.html">
						<span class="state">UI Elements</span>
						<span>Font Icons</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-social-buttons.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
</html>