<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-general.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:20 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - UI Elements General</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-red">
			<div class="row">
				<div class="col-sm-6">
					<h1>UI Elements <small>small description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">UI Elements</a></li>
						<li><a href="#" class="active">General</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ALERTS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-buttons">
							<div class="col-md-3">Default Alerts</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="alert alert-primary" role="alert"><strong>Wow!</strong> Primary alerts always look beautiful.</div>
								<div class="alert alert-success" role="alert"><strong>Well done!</strong> Read this important alert messsage successfully.</div>
								<div class="alert alert-info" role="alert"><strong>Heads up!</strong> This alert needs your attention</div>
								<div class="alert alert-warning" role="alert"><strong>Warning!</strong> Better check yourself, you're not looking too good.</div>
								<div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> Change a few things up and try submitting again.</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Transparent Alerts</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="alert alert-primary-transparent" role="alert"><strong>Wow!</strong> Primary alerts always look beautiful.</div>
								<div class="alert alert-success-transparent" role="alert"><strong>Well done!</strong> Read this important alert messsage successfully.</div>
								<div class="alert alert-info-transparent" role="alert"><strong>Heads up!</strong> This alert needs your attention</div>
								<div class="alert alert-warning-transparent" role="alert"><strong>Warning!</strong> Better check yourself, you're not looking too good.</div>
								<div class="alert alert-danger-transparent" role="alert"><strong>Oh snap!</strong> Change a few things up and try submitting again.</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Material Colors</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="alert alert-indigo" role="alert"><strong>Wow!</strong> Primary alerts always look beautiful.</div>
								<div class="alert alert-red" role="alert"><strong>Well done!</strong> Read this important alert messsage successfully.</div>
								<div class="alert alert-amber" role="alert"><strong>Heads up!</strong> This alert needs your attention</div>
								<div class="alert alert-orange" role="alert"><strong>Warning!</strong> Better check yourself, you're not looking too good.</div>
								<div class="alert alert-teal" role="alert"><strong>Oh snap!</strong> Change a few things up and try submitting again.</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Dismisable Alerts</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="alert alert-success" role="alert">
									<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<strong>Hey!</strong> Dismiss this alert, after you read.
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Links in Alerts</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="alert alert-info" role="alert">
									<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<strong>Whoa!</strong> Do I <a href="#">use links</a> in alerts?
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>NOTES</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-buttons">
							<div class="col-md-3">Top Striped</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="note note-primary note-top-striped">
									<h4>Wow! Primary header</h4>
									<p>
									It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
									</p>
								</div><!--.note-->
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Right Striped</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="note note-success note-right-striped">
									<h4>Well done! Successful header</h4>
									<p>
									It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
									</p>
								</div><!--.note-->
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Bottom Striped</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="note note-info note-bottom-striped">
									<h4>Heads up! Information header</h4>
									<p>
									It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
									</p>
								</div><!--.note-->
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Left Striped</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="note note-warning note-left-striped">
									<h4>Dıt Dıt! Warning header</h4>
									<p>
									It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
									</p>
								</div><!--.note-->
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>WELLS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-buttons">
							<div class="col-md-3">Default Well</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="well">
									It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
								</div><!--.well-->
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Large Well</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="well well-lg">
									It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
								</div><!--.well-->
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-buttons">
							<div class="col-md-3">Small Well</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="well well-sm">
									It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
								</div><!--.well-->
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PROGRESS BARS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Default Progress Bars</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="progress">
									<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
										<span class="sr-only">40% Complete (primary)</span>
									</div>
								</div><!--.progress-->
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
										<span class="sr-only">60% Complete (success)</span>
									</div>
								</div><!--.progress-->
								<div class="progress">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
										<span class="sr-only">50% Complete (info)</span>
									</div>
								</div><!--.progress-->
								<div class="progress">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
										<span class="sr-only">80% Complete (warning)</span>
									</div>
								</div><!--.progress-->
								<div class="progress">
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
										<span class="sr-only">30% Complete (danger)</span>
									</div>
								</div><!--.progress-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Material Colors</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="progress">
									<div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
										<span class="sr-only">40% Complete (nephritis)</span>
									</div>
								</div><!--.progress-->
								<div class="progress">
									<div class="progress-bar progress-bar-deep-purple" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
										<span class="sr-only">60% Complete (pomegranate)</span>
									</div>
								</div><!--.progress-->
								<div class="progress">
									<div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
										<span class="sr-only">50% Complete (carrot)</span>
									</div>
								</div><!--.progress-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Striped Progress Bars</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
										<span class="sr-only">40% Complete (primary)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
										<span class="sr-only">60% Complete (success)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
										<span class="sr-only">50% Complete (info)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
										<span class="sr-only">80% Complete (warning)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
										<span class="sr-only">30% Complete (danger)</span>
									</div>
								</div><!--.progress-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Animated Progress Bars</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
										<span class="sr-only">40% Complete (primary)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
										<span class="sr-only">60% Complete (success)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
										<span class="sr-only">50% Complete (info)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
										<span class="sr-only">80% Complete (warning)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
										<span class="sr-only">30% Complete (danger)</span>
									</div>
								</div><!--.progress-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Minimal Progress Bars</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="progress progress-xs">
									<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
										<span class="sr-only">40% Complete (primary)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-xs">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
										<span class="sr-only">60% Complete (success)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-xs">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
										<span class="sr-only">50% Complete (info)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-xs">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
										<span class="sr-only">80% Complete (warning)</span>
									</div>
								</div><!--.progress-->
								<div class="progress progress-xs">
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
										<span class="sr-only">30% Complete (danger)</span>
									</div>
								</div><!--.progress-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Stacked Progress Bars</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="progress">
									<div class="progress-bar progress-bar-success" style="width: 35%">
										<span class="sr-only">35% Complete (success)</span>
									</div>
									<div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 20%">
										<span class="sr-only">20% Complete (warning)</span>
									</div>
									<div class="progress-bar progress-bar-danger" style="width: 10%">
										<span class="sr-only">10% Complete (danger)</span>
									</div>
								</div><!--.progress-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Contextual Progress Bar</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">INTERFACE DESIGN</div>
								</div><!--.progress-->
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">IDENTITY DESIGN</div>
								</div><!--.progress-->
								<div class="progress">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">DEVELOPMENT</div>
								</div><!--.progress-->
								<div class="progress">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">USER EXPERIENCE</div>
								</div><!--.progress-->
								<div class="progress">
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">SOCIAL MEDIA</div>
								</div><!--.progress-->

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>LABELS &amp; BADGES</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Labels</div><!--.col-md-3-->
							<div class="col-md-9">

								<h1><span class="label label-default">New</span> Example heading</h1>
								<h2><span class="label label-primary">New</span> Example heading</h2>
								<h3><span class="label label-success">New</span> Example heading</h3>
								<h4><span class="label label-info">New</span> Example heading</h4>
								<h5><span class="label label-warning">New</span> Example heading</h5>
								<h6><span class="label label-danger">New</span> Example heading</h6>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Badges in Nav</div><!--.col-md-3-->
							<div class="col-md-9">

								<ul class="nav nav-pills">
									<li class="active"><a href="#">Home <span class="badge">42</span></a></li>
									<li><a href="#">Profile</a></li>
									<li><a href="#">Notification</a></li>
									<li><a href="#">Messages <span class="badge">3</span></a></li>
								</ul>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Badges in Stacked Nav</div><!--.col-md-3-->
							<div class="col-md-9">

								<ul class="nav nav-pills nav-stacked">
									<li class="active"><a href="#">Home <span class="badge pull-right">42</span></a></li>
									<li class="success"><a href="#">Profile <span class="badge pull-right">11</span></a></li>
									<li class="info"><a href="#">Notification <span class="badge pull-right">6</span></a></li>
									<li class="warning"><a href="#">Messages <span class="badge pull-right">26</span></a></li>
									<li class="danger"><a href="#">Cart <span class="badge pull-right">35</span></a></li>
								</ul>

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>PAGINATION</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Default Pagination</div><!--.col-md-3-->
							<div class="col-md-9">

								<ul class="pagination">
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li class="active"><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">6</a></li>
									<li><a href="#">7</a></li>
									<li><a href="#">8</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Center Links</div><!--.col-md-3-->
							<div class="col-md-9">

								<ul class="pager">
									<li><a href="#">&larr; OLDER</a></li>
									<li><a href="#">NEWER &rarr;</a></li>
								</ul>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Aligned Links</div><!--.col-md-3-->
							<div class="col-md-9">

								<ul class="pager">
									<li class="previous"><a href="#">&larr; OLDER</a></li>
									<li class="next"><a href="#">NEWER &rarr;</a></li>
								</ul>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Disabled Links</div><!--.col-md-3-->
							<div class="col-md-9">

								<ul class="pager">
									<li class="previous disabled"><a href="#">&larr; OLDER</a></li>
									<li class="next"><a href="#">NEWER &rarr;</a></li>
								</ul>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">With Icons</div><!--.col-md-3-->
							<div class="col-md-9">

								<ul class="pager">
									<li class="previous"><a href="#"><span class="fa fa-chevron-left"></span> OLDER</a></li>
									<li class="next"><a href="#">NEWER <span class="fa fa-chevron-right"></span></a></li>
								</ul>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Dynamic Pagination</div><!--.col-md-3-->
							<div class="col-md-9">

								<p class="well content1">
									Page 1 content here
								</p>
								<div class="demo1"></div>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Advanced Dynamic Pagination</div><!--.col-md-3-->
							<div class="col-md-9">

								<p class="well content2">
									Page 1 content here
								</p>
								<div class="demo2"></div>

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>MEDIA OBJECTS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<ul class="media-list">
							<li class="media">
								<a class="pull-left" href="#">
									<img class="media-object" data-src="holder.js/64x64/sky" src="holder.js/64x64/sky.html" alt="">
								</a>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
									<!-- Nested media object -->
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object" data-src="holder.js/64x64/vine" src="holder.js/64x64/vine.html" alt="">
										</a>
										<div class="media-body">
											<h4 class="media-heading">Nested media heading</h4>
											Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
											<!-- Nested media object -->
											<div class="media">
												<a class="pull-left" href="#">
													<img class="media-object" data-src="holder.js/64x64/lava" src="holder.js/64x64/lava.html" alt="">
												</a>
												<div class="media-body">
													<h4 class="media-heading">Nested media heading</h4>
													Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
												</div><!--.media-body-->
											</div><!--.media-->
										</div><!--.media-body-->
									</div><!--.media-->

									<!-- Nested media object -->
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object" data-src="holder.js/64x64/industrial" src="holder.js/64x64/industrial.html" alt="">
										</a>
										<div class="media-body">
											<h4 class="media-heading">Nested media heading</h4>
											Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
										</div><!--.media-body-->
									</div><!--.media-->
								</div><!--.media-body-->
							</li>
							<li class="media">
								<a class="pull-right" href="#">
									<img class="media-object" data-src="holder.js/64x64/social" src="holder.js/64x64/social.html" alt="">
								</a>
								<div class="media-body">
									<h4 class="media-heading">Media heading</h4>
									Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
								</div><!--.media-body-->
							</li>
						</ul>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>THUMBNAILS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Default</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="row">
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"><img data-src="holder.js/100%x180/sky" src="holder.js/100x180/sky.html" alt="100x180" style="height: 180px; width: 100%; display: block;"></a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"><img data-src="holder.js/100%x180/vine" src="holder.js/100x180/vine.html" alt="100x180" style="height: 180px; width: 100%; display: block;"></a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"><img data-src="holder.js/100%x180/lava" src="holder.js/100x180/lava.html" alt="100x180" style="height: 180px; width: 100%; display: block;"></a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"><img data-src="holder.js/100%x180/industrial" src="holder.js/100x180/industrial.html" alt="100x180" style="height: 180px; width: 100%; display: block;"></a>
									</div>
								</div>

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TOOLTIPS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row">
							<div class="col-md-3">Tooltip Positions</div><!--.col-md-3-->
							<div class="col-md-9">
								<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Top</button>
								<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Right</button>
								<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Bottom</button>
								<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Left</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>POPOVERS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Popover Positions</div><!--.col-md-3-->
							<div class="col-md-9">
								<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top</button>
								<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right</button>
								<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Bottom</button>
								<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row">
							<div class="col-md-3">Popover with Header</div><!--.col-md-3-->
							<div class="col-md-9">
								<button type="button" class="btn btn-danger" data-toggle="popover" data-placement="top" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>LIST GROUPS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Basic List Group</div><!--.col-md-3-->
							<div class="col-md-9">
								<ul class="list-group">
									<li class="list-group-item">Cras justo odio</li>
									<li class="list-group-item">Dapibus ac facilisis in</li>
									<li class="list-group-item">Morbi leo risus</li>
									<li class="list-group-item">Porta ac consectetur ac</li>
									<li class="list-group-item">Vestibulum at eros</li>
								</ul>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">With Badges</div><!--.col-md-3-->
							<div class="col-md-9">
								<ul class="list-group">
									<li class="list-group-item"><span class="badge badge-primary">14</span> Cras justo odio</li>
									<li class="list-group-item"><span class="badge">10</span> Dapibus ac facilisis in</li>
									<li class="list-group-item"><span class="badge">5</span> Morbi leo risus</li>
								</ul>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Linked Items</div><!--.col-md-3-->
							<div class="col-md-9">
								<ul class="list-group">
									<li><a href="#" class="list-group-item active">Cras justo odio</a></li>
									<li><a href="#" class="list-group-item"><span class="badge">10</span> Dapibus ac facilisis in</a></li>
									<li><a href="#" class="list-group-item disabled">Disabled item</a></li>
								</ul>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Color Options</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="list-group">
									<a href="#" class="list-group-item list-group-item-primary">The point of using Lorem</a>
									<a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
									<a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
									<a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
									<a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-blue">
					<a href="cards-video.html">
						<span class="state">Cards</span>
						<span>Video Cards</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-buttons.html">
						<span class="state">UI Elements</span>
						<span>Buttons</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

		DynamicPagination.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-general.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
</html>