<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-font-icons.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Font Icons</title>

</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-red" style="min-height: 141px;">
			<div class="row">
				<div class="col-sm-6">
					<h1>Font Icons <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">UI Elements</a></li>
						<li><a href="#" class="active">Font Icons</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->

			<div class="header-tabs sticky">
				<ul class="nav nav-tabs tabs-active-text-white tabs-active-border-yellow">
					<li class="active"><a href="#glyphicons" data-toggle="tab">Glyphicon</a></li>
					<li><a href="#fontawesome" data-toggle="tab">Font Awesome</a></li>
					<li><a href="#ionicons" data-toggle="tab">Ion Icons</a></li>
					<li><a href="#weathericons" data-toggle="tab">Weather Icons</a></li>
				</ul>
			</div>

		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-body">

						<div class="tab-content with-panel">
							<div class="tab-pane active text-style" id="glyphicons">

								<div class="well">
									Here are some of the glyphicons. You can see the full icon list on <a href="http://glyphicons.com/" target="_blank">Glyphicon website</a>.
								</div>

								<div class="list-fonticons">
									<ul class="clearfix">
										<li>
											<span class="glyphicon glyphicon-asterisk"></span>
											<span class="glyphicon-text">glyphicon glyphicon-asterisk</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-plus"></span>
											<span class="glyphicon-text">glyphicon glyphicon-plus</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-euro"></span>
											<span class="glyphicon-text">glyphicon glyphicon-euro</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-minus"></span>
											<span class="glyphicon-text">glyphicon glyphicon-minus</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-cloud"></span>
											<span class="glyphicon-text">glyphicon glyphicon-cloud</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-envelope"></span>
											<span class="glyphicon-text">glyphicon glyphicon-envelope</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-pencil"></span>
											<span class="glyphicon-text">glyphicon glyphicon-pencil</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-glass"></span>
											<span class="glyphicon-text">glyphicon glyphicon-glass</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-music"></span>
											<span class="glyphicon-text">glyphicon glyphicon-music</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-search"></span>
											<span class="glyphicon-text">glyphicon glyphicon-search</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-heart"></span>
											<span class="glyphicon-text">glyphicon glyphicon-heart</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon-text">glyphicon glyphicon-star</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-star-empty"></span>
											<span class="glyphicon-text">glyphicon glyphicon-star-empty</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-user"></span>
											<span class="glyphicon-text">glyphicon glyphicon-user</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-film"></span>
											<span class="glyphicon-text">glyphicon glyphicon-film</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-th-large"></span>
											<span class="glyphicon-text">glyphicon glyphicon-th-large</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-th"></span>
											<span class="glyphicon-text">glyphicon glyphicon-th</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-th-list"></span>
											<span class="glyphicon-text">glyphicon glyphicon-th-list</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-ok"></span>
											<span class="glyphicon-text">glyphicon glyphicon-ok</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-remove"></span>
											<span class="glyphicon-text">glyphicon glyphicon-remove</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-zoom-in"></span>
											<span class="glyphicon-text">glyphicon glyphicon-zoom-in</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-zoom-out"></span>
											<span class="glyphicon-text">glyphicon glyphicon-zoom-out</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-off"></span>
											<span class="glyphicon-text">glyphicon glyphicon-off</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-signal"></span>
											<span class="glyphicon-text">glyphicon glyphicon-signal</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-cog"></span>
											<span class="glyphicon-text">glyphicon glyphicon-cog</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-trash"></span>
											<span class="glyphicon-text">glyphicon glyphicon-trash</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-home"></span>
											<span class="glyphicon-text">glyphicon glyphicon-home</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-file"></span>
											<span class="glyphicon-text">glyphicon glyphicon-file</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-time"></span>
											<span class="glyphicon-text">glyphicon glyphicon-time</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-road"></span>
											<span class="glyphicon-text">glyphicon glyphicon-road</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-download-alt"></span>
											<span class="glyphicon-text">glyphicon glyphicon-download-alt</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-download"></span>
											<span class="glyphicon-text">glyphicon glyphicon-download</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-upload"></span>
											<span class="glyphicon-text">glyphicon glyphicon-upload</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-inbox"></span>
											<span class="glyphicon-text">glyphicon glyphicon-inbox</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-play-circle"></span>
											<span class="glyphicon-text">glyphicon glyphicon-play-circle</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-repeat"></span>
											<span class="glyphicon-text">glyphicon glyphicon-repeat</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-refresh"></span>
											<span class="glyphicon-text">glyphicon glyphicon-refresh</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-list-alt"></span>
											<span class="glyphicon-text">glyphicon glyphicon-list-alt</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-lock"></span>
											<span class="glyphicon-text">glyphicon glyphicon-lock</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-flag"></span>
											<span class="glyphicon-text">glyphicon glyphicon-flag</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-headphones"></span>
											<span class="glyphicon-text">glyphicon glyphicon-headphones</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-volume-off"></span>
											<span class="glyphicon-text">glyphicon glyphicon-volume-off</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-volume-down"></span>
											<span class="glyphicon-text">glyphicon glyphicon-volume-down</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-volume-up"></span>
											<span class="glyphicon-text">glyphicon glyphicon-volume-up</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-qrcode"></span>
											<span class="glyphicon-text">glyphicon glyphicon-qrcode</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-barcode"></span>
											<span class="glyphicon-text">glyphicon glyphicon-barcode</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-tag"></span>
											<span class="glyphicon-text">glyphicon glyphicon-tag</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-tags"></span>
											<span class="glyphicon-text">glyphicon glyphicon-tags</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-book"></span>
											<span class="glyphicon-text">glyphicon glyphicon-book</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-bookmark"></span>
											<span class="glyphicon-text">glyphicon glyphicon-bookmark</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-print"></span>
											<span class="glyphicon-text">glyphicon glyphicon-print</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-camera"></span>
											<span class="glyphicon-text">glyphicon glyphicon-camera</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-font"></span>
											<span class="glyphicon-text">glyphicon glyphicon-font</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-bold"></span>
											<span class="glyphicon-text">glyphicon glyphicon-bold</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-italic"></span>
											<span class="glyphicon-text">glyphicon glyphicon-italic</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-text-height"></span>
											<span class="glyphicon-text">glyphicon glyphicon-text-height</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-text-width"></span>
											<span class="glyphicon-text">glyphicon glyphicon-text-width</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-align-left"></span>
											<span class="glyphicon-text">glyphicon glyphicon-align-left</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-align-center"></span>
											<span class="glyphicon-text">glyphicon glyphicon-align-center</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-align-right"></span>
											<span class="glyphicon-text">glyphicon glyphicon-align-right</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-align-justify"></span>
											<span class="glyphicon-text">glyphicon glyphicon-align-justify</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-list"></span>
											<span class="glyphicon-text">glyphicon glyphicon-list</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-indent-left"></span>
											<span class="glyphicon-text">glyphicon glyphicon-indent-left</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-indent-right"></span>
											<span class="glyphicon-text">glyphicon glyphicon-indent-right</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-facetime-video"></span>
											<span class="glyphicon-text">glyphicon glyphicon-facetime-video</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-picture"></span>
											<span class="glyphicon-text">glyphicon glyphicon-picture</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-map-marker"></span>
											<span class="glyphicon-text">glyphicon glyphicon-map-marker</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-adjust"></span>
											<span class="glyphicon-text">glyphicon glyphicon-adjust</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-tint"></span>
											<span class="glyphicon-text">glyphicon glyphicon-tint</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-edit"></span>
											<span class="glyphicon-text">glyphicon glyphicon-edit</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-share"></span>
											<span class="glyphicon-text">glyphicon glyphicon-share</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-check"></span>
											<span class="glyphicon-text">glyphicon glyphicon-check</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-move"></span>
											<span class="glyphicon-text">glyphicon glyphicon-move</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-step-backward"></span>
											<span class="glyphicon-text">glyphicon glyphicon-step-backward</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-fast-backward"></span>
											<span class="glyphicon-text">glyphicon glyphicon-fast-backward</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-backward"></span>
											<span class="glyphicon-text">glyphicon glyphicon-backward</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-play"></span>
											<span class="glyphicon-text">glyphicon glyphicon-play</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-pause"></span>
											<span class="glyphicon-text">glyphicon glyphicon-pause</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-stop"></span>
											<span class="glyphicon-text">glyphicon glyphicon-stop</span>
										</li>


										<li>
											<span class="glyphicon glyphicon-thumbs-down"></span>
											<span class="glyphicon-text">glyphicon glyphicon-thumbs-down</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-hand-right"></span>
											<span class="glyphicon-text">glyphicon glyphicon-hand-right</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-hand-left"></span>
											<span class="glyphicon-text">glyphicon glyphicon-hand-left</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-hand-up"></span>
											<span class="glyphicon-text">glyphicon glyphicon-hand-up</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-hand-down"></span>
											<span class="glyphicon-text">glyphicon glyphicon-hand-down</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-circle-arrow-right"></span>
											<span class="glyphicon-text">glyphicon glyphicon-circle-arrow-right</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-circle-arrow-left"></span>
											<span class="glyphicon-text">glyphicon glyphicon-circle-arrow-left</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-circle-arrow-up"></span>
											<span class="glyphicon-text">glyphicon glyphicon-circle-arrow-up</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-circle-arrow-down"></span>
											<span class="glyphicon-text">glyphicon glyphicon-circle-arrow-down</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-globe"></span>
											<span class="glyphicon-text">glyphicon glyphicon-globe</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-wrench"></span>
											<span class="glyphicon-text">glyphicon glyphicon-wrench</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-tasks"></span>
											<span class="glyphicon-text">glyphicon glyphicon-tasks</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-filter"></span>
											<span class="glyphicon-text">glyphicon glyphicon-filter</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-briefcase"></span>
											<span class="glyphicon-text">glyphicon glyphicon-briefcase</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-fullscreen"></span>
											<span class="glyphicon-text">glyphicon glyphicon-fullscreen</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-dashboard"></span>
											<span class="glyphicon-text">glyphicon glyphicon-dashboard</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-paperclip"></span>
											<span class="glyphicon-text">glyphicon glyphicon-paperclip</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-heart-empty"></span>
											<span class="glyphicon-text">glyphicon glyphicon-heart-empty</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-link"></span>
											<span class="glyphicon-text">glyphicon glyphicon-link</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-phone"></span>
											<span class="glyphicon-text">glyphicon glyphicon-phone</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-pushpin"></span>
											<span class="glyphicon-text">glyphicon glyphicon-pushpin</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-usd"></span>
											<span class="glyphicon-text">glyphicon glyphicon-usd</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-gbp"></span>
											<span class="glyphicon-text">glyphicon glyphicon-gbp</span>
										</li>

										<li>
											<span class="glyphicon glyphicon-sort"></span>
											<span class="glyphicon-text">glyphicon glyphicon-sort</span>
										</li>

									</ul>
								</div><!--.list-fonticons-->
							</div><!--tab-pane-->

							<div class="tab-pane text-style" id="fontawesome">

								<div class="well">
									Here are some of the font awesome icons. You can see the full icon list on <a href="http://fontawesome.io/" target="_blank">Font Awesome website</a>.
								</div>

								<div class="row fontawesome-icon-list">

									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-angellist"></i> fa-angellist</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-area-chart"></i> fa-area-chart</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-at"></i> fa-at</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-bell-slash"></i> fa-bell-slash</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-bell-slash-o"></i> fa-bell-slash-o</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-bicycle"></i> fa-bicycle</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-binoculars"></i> fa-binoculars</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-birthday-cake"></i> fa-birthday-cake</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-bus"></i> fa-bus</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-calculator"></i> fa-calculator</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cc"></i> fa-cc</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cc-amex"></i> fa-cc-amex</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cc-discover"></i> fa-cc-discover</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cc-mastercard"></i> fa-cc-mastercard</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cc-paypal"></i> fa-cc-paypal</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cc-stripe"></i> fa-cc-stripe</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cc-visa"></i> fa-cc-visa</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-copyright"></i> fa-copyright</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-eyedropper"></i> fa-eyedropper</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-futbol-o"></i> fa-futbol-o</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-google-wallet"></i> fa-google-wallet</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-ils"></i> fa-ils</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-ioxhost"></i> fa-ioxhost</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-lastfm"></i> fa-lastfm</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-lastfm-square"></i> fa-lastfm-square</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-line-chart"></i> fa-line-chart</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-meanpath"></i> fa-meanpath</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-newspaper-o"></i> fa-newspaper-o</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-paint-brush"></i> fa-paint-brush</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-paypal"></i> fa-paypal</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-pie-chart"></i> fa-pie-chart</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-plug"></i> fa-plug</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-shekel"></i> fa-shekel <span class="text-muted">(alias)</span></div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-sheqel"></i> fa-sheqel <span class="text-muted">(alias)</span></div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-slideshare"></i> fa-slideshare</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-soccer-ball-o"></i> fa-soccer-ball-o <span class="text-muted">(alias)</span></div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-toggle-off"></i> fa-toggle-off</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-toggle-on"></i> fa-toggle-on</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-trash"></i> fa-trash</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-tty"></i> fa-tty</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-twitch"></i> fa-twitch</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-wifi"></i> fa-wifi</div>
									<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-yelp"></i> fa-yelp</div>
							</div><!--.row-->

							</div><!--tab-pane-->

							<div class="tab-pane text-style" id="ionicons">

								<div class="well">
									Here are some of the ion icons. You can see the full icon list on <a href="http://ionicons.com/" target="_blank">Ion Icon website</a>.
								</div>

								<div class="list-fonticons">
									<ul class="clearfix">

										<li>
											<span class="fonticon ion-aperture"></span>
											<span class="icon-text">ion-aperture</span>
										</li>

										<li>
											<span class="fonticon ion-archive"></span>
											<span class="icon-text">ion-archive</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-down-a"></span>
											<span class="icon-text">ion-arrow-down-a</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-down-b"></span>
											<span class="icon-text">ion-arrow-down-b</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-down-c"></span>
											<span class="icon-text">ion-arrow-down-c</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-expand"></span>
											<span class="icon-text">ion-arrow-expand</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-graph-down-left"></span>
											<span class="icon-text">ion-arrow-graph-down-left</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-graph-down-right"></span>
											<span class="icon-text">ion-arrow-graph-down-right</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-graph-up-left"></span>
											<span class="icon-text">ion-arrow-graph-up-left</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-graph-up-right"></span>
											<span class="icon-text">ion-arrow-graph-up-right</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-left-a"></span>
											<span class="icon-text">ion-arrow-left-a</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-left-b"></span>
											<span class="icon-text">ion-arrow-left-b</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-left-c"></span>
											<span class="icon-text">ion-arrow-left-c</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-move"></span>
											<span class="icon-text">ion-arrow-move</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-resize"></span>
											<span class="icon-text">ion-arrow-resize</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-return-left"></span>
											<span class="icon-text">ion-arrow-return-left</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-return-right"></span>
											<span class="icon-text">ion-arrow-return-right</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-right-a"></span>
											<span class="icon-text">ion-arrow-right-a</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-right-b"></span>
											<span class="icon-text">ion-arrow-right-b</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-right-c"></span>
											<span class="icon-text">ion-arrow-right-c</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-shrink"></span>
											<span class="icon-text">ion-arrow-shrink</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-swap"></span>
											<span class="icon-text">ion-arrow-swap</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-up-a"></span>
											<span class="icon-text">ion-arrow-up-a</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-up-b"></span>
											<span class="icon-text">ion-arrow-up-b</span>
										</li>

										<li>
											<span class="fonticon ion-arrow-up-c"></span>
											<span class="icon-text">ion-arrow-up-c</span>
										</li>

										<li>
											<span class="fonticon ion-asterisk"></span>
											<span class="icon-text">ion-asterisk</span>
										</li>

										<li>
											<span class="fonticon ion-at"></span>
											<span class="icon-text">ion-at</span>
										</li>

										<li>
											<span class="fonticon ion-bag"></span>
											<span class="icon-text">ion-bag</span>
										</li>

										<li>
											<span class="fonticon ion-battery-charging"></span>
											<span class="icon-text">ion-battery-charging</span>
										</li>

										<li>
											<span class="fonticon ion-battery-empty"></span>
											<span class="icon-text">ion-battery-empty</span>
										</li>

										<li>
											<span class="fonticon ion-battery-full"></span>
											<span class="icon-text">ion-battery-full</span>
										</li>

										<li>
											<span class="fonticon ion-battery-half"></span>
											<span class="icon-text">ion-battery-half</span>
										</li>

										<li>
											<span class="fonticon ion-battery-low"></span>
											<span class="icon-text">ion-battery-low</span>
										</li>

										<li>
											<span class="fonticon ion-beaker"></span>
											<span class="icon-text">ion-beaker</span>
										</li>

										<li>
											<span class="fonticon ion-beer"></span>
											<span class="icon-text">ion-beer</span>
										</li>

										<li>
											<span class="fonticon ion-bluetooth"></span>
											<span class="icon-text">ion-bluetooth</span>
										</li>

										<li>
											<span class="fonticon ion-bonfire"></span>
											<span class="icon-text">ion-bonfire</span>
										</li>

										<li>
											<span class="fonticon ion-bookmark"></span>
											<span class="icon-text">ion-bookmark</span>
										</li>

										<li>
											<span class="fonticon ion-briefcase"></span>
											<span class="icon-text">ion-briefcase</span>
										</li>

										<li>
											<span class="fonticon ion-bug"></span>
											<span class="icon-text">ion-bug</span>
										</li>

										<li>
											<span class="fonticon ion-calculator"></span>
											<span class="icon-text">ion-calculator</span>
										</li>

										<li>
											<span class="fonticon ion-calendar"></span>
											<span class="icon-text">ion-calendar</span>
										</li>

										<li>
											<span class="fonticon ion-camera"></span>
											<span class="icon-text">ion-camera</span>
										</li>

										<li>
											<span class="fonticon ion-card"></span>
											<span class="icon-text">ion-card</span>
										</li>

										<li>
											<span class="fonticon ion-cash"></span>
											<span class="icon-text">ion-cash</span>
										</li>

										<li>
											<span class="fonticon ion-chatbox"></span>
											<span class="icon-text">ion-chatbox</span>
										</li>

										<li>
											<span class="fonticon ion-chatbox-working"></span>
											<span class="icon-text">ion-chatbox-working</span>
										</li>

										<li>
											<span class="fonticon ion-chatboxes"></span>
											<span class="icon-text">ion-chatboxes</span>
										</li>

										<li>
											<span class="fonticon ion-chatbubble"></span>
											<span class="icon-text">ion-chatbubble</span>
										</li>

										<li>
											<span class="fonticon ion-chatbubble-working"></span>
											<span class="icon-text">ion-chatbubble-working</span>
										</li>

										<li>
											<span class="fonticon ion-chatbubbles"></span>
											<span class="icon-text">ion-chatbubbles</span>
										</li>

										<li>
											<span class="fonticon ion-checkmark"></span>
											<span class="icon-text">ion-checkmark</span>
										</li>

										<li>
											<span class="fonticon ion-checkmark-circled"></span>
											<span class="icon-text">ion-checkmark-circled</span>
										</li>

										<li>
											<span class="fonticon ion-checkmark-round"></span>
											<span class="icon-text">ion-checkmark-round</span>
										</li>

										<li>
											<span class="fonticon ion-chevron-down"></span>
											<span class="icon-text">ion-chevron-down</span>
										</li>

										<li>
											<span class="fonticon ion-chevron-left"></span>
											<span class="icon-text">ion-chevron-left</span>
										</li>

										<li>
											<span class="fonticon ion-chevron-right"></span>
											<span class="icon-text">ion-chevron-right</span>
										</li>

										<li>
											<span class="fonticon ion-chevron-up"></span>
											<span class="icon-text">ion-chevron-up</span>
										</li>

										<li>
											<span class="fonticon ion-clipboard"></span>
											<span class="icon-text">ion-clipboard</span>
										</li>

										<li>
											<span class="fonticon ion-clock"></span>
											<span class="icon-text">ion-clock</span>
										</li>

										<li>
											<span class="fonticon ion-close"></span>
											<span class="icon-text">ion-close</span>
										</li>

										<li>
											<span class="fonticon ion-close-circled"></span>
											<span class="icon-text">ion-close-circled</span>
										</li>

										<li>
											<span class="fonticon ion-close-round"></span>
											<span class="icon-text">ion-close-round</span>
										</li>

										<li>
											<span class="fonticon ion-closed-captioning"></span>
											<span class="icon-text">ion-closed-captioning</span>
										</li>

										<li>
											<span class="fonticon ion-cloud"></span>
											<span class="icon-text">ion-cloud</span>
										</li>

										<li>
											<span class="fonticon ion-code"></span>
											<span class="icon-text">ion-code</span>
										</li>

										<li>
											<span class="fonticon ion-code-download"></span>
											<span class="icon-text">ion-code-download</span>
										</li>

										<li>
											<span class="fonticon ion-code-working"></span>
											<span class="icon-text">ion-code-working</span>
										</li>

										<li>
											<span class="fonticon ion-coffee"></span>
											<span class="icon-text">ion-coffee</span>
										</li>

										<li>
											<span class="fonticon ion-compass"></span>
											<span class="icon-text">ion-compass</span>
										</li>

										<li>
											<span class="fonticon ion-compose"></span>
											<span class="icon-text">ion-compose</span>
										</li>

										<li>
											<span class="fonticon ion-connection-bars"></span>
											<span class="icon-text">ion-connection-bars</span>
										</li>

										<li>
											<span class="fonticon ion-contrast"></span>
											<span class="icon-text">ion-contrast</span>
										</li>

										<li>
											<span class="fonticon ion-cube"></span>
											<span class="icon-text">ion-cube</span>
										</li>

										<li>
											<span class="fonticon ion-disc"></span>
											<span class="icon-text">ion-disc</span>
										</li>

										<li>
											<span class="fonticon ion-document"></span>
											<span class="icon-text">ion-document</span>
										</li>

										<li>
											<span class="fonticon ion-document-text"></span>
											<span class="icon-text">ion-document-text</span>
										</li>

										<li>
											<span class="fonticon ion-drag"></span>
											<span class="icon-text">ion-drag</span>
										</li>

										<li>
											<span class="fonticon ion-earth"></span>
											<span class="icon-text">ion-earth</span>
										</li>

										<li>
											<span class="fonticon ion-edit"></span>
											<span class="icon-text">ion-edit</span>
										</li>

										<li>
											<span class="fonticon ion-egg"></span>
											<span class="icon-text">ion-egg</span>
										</li>

										<li>
											<span class="fonticon ion-eject"></span>
											<span class="icon-text">ion-eject</span>
										</li>

										<li>
											<span class="fonticon ion-email"></span>
											<span class="icon-text">ion-email</span>
										</li>

										<li>
											<span class="fonticon ion-eye"></span>
											<span class="icon-text">ion-eye</span>
										</li>

										<li>
											<span class="fonticon ion-eye-disabled"></span>
											<span class="icon-text">ion-eye-disabled</span>
										</li>

										<li>
											<span class="fonticon ion-female"></span>
											<span class="icon-text">ion-female</span>
										</li>

										<li>
											<span class="fonticon ion-filing"></span>
											<span class="icon-text">ion-filing</span>
										</li>

										<li>
											<span class="fonticon ion-film-marker"></span>
											<span class="icon-text">ion-film-marker</span>
										</li>

										<li>
											<span class="fonticon ion-fireball"></span>
											<span class="icon-text">ion-fireball</span>
										</li>

										<li>
											<span class="fonticon ion-flag"></span>
											<span class="icon-text">ion-flag</span>
										</li>

										<li>
											<span class="fonticon ion-flame"></span>
											<span class="icon-text">ion-flame</span>
										</li>

										<li>
											<span class="fonticon ion-flash"></span>
											<span class="icon-text">ion-flash</span>
										</li>

										<li>
											<span class="fonticon ion-flash-off"></span>
											<span class="icon-text">ion-flash-off</span>
										</li>

										<li>
											<span class="fonticon ion-folder"></span>
											<span class="icon-text">ion-folder</span>
										</li>

										<li>
											<span class="fonticon ion-fork"></span>
											<span class="icon-text">ion-fork</span>
										</li>

										<li>
											<span class="fonticon ion-fork-repo"></span>
											<span class="icon-text">ion-fork-repo</span>
										</li>

										<li>
											<span class="fonticon ion-forward"></span>
											<span class="icon-text">ion-forward</span>
										</li>

										<li>
											<span class="fonticon ion-funnel"></span>
											<span class="icon-text">ion-funnel</span>
										</li>

										<li>
											<span class="fonticon ion-gear-a"></span>
											<span class="icon-text">ion-gear-a</span>
										</li>

										<li>
											<span class="fonticon ion-gear-b"></span>
											<span class="icon-text">ion-gear-b</span>
										</li>

										<li>
											<span class="fonticon ion-grid"></span>
											<span class="icon-text">ion-grid</span>
										</li>

										<li>
											<span class="fonticon ion-hammer"></span>
											<span class="icon-text">ion-hammer</span>
										</li>

										<li>
											<span class="fonticon ion-happy"></span>
											<span class="icon-text">ion-happy</span>
										</li>

										<li>
											<span class="fonticon ion-headphone"></span>
											<span class="icon-text">ion-headphone</span>
										</li>

										<li>
											<span class="fonticon ion-heart"></span>
											<span class="icon-text">ion-heart</span>
										</li>

										<li>
											<span class="fonticon ion-heart-broken"></span>
											<span class="icon-text">ion-heart-broken</span>
										</li>

										<li>
											<span class="fonticon ion-help"></span>
											<span class="icon-text">ion-help</span>
										</li>

										<li>
											<span class="fonticon ion-help-buoy"></span>
											<span class="icon-text">ion-help-buoy</span>
										</li>

										<li>
											<span class="fonticon ion-help-circled"></span>
											<span class="icon-text">ion-help-circled</span>
										</li>

										<li>
											<span class="fonticon ion-home"></span>
											<span class="icon-text">ion-home</span>
										</li>

										<li>
											<span class="fonticon ion-icecream"></span>
											<span class="icon-text">ion-icecream</span>
										</li>

										<li>
											<span class="fonticon ion-image"></span>
											<span class="icon-text">ion-image</span>
										</li>

										<li>
											<span class="fonticon ion-images"></span>
											<span class="icon-text">ion-images</span>
										</li>

										<li>
											<span class="fonticon ion-information"></span>
											<span class="icon-text">ion-information</span>
										</li>

										<li>
											<span class="fonticon ion-information-circled"></span>
											<span class="icon-text">ion-information-circled</span>
										</li>

										<li>
											<span class="fonticon ion-ionic"></span>
											<span class="icon-text">ion-ionic</span>
										</li>

									</ul>
								</div><!--.list-fonticons-->
							</div><!--.tab-pane-->
							<div class="tab-pane text-style" id="weathericons">

								<div class="well">
									Here are some of the weather icons. You can see the full icon list on <a href="http://erikflowers.github.io/weather-icons/" target="_blank">Weather Icons website</a>.
								</div>

								<div class="row">
									<div class="col-sm-4">
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-smoke"></i></div>
											<div class="class">wi-smoke</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-dust"></i></div>
											<div class="class">wi-dust</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-snow-wind"></i></div>
											<div class="class">wi-snow-wind</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-day-snow-wind"></i></div>
											<div class="class">wi-day-snow-wind</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-night-snow-wind"></i></div>
											<div class="class">wi-night-snow-wind</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-night-alt-snow-wind"></i></div>
											<div class="class">wi-night-alt-snow-wind</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-day-sleet-storm"></i></div>
											<div class="class">wi-day-sleet-storm</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-night-sleet-storm"></i></div>
											<div class="class">wi-night-sleet-storm</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-night-alt-sleet-storm"></i></div>
											<div class="class">wi-night-alt-sleet-storm</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-day-snow-thunderstorm"></i></div>
											<div class="class">wi-day-snow-thunderstorm</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-night-snow-thunderstorm"></i></div>
											<div class="class">wi-night-snow-thunderstorm</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-night-alt-snow-thunderstorm"></i></div>
											<div class="class">wi-night-alt-snow-thunderstorm</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-solar-eclipse"></i></div>
											<div class="class">wi-solar-eclipse</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-lunar-eclipse"></i></div>
											<div class="class">wi-lunar-eclipse</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-meteor"></i></div>
											<div class="class">wi-meteor</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-hot"></i></div>
											<div class="class">wi-hot</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-hurricane"></i></div>
											<div class="class">wi-hurricane</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-smog"></i></div>
											<div class="class">wi-smog</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-alien"></i></div>
											<div class="class">wi-alien</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-snowflake-cold"></i></div>
											<div class="class">wi-snowflake-cold</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-stars"></i></div>
											<div class="class">wi-stars</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-night-partly-cloudy"></i></div>
											<div class="class">night-partly-cloudy</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-moon-full"></i></div>
											<div class="class">wi-moon-full</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-moon-waxing-gibbous"></i></div>
											<div class="class">wi-moon-waxing-gibbous</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-moon-waxing-quarter"></i></div>
											<div class="class">wi-moon-waxing-quarter</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-moon-waxing-crescent"></i></div>
											<div class="class">wi-moon-waxing-crescent</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-moon-young"></i></div>
											<div class="class">wi-moon-young</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-moon-new"></i></div>
											<div class="class">wi-moon-new</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-moon-old"></i></div>
											<div class="class">wi-moon-old</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-moon-waning-crescent"></i></div>
											<div class="class">wi-moon-waning-crescent</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-moon-waning-quarter"></i></div>
											<div class="class">wi-moon-waning-quarter</div>
										</div>
										<div class="example-weather-icon">
											<div class="icon"><i class="wi wi-moon-waning-gibbous"></i></div>
											<div class="class">wi-moon-waning-gibbous</div>
										</div>
									</div>
								</div><!--.row-->

							</div><!--.tab-pane-->
						</div><!--.tab-content-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-social-buttons.html">
						<span class="state">UI Elements</span>
						<span>Social Buttons</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-tabs.html">
						<span class="state">UI Elements</span>
						<span>Tabs</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-font-icons.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
</html>