<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-notifications.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Notifications</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-red">
			<div class="row">
				<div class="col-sm-6">
					<h1>Notifications <small>small description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">UI Elements</a></li>
						<li><a href="#" class="active">Notifications</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TOASTR NOTIFICATIONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table class="table table-hover table-striped">
							<tbody>
								<tr class="active">
									<td>Basic</td>
									<td><button class="btn btn-default toastr-notify">Basic</button></td>
								</tr>

								<tr>
									<td>Types</td>
									<td>
										<button class="btn btn-success toastr-notify" data-toastr-type="success">Success</button>
										<button class="btn btn-warning toastr-notify" data-toastr-type="warning">Warning</button>
										<button class="btn btn-danger toastr-notify" data-toastr-type="error">Error</button>
									</td>
								</tr>

								<tr>
									<td>Title &amp; Content</td>
									<td>
										<button class="btn btn-default toastr-notify" data-toastr-title="Custom Title" data-toastr-notification="Custom notification content via data attr">Custom Title</button>
									</td>
								</tr>

								<tr>
									<td>Without close button</td>
									<td>
										<button class="btn btn-indigo toastr-notify" data-toastr-close-button="false">Launch</button>
									</td>
								</tr>

								<tr>
									<td>Sticky notifications</td>
									<td>
										<button class="btn btn-cyan toastr-notify" data-toastr-sticky="true">Launch</button>
									</td>
								</tr>

								<tr>
									<td>Notification positions</td>
									<td>
										<button class="btn btn-default toastr-notify" data-toastr-close-others="true" data-toastr-position="toast-top-right">Top Right</button>
										<button class="btn btn-default toastr-notify" data-toastr-close-others="true" data-toastr-position="toast-bottom-right">Bottom Right</button>
										<button class="btn btn-default toastr-notify" data-toastr-close-others="true" data-toastr-position="toast-bottom-left">Bottom Left</button>
										<button class="btn btn-default toastr-notify" data-toastr-close-others="true" data-toastr-position="toast-top-left">Top Left</button>

									</td>
								</tr>
								<tr>
									<td>Full width</td>
									<td>
										<button class="btn btn-default toastr-notify" data-toastr-close-others="true" data-toastr-position="toast-top-full-width">Top Full Width</button>
										<button class="btn btn-default toastr-notify" data-toastr-close-others="true" data-toastr-position="toast-bottom-full-width">Bottom Full Width</button>
									</td>
								</tr>
							</tbody></table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-dialogs.html">
						<span class="state">UI Elements</span>
						<span>Dialogs</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-social-buttons.html">
						<span class="state">UI Elements</span>
						<span>Social Buttons</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-notifications.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
</html>