<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-lists.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - List Elements</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-red">
			<div class="row">
				<div class="col-sm-6">
					<h1>Lists <small>small description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">UI Elements</a></li>
						<li><a href="#" class="active">Lists</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-4">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BASIC LIST</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material">
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Pari Subramanium</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Robert Graham</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Julia Parker</span>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-4">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>WITH DIVIDER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material">
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Deborah Berry</span>
									</div>
								</a>
							</li>
							<li class="divider">
								Divider
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Edward Welch</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Kathy Sims</span>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-4">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>DIVIDER WITH BORDER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material borderless">
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Margaret Ellis</span>
									</div>
								</a>
							</li>
							<li class="divider with-border">
								Divider with Border
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Raymond Black</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Rebecca Welch</span>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>SECOND LINE</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material">
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Sarah James</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Brandon Hoffman</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Patricia Hoffman</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>BORDERLESS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material borderless">
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Sara Moreno</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Randy Welch</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Tiffany Ross</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->
		</div><!--.row-->

		<div class="row">

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>WITH SUBHEADER</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material">
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Christina George</span>
									</div>
								</a>
							</li>
							<li class="divider subheader">
								Subheader
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Kevin Sullivan</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Sara Lopez</span>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ACTION RIGHT</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material">
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Danielle Mitchell</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
									<div class="list-action-right">
										<i class="ion-android-alert center"></i>
									</div>
								</a>
							</li>
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Terry Carter</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
									<div class="list-action-right">
										<i class="ion-android-alert center"></i>
									</div>
								</a>
							</li>
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Jeremy Lawrence</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
									<div class="list-action-right">
										<i class="ion-android-alert center"></i>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>DOUBLE ACTION</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material">
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Amber Guerrero</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
									<div class="list-action-right">
										<span class="top">15 min</span>
										<i class="ion-android-done bottom"></i>
									</div>
								</a>
							</li>
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Lawrence Weaver</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
									<div class="list-action-right">
										<span class="top">2 hr</span>
										<i class="ion-android-done bottom"></i>
									</div>
								</a>
							</li>
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Michelle Wade</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
									<div class="list-action-right">
										<span class="top">6 hr</span>
										<i class="ion-android-volume-off bottom"></i>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>LONG STORY</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material">
							<li class="has-action-left has-action-right has-long-story">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Ruth Barnes</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks.</span>
									</div>
									<div class="list-action-right">
										<span class="top">15 min</span>
										<i class="ion-android-done bottom"></i>
									</div>
								</a>
							</li>
							<li class="has-action-left has-action-right has-long-story">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Mark Estrada</span>
										<span class="caption">Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
									<div class="list-action-right">
										<span class="top">2 hr</span>
										<i class="ion-android-done bottom"></i>
									</div>
								</a>
							</li>
							<li class="has-action-left has-action-right has-long-story">
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Brenda Warren</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
									<div class="list-action-right">
										<span class="top">6 hr</span>
										<i class="ion-android-volume-off bottom"></i>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>ICONIC</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material">
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<i class="ion-calendar icon-circle"></i>
									</div>
									<div class="list-content">
										<span class="title">Pari Subramanium</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks.</span>
									</div>
									<div class="list-action-right">
										<span class="top">15 min</span>
										<i class="ion-android-done bottom"></i>
									</div>
								</a>
							</li>
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<i class="ion-calendar icon"></i>
									</div>
									<div class="list-content">
										<span class="title">Harry Perry</span>
										<span class="caption">Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
									<div class="list-action-right">
										<span class="top">2 hr</span>
										<i class="ion-android-done bottom"></i>
									</div>
								</a>
							</li>
							<li class="has-action-left has-action-right">
								<a href="#" class="visible">
									<div class="list-action-left">
										<i class="ion-calendar icon-circle"></i>
									</div>
									<div class="list-content">
										<span class="title">Pari Subramanium</span>
										<span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
									</div>
									<div class="list-action-right">
										<span class="top">6 hr</span>
										<i class="ion-android-volume-off bottom"></i>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>HOVER ACTIONS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body without-padding">
						<ul class="list-material has-hidden">
							<li class="has-action-left">
								<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/1.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Pari Subramanium</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Jason Bryant</span>
									</div>
								</a>
							</li>
							<li class="has-action-left">
								<a href="#" class="hidden"><i class="ion-android-delete"></i></a>
								<a href="#" class="visible">
									<div class="list-action-left">
										<img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
									</div>
									<div class="list-content">
										<span class="title">Pari Subramanium</span>
									</div>
								</a>
							</li>
						</ul>
					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-->

		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-buttons.html">
						<span class="state">UI Elements</span>
						<span>Buttons</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-dialogs.html">
						<span class="state">UI Elements</span>
						<span>Dialogs</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-lists.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
</html>