<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-tabs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Tabs</title>

</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-red">
			<div class="row">
				<div class="col-sm-6">
					<h1>Tabs <small>short description</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">UI Elements</a></li>
						<li><a href="#" class="active">Tabs</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>TABS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row example-row">
							<div class="col-md-3">Default Tabs</div><!--.col-md-3-->
							<div class="col-md-9">

								<ul class="nav nav-tabs" role="tablist">
									<li class="active"><a href="#tab1_1" data-toggle="tab">Home</a></li>
									<li><a href="#tab1_2" data-toggle="tab">Profile</a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <i class="fa fa-chevron-down"></i></a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#tab1_3" tabindex="-1" data-toggle="tab">Option 1</a></li>
											<li><a href="#tab1_4" tabindex="-1" data-toggle="tab">Option 2</a></li>
											<li><a href="#tab1_5" tabindex="-1" data-toggle="tab">Option 3</a></li>
											<li><a href="#tab1_6" tabindex="-1" data-toggle="tab">Option 4</a></li>
										</ul>
									</li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="tab1_1">
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.</p>
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab1_2">
										<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab1_3">
										<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab1_4">
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab1_5">
										<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab1_6">
										<p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
									</div><!--.tab-pane-->
								</div><!--.tab-content-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Right Aligned Tabs</div><!--.col-md-3-->
							<div class="col-md-9">

								<ul class="nav nav-tabs tabs-right-aligned" role="tablist">
									<li class="active"><a href="#tab2_1" data-toggle="tab">Home</a></li>
									<li><a href="#tab2_2" data-toggle="tab">Profile</a></li>
									<li><a href="#tab2_3" data-toggle="tab">Messages</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="tab2_1">
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.</p>
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab2_2">
										<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab2_3">
										<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
									</div><!--.tab-pane-->
								</div><!--.tab-content-->

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Bottom Tabs</div><!--.col-md-3-->
							<div class="col-md-9">

								<div class="tab-content">
									<div class="tab-pane active" id="tab3_1">
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.</p>
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab3_2">
										<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab3_3">
										<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
									</div><!--.tab-pane-->
								</div><!--.tab-content-->
								<ul class="nav nav-tabs tabs-bottom tabs-right-aligned" role="tablist">
									<li class="active"><a href="#tab3_1" data-toggle="tab">Home</a></li>
									<li><a href="#tab3_2" data-toggle="tab">Profile</a></li>
									<li><a href="#tab3_2" data-toggle="tab">Messages</a></li>
								</ul>

							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-3">Justified Tabs</div><!--.col-md-3-->
							<div class="col-md-9">

								<ul class="nav nav-tabs nav-justified" role="tablist">
									<li class="active"><a href="#tab4_1" data-toggle="tab">Home</a></li>
									<li><a href="#tab4_2" data-toggle="tab">Profile</a></li>
									<li><a href="#tab4_3" data-toggle="tab">Messages</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab4_1">
										It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab4_2">
										Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
									</div><!--.tab-pane-->
									<div class="tab-pane" id="tab4_3">
										The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
									</div><!--.tab-pane-->
								</div><!--.tab-content-->

							</div><!--.col-md-9-->
						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>STYLED TABS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<div class="row no-gutters">

							<div class="styled-tabs tab-primary">
								<div class="col-md-6">
									<div class="col-md-3">
										<ul class="nav nav-tabs tabs-left">
											<li class="active"><a href="#tab9_1" data-toggle="tab">Home</a></li>
											<li><a href="#tab9_2" data-toggle="tab">Profile</a></li>
											<li><a href="#tab9_3" data-toggle="tab">Messages</a></li>
										</ul>
									</div>
									<div class="col-md-9">
										<div class="tab-content">
											<div class="tab-pane active" id="tab9_1">
												<h5>Home</h5>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
											</div>
											<div class="tab-pane" id="tab9_2">
												<h5>Profile</h5>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
											</div>
											<div class="tab-pane" id="tab9_3">
												<h5>Messages</h5>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div><!--.col-md-6-->
							</div><!--.styled-tabs-->

							<div class="styled-tabs tab-danger">
								<div class="col-md-6">
									<div class="col-md-9">
										<div class="tab-content">
											<div class="tab-pane active" id="tab10_1">
												<h5>Home</h5>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
											</div>
											<div class="tab-pane" id="tab10_2">
												<h5>Profile</h5>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
											</div>
											<div class="tab-pane" id="tab10_3">
												<h5>Messages</h5>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<ul class="nav nav-tabs tabs-right">
											<li class="active"><a href="#tab10_1" data-toggle="tab">Home</a></li>
											<li><a href="#tab10_2" data-toggle="tab">Profile</a></li>
											<li><a href="#tab10_3" data-toggle="tab">Messages</a></li>
										</ul>
									</div>
								</div><!--.col-md-6-->
							</div><!--.styled-tabs-->

						</div><!--.row-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="row">

			<div class="col-md-6">
				<div class="panel-group accordion" id="accordion">
					<div class="panel">
						<div class="panel-heading active">
							<a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">ACCORDION PANEL 1</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">ACCORDION PANEL 2</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">ACCORDION PANEL 3</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>
				</div><!--.panel-group-->
			</div><!--.col-md-6-->

			<div class="col-md-6">
				<div class="panel-group toggle" id="accordion2">
					<div class="panel">
						<div class="panel-heading active">
							<a class="panel-title" data-toggle="collapse" href="#collapse4">TOGGLE PANEL 1</a>
						</div>
						<div id="collapse4" class="panel-collapse collapse in">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<a class="panel-title" data-toggle="collapse" href="#collapse5">TOGGLE PANEL 2</a>
						</div>
						<div id="collapse5" class="panel-collapse collapse">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<a class="panel-title" data-toggle="collapse" href="#collapse6">TOGGLE PANEL 3</a>
						</div>
						<div id="collapse6" class="panel-collapse collapse">
							<div class="panel-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>
				</div><!--.panel-group-->
			</div><!--.col-md-6-->

		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-font-icons.html">
						<span class="state">UI Elements</span>
						<span>Font Icons</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-red">
					<a href="ui-elements-typography.html">
						<span class="state">UI Elements</span>
						<span>Typography</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	<title>PLEASURE - Tabs</title>
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-tabs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
</html>	<title>PLEASURE - Tabs</title>