<!DOCTYPE html>


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">
     <div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Attendance Tracking <small></small></h1>
				</div><!--.col-->
			</div>
      </div>
            <div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
				<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Date</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div>
							</div><!--.col-md-9-->
								<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Time In</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Time Out</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div>
								
						<div class="row example-row">
							<div class="col-md-9">

								<ul class="nav nav-tabs nav-justified" role="tablist">
									<li class="active"><a href="#tab4_1" data-toggle="tab">Visitors</a></li>
									<li><a href="#tab4_2" data-toggle="tab">Vendor</a></li>
									
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab4_1">
										
										

											<div class="form-group">
												<label class="control-label col-md-4">Owner Name</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
									<label class="control-label col-md-4">Phase no.</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select an option</option>
											<option>option1</option>
											<option>option2</option>
										</select>
									</div>
								</div><!--.form-group-->

							<div class="form-group">
									<label class="control-label col-md-4">Flat no.</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select flat-no</option>
											<option>type1</option>
											<option>type2</option>
										</select>
									</div>
								</div><!--.form-group-->					
											

									</div><!--.tab-pane-->


									<div class="tab-pane" id="tab4_2">
										
										<div class="form-group">
									<label class="control-label col-md-4">vendor-type</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select flat-type</option>
											<option>type1</option>
											<option>type2</option>
										</select>
									</div>
								</div><!--.form-group-->



											<div class="form-group">
									<label class="control-label col-md-4">Phase no.</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select an option</option>
											<option>option1</option>
											<option>option2</option>
										</select>
									</div>
									
								</div><!--.form-group-->
								<div class="radioer">
											<input type="radio" name="radioOption" id="radioColor1a" value="option1" checked="checked">
											<label for="radioColor1a">Morning</label>
											<input type="radio" name="radioOption" id="radioColor1b" value="option1">
											<label for="radioColor1b">Evening</label>
										</div>
										

							
										   </div><!--.tab-pane-->
										   <div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Submit</button>

									</div>
								</div>
							</div>


								
								</div><!--.tab-content-->

							</div><!--.col-md-9-->
						</div><!--.row-->


	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-tabs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
</html>