<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-general.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Form General</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Complain Box </h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">General</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->


			<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>Post Complain</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
				
						<div class="row example-row">
								<div class="col-md-2">Nature</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="radioer form-inline">
										<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
										<label for="inlineRadio1">Complain</label>
									</div>
									<div class="radioer form-inline">
										<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
										<label for="inlineRadio2">Request</label>
									</div>
									<div class="radioer form-inline">
										<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
										<label for="inlineRadio3">Suggestion</label>
									</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
								<div class="col-md-2">Type</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="radioer form-inline">
										<input type="radio" name="inlineRadioOptions1" id="inlineRadio4" value="option1">
										<label for="inlineRadio4">Society</label>
									</div>
									<div class="radioer form-inline">
										<input type="radio" name="inlineRadioOptions1" id="inlineRadio5" value="option2">
										<label for="inlineRadio5">Indivisual</label>
									</div>
									
								
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-2">Category</div><!--.col-md-3-->
							<div class="col-md-9">
								<select class="selecter" placeholder="Select one">
									<option>Garden</option>
									<option>Lift</option>
									<option>Accounts</option>
									<option>Events</option>
									<option>Community hall</option>
								</select>
							</div><!--.col-md-9-->
						</div><!--.row-->

						<div class="row example-row">
							<div class="col-md-2">Description</div><!--.col-md-3-->
							<div class="col-md-9">
								<div class="inputer">
									<div class="input-wrapper">
										<textarea class="form-control js-auto-size" rows="1" placeholder="Type here"></textarea>
									</div>
								</div>
							</div><!--.col-md-9-->
						</div><!--.row-->

							<div class="form-buttons form-group clearfix">
								<div class="pull-right">
									<button type="submit" class="btn btn-blue">Submit</button>
									<button type="button" class="btn btn-flat btn-default">Cancel</button>
								</div>
							</div>
					</div>
				</div>	
			</div>
		</div>
	</div>

<div class="full-content bg-white margin-top-20">
			<div class="row">
					<div class="col-md-8 col-md-offset-1">

							<h3>Your Complains</h3>

							<div class="comment-body">
								<div class="user">
									<ul class="inline-list dot-seperator">
										<li><a href="#">Evelyn Carter</a></li>
										<li class="small">1 day ago</li>
									</ul>
								</div>
								<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>

								<div class="comment-footer">
									<ul class="inline-list dot-seperator">
										<li class="small">Edit</li>
									
									
									</ul>
								</div>
							</div>

					</div>
			</div>
</div>


<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-teal">
					<a href="panels-ajax.html">
						<span class="state">Panels</span>
						<span>Ajax Panels</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-black">
					<a href="forms-layouts.html">
						<span class="state">Forms</span>
						<span>Layouts</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-general.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
</html>