<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	

	
</head>
<body>
		<!--.nav-bar-container-->
		<div class="content">
		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>TDS <small>E-filling of TDS</small></h1>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>Rules and information for E-filling of TDS</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
					<p>ELECTRONIC FILING OF RETURNS OF TAX DEDUCTED AT SOURCE SCHEME, 2003 *
					  	NOTIFICATION NO. 205/2003 [F.NO. 142/31/2003 TPL], DATED 26-8-2003
						In exercise of the powers conferred by sub-section (2) of section 206 of the Income-tax Act, 1961 (43 of 1961), the Central Board of Direct Taxes hereby specifies the following Scheme for electronic filing of return of tax deducted at source, namely :—
						Short title, commencement and application.
						1. (1) The Scheme may be called the Electronic Filing of Returns of Tax Deducted at Source Scheme, 2003.
						(2) It shall come into force on the date of its publication in the Official Gazette.
						(3) It shall be applicable to all persons filing returns of tax deducted at source on computer media under sub-section (2) of section 206 of the Income-tax Act, 1961.</p>


					<h4>Definitions.</h4>

						<p>In this Scheme, unless the context otherwise requires,—
				         (1)  "Act" means the Income-tax Act, 1961 (43 of 1961);
				         (2)  "Board" means the Central Board of Direct Taxes constituted under the Central Board of Revenues Act, 1963 (54 of 1963);
				         (3)  "computer media" means a floppy (3½ inch and 1.44 MB capacity) or CD-ROM, and includes online data transmission of electronic data to a server designated by e-filing Administrator for this purpose;
				         (4)  "e-deductor" means the person responsible for deduction of tax at source who is required to furnish e-TDS Return under this scheme;
				         (5)  "e-filing Administrator" means an officer not below the rank of Commissioner of Income-tax designated by the Board for the purpose of administration of this scheme;
				         (6)  "e-TDS Intermediary" means a person, being a company, authorised by the Board to act as e-TDS Intermediary under this scheme;
				         (7)  "e-TDS Return" means a return to be filed under section 206 of the Act duly supported by a declaration in Form No. 27A as prescribed under the Rules;
				         (8)  "Rules" means the Income-tax Rules, 1962;
				         (9)  all other words and expressions used herein but not defined and defined in the Act shall have the meanings respectively assigned to them in the Act.</p>


				         <h4>Preparation of e-TDS Return.</h4>
							<p>(1) The e-deductor shall use the relevant Forms prescribed under the Rules for preparing e-TDS Returns.
							(2) The e-deductor shall prepare his e-TDS Return according to the data structure to be provided by the e-filing Administrator.
							(3) While preparing e-TDS Return, the e-deductor shall quote his permanent account number and tax deduction account number as also the permanent account number of all persons in respect of whom tax has been deducted by him except in respect of cases to which the first proviso to sub-section (5A) or the second proviso to sub-section (5B) of section 139A of the Act applies.
							(4) The e-deductor shall ensure that all columns of the Forms of the return for tax deduction at source, prescribed under the Rules, are duly and correctly filled in.
							(5) Each computer media used for preparation of the e-TDS Return shall be affixed with a label indicating name, permanent account number, tax deduction account number and address of the e-deductor, the period to which the return pertains, the Form Number of the return and the volume number of the said media in case more than one volume of such media is used.
							(6) Separate computer media shall be used for each Form of e-TDS Return by the e-deductor.</p>


						<h4>Furnishing of e-TDS Return.</h4>
						<p>(1) The e-deductor shall furnish e-TDS Return on computer media to the e-TDS Intermediary duly supported by a declaration in Form No. 27A, as prescribed in the Rules, in paper format :
						Provided that in case any compression software has been used by the e-deductor for preparing the e-TDS Return, he shall also furnish such compression software along with the e-TDS Return on the same computer media.
						(2) In case the e-deductor has online connectivity with the server of the e-TDS Intermediary, as may be designated by e-filing Administrator for this purpose, he may transmit the electronic data of the e-TDS Return directly to such server and send Form No. 27A on paper format separately to the e-TDS Intermediary.</p>


						
						<h4>Procedure to be followed by e-TDS intermediary.</h4>
						<p>(1) The e-TDS Intermediary shall receive the e-TDS Return from e-deductors along with the declaration in Form No. 27A in paper format.
						(2) The e-TDS Intermediary shall perform format level validation and control checks on the e-TDS Returns received by him and on successful completion of the same, the e-filing Administrator shall issue provisional receipt to the e-deductor.
						(3) The e-TDS Intermediary shall upload the data on e-TDS Return on the server designated by the e-filing Administrator for the purpose of e-TDS Return and check whether the prescribed particulars relating to deposit of the tax deducted at source in bank and the permanent account number of the deductee have been given in the e-TDS Return.
						(4) On successful completion of the check, the data of e-TDS Return shall be transmitted by the e-TDS Intermediary to the e-filing Administrator together with the declaration in Form No. 27A and the provisional receipt issued shall be deemed to be the acknowledgement of the e-TDS Return.
						(5) Where the details of deposit of tax deducted at source in bank, the permanent account number, tax deduction account number or any other relevant details are not given in the e-TDS Return, the e-filing Administrator shall forward a deficiency memo to the e-deductor with a request to remove the deficiencies within seven days of receipt of the same.
						(6) In case the deficiency indicated in the deficiency memo is removed within seven days, the data on e-TDS Return shall be transmitted by the e-TDS Intermediary to the e-filing Administrator and the provisional receipt shall be deemed to be acknowledgement of the e-TDS Return. The date of issue of provisional receipt shall be deemed to be the date of filing of the e-TDS Return.
						(7) In case no deficiency memo is issued by the e-filing Administrator within thirty days of issue of the provisional receipt, the provisional receipt issued shall be deemed to be the acknowledgement of the e-TDS Return and the date of issue of provisional receipt shall be deemed to be the date of filing of e-TDS Return.
						(8) Where the deficiencies indicated in the deficiency memo are not removed by the e-deductor within seven days, the e-TDS Intermediary shall communicate the same to the e-filing Administrator and transmit the data to the e-filing Administrator whereupon Assessing Officer may take action for declaring the return as an invalid return after giving due opportunity to the deductor as required under sub-section (4) of section 206 of the Act.
						(9) In case the defects intimated by the Assessing Officer are rectified within the period of fifteen days or such further period as may be allowed by the Assessing Officer, the date of issue of provisional receipt shall be deemed to be the date of filing of e-TDS Return.</p>


						<h4>General responsibilities of e-TDS Intermediary.</h4>
						<p>(1) The e-TDS Intermediary shall ensure accurate transmission of the e-TDS Return to the e-filing Administrator :
						Provided that the e-TDS Intermediary shall not be responsible for any errors or omissions in the return of tax deducted at source prepared by the e-deductor.
						(2) The e-TDS Intermediary shall retain for a period of one year from the end of the relevant financial year in which the return is required to be filed, the electronic data of the TDS Return in the format as specified by the e-filing Administrator.
						(3) The e-TDS Intermediary shall retain for a period of one year from the end of the relevant financial year in which the return is required to be filed, the information relating to deficiency memo and provisional receipts issued in respect of the returns filed through it.
						(4) The e-TDS Intermediary shall ensure confidentiality of information that comes to his possession during the course of implementation of this scheme, save with the permission of the e-deductor, Assessing Officer or e-filing Administrator.
						(5) The e-TDS Intermediary shall ensure that all his employees, agents, franchisees, etc., adhere to all provisions of this scheme as well as all directions issued by the e-filing Administrator.</p>


						<h4>Powers of e-filing Administrator.</h4>
						<p>Without affecting the generality of the foregoing provisions, the e-filing Administrator shall—
						         (1)  specify the procedures, data structures, formats and standards for ensuring secure capture and transmission of data, for the day to day administration of this scheme;
						         (2)  ensure compliance by e-TDS Intermediary with the technical requirements of this scheme, including review of the functioning of e-return Intermediary, verification of any complaints, scrutinising advertising material issued by them and such other matters as he deems fit.</p>


						<h4>Powers of the Board.</h4>
						<p>The Board may 1 [, after recording the reasons in writing,] revoke the authorisation of an e-filing Intermediary on grounds of improper conduct, misrepresentation, unethical practices, fraud or established lack of service to the e-deductors or such other ground as it may deem fit :
						1 [Provided that the Board shall not revoke the authorisation of an e-filing Intermediary without giving it a reasonable opportunity of being heard.]</p>

			
			</div><!--.panelbody-->
			</div><!--.panel-->
			</div><!--.col-md-12-->
			</div><!--.row-->


		</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->


<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>


</html>

