<div class="col-md-4">
				<div class="card card-news card-black bg-image bg-opaque6 sample-bg-image14">

					<div class="card-heading">
						<a href="#" class="author"><img src="../../assets/globals/img/faces/24.jpg" alt=""></a>
						<h3 class="card-title"><i class="heading-icon fa fa-life-ring"></i> Solutions <small>1h ago</small></h3><!--.card-title-->
					</div><!--.card-heading-->

					<div class="card-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize...</p>
					</div><!--.card-body-->

					<div class="card-footer">
						<ul class="action">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-comment"></i></a></li>
						</ul>
					</div><!--.card-footer-->

				</div><!--.card-->
			</div><!--.col-md-4-->
