<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-dialogs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:24 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - UI Elements Dialogs</title>

	
</head>
<body>

	<!--.nav-bar-container-->

<div class="content">

		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Expense Bills </h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->
	<div class="panel">
		<div class="row">
			<div class="col-md-12">

				
				

				<div class="panel-body">
						<div class="row example-row">
						<div class="col-md-3">Expense Type*</div><!--.col-md-3-->
							<div class="col-md-3">
								<select class="selecter" data-style="btn-cyan">
									<option>select..</option>
									<option>Other</option>
								</select>
							</div>
							<div class="col-md-3">Bank Account*</div><!--.col-md-3-->
							<div class="col-md-3">
								<select class="selecter" data-style="btn-cyan">
									<option>select..</option>
									<option>Other</option>
								</select>
							</div>
						</div><!--.row-->
						<div class="row example-row">
							<div class="col-md-3">Vender*</div><!--.col-md-3-->
							<div class="col-md-3">
								<select class="selecter" data-style="btn-cyan">
									<option>select..</option>
									<option>Other</option>
								</select>
							</div>
							<div class="col-md-3">TDS(%)*</div><!--.col-md-3-->
							<div class="col-md-3">
								<select class="selecter" data-style="btn-cyan">
									<option>select..</option>
									<option>Other</option>
								</select>
							</div>
						</div><!--.row-->
				
					</div><!--.row-->
					</div><!--.panel-body-->
		
					




					<div class="panel-body">
						<form action="#" class="form-horizontal">
							<div class="form-content">
									<div class="form-group">
									<label class="control-label col-md-1">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-1">Amount*</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-1">Date*</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

							</div>
							</div>
								


		<p class="text-grey"><h3>Enter Payment Details</h3></p>


				<div class="row example-row">
							<div class="col-md-9">

								<ul class="nav nav-tabs nav-justified" role="tablist">
									<li class="active"><a href="#tab4_1" data-toggle="tab">Cheque</a></li>
									<li><a href="#tab4_2" data-toggle="tab">Cash</a></li>
									<li><a href="#tab4_3" data-toggle="tab">Draft</a></li>
									<li><a href="#tab4_4" data-toggle="tab">Online payment</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab4_1">
										
										<div class="form-group">
												<label class="control-label col-md-4">Description*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->

											<div class="form-group">
												<label class="control-label col-md-4">Cheque Number*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Bank Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Branch Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->					
											<div class="form-group">
												<label class="control-label col-md-4">Payment Date*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->

									</div><!--.tab-pane-->


									<div class="tab-pane" id="tab4_2">
										 <p class="text-grey">Cash payment details:</p>
											<div class="form-group">

												<label class="control-label col-md-4">Description*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Bank Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Branch Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->					
											<div class="form-group">
												<label class="control-label col-md-4">Payment Date*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->

									</div><!--.tab-pane-->


									<div class="tab-pane" id="tab4_3">
									<p  class="text-grey">Draft Details:</p>
											<div class="form-group">
												
												<label class="control-label col-md-4">Description*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Draft Number*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Bank Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->					
											<div class="form-group">
												<label class="control-label col-md-4">Branch Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Payment Date*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
									</div><!--.tab-pane-->

									<div class="tab-pane" id="tab4_4">
									 <p class="text-grey">Online payment details</p>
											<div class="form-group">
											
												<label class="control-label col-md-4">Description*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Bank Name*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->					
											<div class="form-group">
												<label class="control-label col-md-4">Transaction Number*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
											<div class="form-group">
												<label class="control-label col-md-4">Payment Date*</label>
												<div class="col-md-5">
													<div class="inputer">
														<div class="input-wrapper">
															<input type="text" name="" class="form-control">
														</div>
													</div>
												</div>
											</div><!--.form-group-->
									</div><!--.tab-pane-->
								</div><!--.tab-content-->

							</div><!--.col-md-9-->
						</div><!--.row-->


							<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Submit</button>
										<button type="button" class="btn btn-flat btn-default">Cancel</button>
									</div>
								</div>
							</div>
</div><!--col-->
</div><!--.row-->
</div><!--.panel-->
</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
</html>

