<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

 
  <link rel="apple-touch-icon" href="../assets/apple-touch-icon.png">
  <!-- END SHORTCUT AND TOUCH ICONS -->

  
</head>
<body>

  <!--.nav-bar-container-->

<div class="content">

    <div class="page-header full-content bg-black">
      <div class="row">
        <div class="col-sm-6">
          <h1>FAQ's <small>Frequently Asked Questions</small> </h1>
        </div><!--.col-->
        <div class="col-sm-6">
          <ol class="breadcrumb">
            <li><a href="#"><i class="ion-home"></i></a></li>
            
          </ol>
        </div><!--.col-->
      </div><!--.row-->
    </div><!--.page-header-->

    <h4><a href="E-filling of TDS">Click here For information on E-filling of TDS</a></h4>
     <h4><a href="it return">Click here For information on E-filling of IT return</a></h4>
        

     <div class="row">
      <div class="col-md-12">

      <div class="panel">
      <div class="panel-body">

        <h4>What is registration process and fees?</h4>
        <p>  Upon such memorandum and certified copy being filed, the Registrar shall certify under his hand that the society is registered under this Act. There shall be paid to the Registrar for every such registration a fee of fifty rupees, or such smaller fee as the State Government may, from time to time, direct; and all fees so paid shall be accounted for to the State Government.
        </p><br>


        <h4>recovery of penalty accruing under bye-law.</h4>
          <p>Whenever by any bye-law duly made in accordance with the rules and regulations of the society, or, if the rules do not provide for the making of bye-laws, by any bye-law made at a general meeting of the members of the society convened for the purpose (for the making of which the concurrent votes of three-fifths of the members present at such meeting shall be necessary), any pecuniary penalty is imposed for the breach of any rule or bye-law of the society, such penalty, when accrued, may be recovered in any Court having jurisdiction where the defendants shall reside, or the society shall be situate, as the governing body thereof shall deem expedient.</p>


        <h4>Members liable to be sued as strangers.</h4>
          <p>Any member who may be in arrear of a subscription which according to the rules of the society he is bound to pay, or who shall possess himself or detain any property of the society in a manner or for a time contrary to such rules, or shall injure or destroy any property of the society, may be sued for such arrear or for the damage accruing from such detention, injury, or destruction of property in the manner hereinbefore provided.</p>
        <p>Recovery by successful defendant of costs adjudged. But if the defendant shall be successful in any suit or other proceeding brought against him at the instance of the society, and shall' be adjudged to recover his costs, he may elect to proceed to recover the same from the officer in whose name the suit shall be brought, or from the society, and in the latter case shall have process against the property of the said society in the manner above described.</p>

        <h4>Members guilty of offences punishable as strangers.</h4>

        <p>  Any member of the society who shall steal, purloin, or embezzle any money or other property, or wilfully and maliciously destroy or injure any property of such society, or shall forge any deed, bond, security for money, receipt, or other instrument, whereby the funds of the society may be exposed to loss, shall be subject to the same prosecution, and, if convicted, shall be liable to be punished in like manner, as any person not a member would be subject and liable to in respect of the like offence.</p>

       
        

          </div><!--.panelbody-->
        </div><!--.panel-->
      </div><!--.col-md-12-->
    </div><!--.row-->




        </div><!--.content-->

  <div class="layer-container">

    <!-- BEGIN MENU LAYER -->
    <!-- END OF MENU LAYER -->

    <!-- BEGIN SEARCH LAYER -->
    <!-- END OF SEARCH LAYER -->

    <!-- BEGIN USER LAYER -->
    <!-- END OF USER LAYER -->

  </div><!--.layer-container-->


<!-- BEGIN INITIALIZATION-->
  <script>
  $(document).ready(function () {
    Pleasure.init();
    Layout.init();
  });
  </script>
  <!-- END INITIALIZATION-->

  <!-- BEGIN Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

    ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
    ga('send', 'pageview');
  </script>
  <!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:52 GMT -->
</html>