<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	

	
</head>
<body>
		<!--.nav-bar-container-->
		<div class="content">
		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>IT return <small>E-filling of IT return</small></h1>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>Rules and information for E-filling of IT return</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">
					<p>In exercise of the powers conferred by sub-section (1B) of sections 139 and 139D of the Income-tax Act, 1961 (43 of 1961) read with sub-rule (3) of rule 12 of the Income-tax Rules, 1962 and in supersession of the Electronic Furnishing of Return of Income Scheme, 2004 published in the Gazette of India, Extraordinary, Part II, section 3, sub-section (ii) under the notification of the Government of India, Ministry of Finance (Department of Revenue), Central Board of Direct Taxes vide SO 1073(E) dated the September 30, 2004, except as respects things done, or omitted to be done, the Central Board of Direct Taxes hereby specifies the following scheme, namely :—
					Short title and commencement.
					1. (1) This scheme shall be called the Electronic Furnishing of Return of Income Scheme, 2007.
					(2) It shall come into force on the date of its publication in the Official Gazette.</p>


					<h4>Definitions.</h4>
					<p>In this scheme, unless the context otherwise requires—
					         (a )  "Act" means the Income-tax Act, 1961 (43 of 1961);
					         (b )  "Board" means Central Board of Direct Taxes constituted under the Central Board of Revenues Act, 1963 (54 of 1963);
					          (c )  "digital signature" means a digital signature issued by any Certifying Authority authorised to issue such certificates by the Controller of Certifying Authorities.
					         (d )  "eligible person" means a person who has been allotted a permanent account number and who is required to furnish return of income or return of fringe benefits in Form ITR-1, Form ITR-2, Form ITR-3, Form ITR-4, Form ITR-5, Form ITR-6 or Form ITR-8;
					                Explanation . A firm or a company which, under the provisions of sub-rule (3) of rule 12 of the Income-tax Rules, 1962, is required to furnish the return electronically under digital signature or transmit the data of the return electronically and thereafter to submit the verification of the return in Form ITR-V is also an eligible person for the purposes of this scheme;
					          (e )  "e-Return" means electronically transmitted data of return furnished under this scheme, supported by a duly verified Form ITR-V;
					          (f )  "e-Return Administrator" means an officer, not below the rank of the Commissioner of Income-tax, designated by the Board for the purpose of administration of this scheme;
					         (g )  "e-Return Intermediary" means a person authorised to be an e-Return intermediary under this scheme;
					         (h )  "Form" means the form as set out in Appendix-II of the Income-tax Rules, 1962;
					          (i )  "Registrar" means a person appointed by the Board to act as a Registrar under this scheme;
					          (j )  "rule" means the rules contained in the Income-tax Rules, 1962;
					          (k )  words and expressions used herein but not defined and defined in the Act shall have the meaning respectively assigned to them in the Act.</p>


							<h4>Filing of e-Returns.</h4>
							<p>(1) An eligible person being a company or a firm referred to in clause (a) of proviso to sub-rule (3) of rule 12 of the Income-tax Rules, 1962 or any other eligible person may, at his option, furnish his return of income which he is required to furnish under section 139 or clause (i) of sub-section (1) of section 142 or sub-section (1) of section 148 or section 153A of the Act or return of fringe benefits which he is required to furnish under sub-section (1) or sub-section (2) of section 115WD of the Act for assessment year 2007-08 or any subsequent assessment year, to an e-Return Intermediary who shall digitise the data of such return and transmit the same electronically to a server designated for this purpose by the e-Return Administrator, on or before the due date.
							(2) The eligible person shall submit the duly verified Form ITR-V to the Assessing Officer not later than fifteen days from the issue of the provisional receipt for the electronic data received by the e-Return Administrator and the date on which such receipt is issued shall be deemed to be the date of filing the return.
							(3) Where Form ITR-V is not submitted within the time prescribed in sub-paragraph (2), the date of submitting Form ITR-V shall be deemed to be the date of filing the return.</p>


							<h4>Revised Return of Income.</h4>
							<p>An eligible person as mentioned in paragraph (3) may furnish a revised return of income under sub-section (5) of section 139 of the Act or of fringe benefits under sub-section (4) of section 115WD of the Act for an assessment year under this scheme if he has furnished a return of income or return of fringe benefits for that assessment year under the scheme.</p>


							<h4>Qualifications of an e-Return Intermediary.</h4>
							<p>[ (1) An e-Return Intermediary shall have the following qualifications, namely :—
							 (a)  It must be a public sector company as defined in clause (36A) of section 2 of the Act or any other company in which public are substantially interested within the meaning of clause (18) of section 2 of the Act and any subsidiary of those companies; or
							 (b)  A company incorporated in India, including a bank, having a net worth of rupees one crore or more; or
							  (c)  A firm of Chartered Accountants or Company Secretaries or Advocates, if it has been allotted a permanent account number; or
							 (d)  A Chartered Accountants or Company Secretaries or Advocates or Tax Return Preparers, if he has been allotted a permanent account number; or
							  (e)  A Drawing or Disbursing Officer (DDO) of a Government Department.
							(2) The e-intermediary shall have at least class II digital signature certificate from any of the Certifying Authorities authorized to issue such certificates by the Controller of Certifying Authorities appointed under section 17 of the Information Technology Act, 2002 (21 of 2000).
							(3) The e-intermediary shall have in place security procedure to the satisfaction of e-Return Administrator to ensure that confidentiality of the assessees’ information is properly secured.
							(4) The e-intermediary shall have necessary archival, retrieval and security policy for the e-Returns which will be filed through him, as decided by e-Return Administrator from time to time.
							(5) The e-intermediary or its Principal Officer must not have been convicted for any professional misconduct, fraud, embezzlement or any criminal offence. ]</p>


							<h4>Authorisation of e-Return Intermediary.</h4>
							<p>(1) A person qualifying to be appointed as an e-intermediary shall apply to the Registrar, along with such application fee, as may be decided by e-Return Administrator, from time to time.
							(2) Upon receipt of the application, the Registrar shall verify that the application is complete and duly supported by necessary documents.
							(3) In case of any defect in the application, the Registrar shall intimate the same to the applicant for removing the defects within the period specified in such intimation.
							(4) Applications not satisfying the qualifications specified in paragraph 5 shall not be processed further.
							(5) In case of a valid application the Registrar shall carry out due diligence of the applicant.
							(6) The Registrar shall transmit the application and the ‘due diligence’ report online to the e-Return Administrator and thereafter the e-Return Administrator may issue an appointment order along with the e-Return Intermediary Identification Number (ERIIN) and password to act as an e-Return intermediary.
							(7) The appointment of the e-intermediary shall be valid for a period of two years and may be extended for a further period of two years.
							(8) The Registrar, including his employees, agents, franchisees, etc., shall maintain confidentiality of any information that comes to their possession during the course of implementation of this scheme and shall not part with any such information except with the prior permission of the e-Return Administrator.</p>


							<h4>Refund of security deposit to an e-Return Intermediary under the earlier scheme.</h4>
							<p>Where a person has been appointed as an e-Return Intermediary under the "Electronic Furnishing of Income Scheme, 2004", the security deposit made by him shall be refunded to him by the e-Return Administrator within the time decided by the e-Administrator.</p>


							<h4>Procedure to be followed by the eligible person.</h4>
							<p>An eligible person opting to furnish his return of income under this scheme shall—
							          (i )  ensure that his return of income or fringe benefits falls under this scheme;
							         (ii )  approach and give his consent to any one of the e-Return Inter-mediaries to act as his agent for the purpose of furnishing his e-Return for the relevant assessment year.</p>


﻿
							<h4>Procedure to be followed by e-Return Intermediary.</h4>
							<p>(1) An e-Return Intermediary shall receive the paper return of income, duly verified by the eligible person or shall prepare the return of income on the basis of the documents furnished by the eligible person, as the case may be.
							(2) The intermediary shall upload the completed return of income, after validation of permanent account number, in the format specified by the e-Return Administrator, using his e-Return Intermediary Identification Number (ERIIN).
							(3) The uploaded returns shall be accepted after necessary validations. In respect of each accepted e-Return, a duly filled Form ITR-V shall be generated by the system as a provisional receipt which shall be transmitted to the intermediary.
							(4) The intermediary shall deliver the acknowledgement receipt of the Form ITR-V to the concerned eligible person if the Form ITR-V is collected by him for submission to the Income-tax Department.
							(5) The date of issue of the provisional receipt shall be deemed to be the date of filing of return of income if the Form ITR-V has been filed with the Assessing Officer within fifteen days from the date of issue of the provisional receipt. If the Form ITR-V is filed after fifteen days from the date of uploading the date then the date of filing the Form ITR-V will be the date of filing the return of income.</p>


							<h4>Processing of e-Return.</h4>
							<p>(1) The e-Return shall be processed on priority basis.
							(2) The refund, if any, due to the assessee shall be either credited by the Assessing Officer directly to his bank account, using the Electronic Clearing Services of the Reserve Bank of India or be directly sent to the assessee.</p>


							<h4>Functions and responsibilities of e-Intermediary.</h4>
							<p>The e-Return Intermediary shall—
							         (a )  ensure that the assessee is an eligible person under this scheme;
							         (b )  ensure that the assessee has quoted a correct and valid permanent account number;
							          (c )  ensure that the particulars of advance tax, self-assessment tax and tax deducted at source are in accordance with the documents enclosed;
							         (d )  ensure that the paper return of income has been properly filled in and duly verified by the assessee, and the enclosures required to be filed with the return of income are enclosed;
							          (e )  ensure accuracy of the data entry while transcribing the return of income and during its transmission;
							          (f )  ensure that the electronic portion of the return of income is transmitted on or before the due date for filing the return of income;
							         (g )  ensure that the paper return Form ITR-V is filed with the Assessing Officer having jurisdiction over the concerned assessee;
							         (h )  retain for a period of one year from the end of the relevant assessment year the electronic data of the return of income and the information relating to the provisional receipts issued in respect of the returns filed through it;
							          (i )  provide to the assessee a paper copy of the e-return submitted by e-intermediary and the acknowledgement receipt of Form ITR-V filed to the Assessing Officer;
							          (j )  maintain confidentiality of the information that comes to his possession during the course of implementation of this scheme and shall not part with any such information to any one, except with the prior permission of the assessee or the Assessing Officer;
							          (k )  ensure that all his employees, agents, franchisees, etc., adhere to the provisions of this scheme;
							          (l )  promptly inform the Registrar of any change in the particulars given in the application filed by it for registration;
							         (m )  abide by the instructions issued by the e-Return Administrator, from time to time, for proper implementation of this scheme.</p>


									<h4>e-Return Administrator.</h4>
									<p>(1) The e-Return Administrator shall specify the procedures, formats and standards for ensuring secure capture and transmission of data and shall also be responsible for the day-to-day administration of the scheme.
									(2) The e-Return Administrator shall ensure compliance by the e-Return Intermediaries with the technical requirements of the scheme.
									(3) The e-Return Administrator shall be responsible for evolving and implementing appropriate security, archival and retrieval policies for proper and secure implementation of this scheme.
									Notification No. : 210/2007 [F. No. 142/16/2007-TPL], dated 27-7-2007.</p>




					</div><!--.panelbody-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->


<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>


</html>