<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Form Layouts</title>

	
</head>
<body>
		<!--.nav-bar-container-->
		<div class="content">

		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Maintenance <small>maintenance details</small></h1>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>Maintenance Charge</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							
							<div class="form-group">
									<label class="control-label col-md-3">Phase no.</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select an option</option>
											<option>option1</option>
											<option>option2</option>
										</select>
									</div>
								</div><!--.form-group-->

							<div class="form-group">
									<label class="control-label col-md-3">Flat-type</label>
									<div class="col-md-5">
										<select name="" class="selecter">
											<option>Select flat-type</option>
											<option>type1</option>
											<option>type2</option>
										</select>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Base Amount</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->
								
								<div class="form-group">
									<label class="control-label col-md-3">Sinking Fund</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->
								
								<div class="form-group">
									<label class="control-label col-md-3">Other Fund</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Other Fund Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								
							</div><!--.form-content-->

							<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Add</button>
										
									</div>
								</div>
							</div>
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->
	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->


<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
</html>