<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Form Layouts</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">


<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Member Search <small>Instant Member Search</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
							<li><a href="#"><i class="ion-home"></i></a></li>
						
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->


<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="col-md-3">Member Name </div>
							<div class="col-md-9">

								<div class="inputer">
									<div class="input-wrapper">
										<input type="text" class="form-control" placeholder="Member Name">
									</div>
								</div>
							</div>

							
							
						
				<div class="col-md-3"></div>		
					<div class="col-md-9">
						<button type="button" class="btn btn-cyan pull-center">Search</button>
						<button type="button" class="btn btn-cyan">Search All</button>
					</div>	


					<div class="panel-body">

						<div class="unseen">
							<table class="table table-bordered table-striped table-condensed">
								<thead>
									<tr>
										
										<th class="numeric">Name</th>
										<th class="numeric">Email</th>
										<th class="numeric">Phase</th>
										<th class="numeric">flat</th>
										<th class="numeric">Proffesion</th>
										<th class="numeric">Emeragency No.</th>
										<th class="numeric">Parking No.</th>
										<th class="numeric">No. of family members</th>
								  </tr>
								</thead>
								<tbody>
									<tr>
										
										<td class="numeric">sagar</td>
										<td class="numeric">sagarbc9@gmail.com</td>
										<td class="numeric">c</td>
										<td class="numeric">12</td>
										<td class="numeric">student</td>
										<td class="numeric">420</td>
										<td class="numeric">10</td>
										<td class="numeric">4</td>
									</tr>
									<tr>
										
										<td class="numeric">Sayali</td>
										<td class="numeric">chaudharisg11@gmail.com</td>
										<td class="numeric">a</td>
										<td class="numeric">11</td>
										<td class="numeric">student</td>
										<td class="numeric">410</td>
										<td class="numeric">3</td>
										<td class="numeric">4</td>
									</tr>

									
								</tbody>
							</table>
						</div><!--.unseen-->

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->
</div><!--.content-->
<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
</html>		