<htlm>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Noticeboard </h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="index-2"><i class="ion-home"></i></a></li>
						
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>Notice Form</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Notice Title</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->
								
								<div class="form-group">
									<label class="control-label col-md-3">Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->


								<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Valid Until</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div>
								</div><!--.form-content-->


                        	<div class="form-group">
									<label class="control-label col-md-3">Attached File</label>
									<div class="col-md-5">							
									<input type="file" id="exampleInputFile">
									<p class="help-block">Select a file to add</p>
									</div>
								</div><!--.form-group-->

							<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Post</button>

									</div>
								</div>
							</div>
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
</html>

