<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/panels.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	
	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Notice Board</h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="index-2"><i class="ion-home"></i></a></li>
						
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

<div class="col-md-8">
				<div class="panel">
				
						
						<div class="panel-action">
							<a href="javascript:;" data-toggle="dropdown" id="panelDropdown" class="initially-hidden"></a>
							<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="panelDropdown">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
							<a href="javascript:;" data-toggle="panel"></a>
							<a href="javascript:;" data-toggle="fake-reload"></a>
							<a href="javascript:;" data-toggle="remove"></a>
						</div><!--.panel-action-->
					
						<div class="panel-body">
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
					</div><!--.panel-body-->
				</div><!--.panel-->
							<div class="panel-footer">
							<ul class="wizard clearfix">
								<li class="bs-wizard-prev pull-left"><button class="btn btn-flat btn-default">Previous</button></li>
								<li class="bs-wizard-next pull-right"><button class="btn btn-blue">Next</button></li>
							</ul>
						</div><!--.panel-foter-->
						

			</div><!--.col-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	

	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		SoundPlayer.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/panels-ajax.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
</html>