<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	
	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Owner <small>owner registration</small></h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
					
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">
				<div class="panel bs-wizard bs-wizard-progress">
						<div class="panel-heading">
							<div class="panel-title">
								<h4>Society Member Registration Form</h4>
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
								</div><!--.progress-->
							</div><!--.panel-title-->
						</div><!--.panel-heading-->
						<div class="panel-body">

							<form id="form1" method="post" action="#" class="form-horizontal">

							<div class="row">
								<div class="col-md-12">
									<div class="panel bs-wizard bs-wizard-justified">
										<div class="panel-heading padding-0">
											<div class="panel-title text-center"><h4>JUSTIFIED STEPS</h4></div>
											<ul class="nav nav-justified">
												<li>
													<a href="#form4_tab1" data-toggle="tab">
													<p class="list-group-item-heading">Personal Information</p>
													
													</a>
												</li>
												<li>
													<a href="#form4_tab2" data-toggle="tab">
													<p class="list-group-item-heading">Flat Details</p>
													
													</a>
												</li>
												<li>
													<a href="#form4_tab3" data-toggle="tab">
													<p class="list-group-item-heading">Parking Registration</p>
													
													</a>
												</li>
												<li>
													<a href="#form4_tab4" data-toggle="tab">
													<p class="list-group-item-heading">Login Details</p>
													
													</a>
												</li>
											</ul>
											</div><!--.panel-heading-->
							
						<div class="panel-body">

							<form id="form4" method="post" action="#" class="form-horizontal">
								<div class="tab-content">
									<div class="tab-pane" id="form4_tab1">
										
										<div class="form-group">
											<label class="control-label col-md-4">Firstname</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="firstname" class="form-control" placeholder="your firstname" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Lastname</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="lastname" class="form-control" placeholder="your lastname" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Email</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="email" class="form-control" placeholder="your email address" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Landline no</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="landline no" class="form-control" placeholder="your landline no" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
										
										<div class="form-group">
											<label class="control-label col-md-4">Mobile no</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="mobileno" class="form-control" placeholder="your mobile no" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Date of Birth</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="dob" class="form-control" placeholder="your date of birth" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Gender</label>
											<div class="col-md-5">
												<div class="radioer">
													<input type="radio" name="radioOption" id="radioColor1a" value="option1" checked="checked">
													<label for="radioColor1a">Male</label>
												</div>
												<div class="radioer">
													<input type="radio" name="radioOption" id="radioColor1b" value="option1">
													<label for="radioColor1b">Female</label>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Age</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="age" class="form-control" placeholder="age" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">No of family members</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="no_of_family_members" class="form-control" placeholder="Enter number of family members?" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Profession</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="prof" class="form-control" placeholder="your profession" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Pancard number</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="pan" class="form-control" placeholder="your pancard number" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

									</div><!--.tab-pane-->

									<div class="tab-pane" id="form4_tab2">
										
										<div class="form-group">
											<label class="control-label col-md-4">Phase Name</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="phase" class="form-control" placeholder="Phase Name" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Wing Name/number</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="wing" class="form-control" placeholder="wing" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
									

										<div class="form-group">
											<label class="control-label col-md-4">Floor number</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="floor" class="form-control" placeholder="Floor number" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Flat number</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="flat" class="form-control" placeholder="Flat number" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Flat Type</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="flat" class="form-control" placeholder="Flat Type" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Sq ft</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="sqft" class="form-control" placeholder="How much square ft" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

									</div><!--.tab-pane-->


									<div class="tab-pane" id="form4_tab3">
										
										<div class="form-group">
											<label class="control-label col-md-4">Parking no</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="pno" class="form-control" placeholder="your parking no" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Number of two wheeler</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="twow" class="form-control" placeholder="Number of two wheeler" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Number of four wheeler</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="fourw" class="form-control" placeholder="Number of four wheeler" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->
									
									</div><!--.tab-pane-->

									<div class="tab-pane" id="form4_tab4">
										
										<div class="form-group">
										<label class="control-label col-md-4">Username</label>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" name="email" class="form-control" placeholder="Email" required>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
										<label class="control-label col-md-4">Password</label>
											<div class="inputer">
												<div class="input-wrapper">
													<input id="mirror-password3" type="password" name="password" class="form-control" placeholder="Password" required>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
										<label class="control-label col-md-4">Confirm password</label>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="password" name="rpassword" class="form-control" placeholder="Confirm password" required>
												</div>
											</div>
										</div><!--.form-group-->
									</div><!--.tab-pane-->



								</div><!--.tab-content-->

							</form>

						</div><!--.panel-body-->
						<div class="panel-footer">
							<ul class="wizard clearfix">
								<li class="bs-wizard-prev pull-left"><button class="btn btn-flat btn-default">Previous</button></li>
								<li class="bs-wizard-next pull-right"><button class="btn btn-blue">Next</button></li>
								<li class="bs-wizard-submit pull-right"><button type="submit" class="btn btn-blue">Complete setup</button></li>
							</ul>
						</div><!--.panel-foter-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->


	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		FormsWizard.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-wizard.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:10 GMT -->
</html>