<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Penalty Charges </h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->
<p> Member Penalty Charges</p>
		<div class="row">
			<div class="col-md-12">

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>Penalty Charge Details</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">
								<div class="form-group">
									<label class="control-label col-md-3">Penalty Description</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="integer" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="row example-row">
							<div class="col-md-9">

								<ul class="nav nav-tabs nav-justified" role="tablist">
									<li class="active"><a href="#tab4_1" data-toggle="tab">Fix Amount</a></li>
									<li><a href="#tab4_2" data-toggle="tab">Percentage</a></li>
									
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab4_1">
										
										

												
										<div class="form-group">
									<label class="control-label col-md-3">Minimum due amount </label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

										

									</div><!--.tab-pane-->


									<div class="tab-pane" id="tab4_2">
										
										<div class="form-group">
									<label class="control-label col-md-3">Enter Percentage</label>
									<div class="col-md-5">
										<div class="input-group">
											<span class="input-group-addon">%</span>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div><!--.form-group-->
									</div><!--.tab-pane-->

								
										<div class="form-group">
									<label class="control-label col-md-3">Minimun overdue days</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
								</div>
									</div>
								</div><!--.form-group-->

								
								
								</div>	

								

											<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Add</button>


										</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>