<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

 
  <link rel="apple-touch-icon" href="../assets/apple-touch-icon.png">
  <!-- END SHORTCUT AND TOUCH ICONS -->

  
</head>
<body>

  <!--.nav-bar-container-->

<div class="content">

    <div class="page-header full-content bg-black">
      <div class="row">
        <div class="col-sm-6">
          <h1>Instant Polling </h1>
        </div><!--.col-->
        <div class="col-sm-6">
          <ol class="breadcrumb">
            <li><a href="index-2"><i class="ion-home"></i></a></li>
            
          </ol>
        </div><!--.col-->
      </div><!--.row-->
    </div><!--.page-header-->
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-heading">
            <div  class="text-center"><b>Chairperson</b></div>
            </div><!--.panel-->
      </div><!--.col-md-12-->

    </div><!--.row-->

            <div class="row no-gutters">

              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card card-user-new">
                  <img src="../assets/4.jpg" class="member-image" alt="">
                  <div class="card-body">
                     <h6>Name :James Ramos<br>
                      Building No :2<br>
                      Flat No :1<br>
                      Mob No :9367563589<br>
                      Email Id :abc@gmail.com
                    </h6>

                    <ul class="social-links list-inline">
                      <li><a href="#"><i class="fa fa-github"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div><!--.card-body-->
                  <button type="submit" class="btn btn-blue">Vote</button>


   
                </div><!--.card-->  
                  
              </div><!--.col-md-3-->

              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card card-user-new">
                  <img src="../assets/7.jpg" class="member-image" alt="">
                  <div class="card-body">
                     <h6>Name :James Ramos<br>
                      Building No :2<br>
                      Flat No :1<br>
                      Mob No :9367563589<br>
                      Email Id :abc@gmail.com
                    </h6>
                    <ul class="social-links list-inline">
                      <li><a href="#"><i class="fa fa-github"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div><!--.card-body-->
                  <button type="submit" class="btn btn-blue">Vote</button>
                </div><!--.card-->
              </div><!--.col-md-3-->

              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card card-user-new">
                  <img src="../assets/23.jpg" class="member-image" alt="">
                  <div class="card-body">
              
                    <h6>Name :James Ramos<br>
                      Building No :2<br>
                      Flat No :1<br>
                      Mob No :9367563589<br>
                      Email Id :abc@gmail.com
                    </h6>
                    <ul class="social-links list-inline">
                      <li><a href="#"><i class="fa fa-github"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div><!--.card-body-->
                   <button type="submit" class="btn btn-blue">Vote</button>
                </div><!--.card-->
              </div><!--.col-md-3-->

              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card card-user-new">
                  <img src="../assets/4.jpg" class="member-image" alt="">
                  <div class="card-body">
                   
                     <h6>Name :James Ramos<br>
                      Building No :2<br>
                      Flat No :1<br>
                      Mob No :9367563589<br>
                      Email Id :abc@gmail.com
                    </h6>
                    <ul class="social-links list-inline">
                      <li><a href="#"><i class="fa fa-github"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div><!--.card-body-->
                   <button type="submit" class="btn btn-blue">Vote</button>
                </div><!--.card-->
              </div><!--.col-md-3-->
               <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-heading">
            <div  class="text-center"><b>Secretary</b></div>
            </div><!--.panel-->
      </div><!--.col-md-12-->

    </div><!--.row-->

              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card card-user-new">
                  <img src="../assets/5.jpg" class="member-image" alt="">
                  <div class="card-body">
                  
                    <h6>Name :Eric Santos<br>
                      Building No :2<br>
                      Flat No :1<br>
                      Mob No :9367563589<br>
                      Email Id :abc@gmail.com
                    </h6>
                    <ul class="social-links list-inline">
                      <li><a href="#"><i class="fa fa-github"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div><!--.card-body-->
                   <button type="submit" class="btn btn-blue">Vote</button>
                </div><!--.card-->
              </div><!--.col-md-3-->

              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card card-user-new">
                  <img src="../assets/6.jpg" class="member-image" alt="">
                  <div class="card-body">
                   
                    <h6>Name :Mildred Bennett<br>
                      Building No :2<br>
                      Flat No :1<br>
                      Mob No :9367563589<br>
                      Email Id :abc@gmail.com
                    </h6>
                    <ul class="social-links list-inline">
                      <li><a href="#"><i class="fa fa-github"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div><!--.card-body-->
                   <button type="submit" class="btn btn-blue">Vote</button>
                </div><!--.card-->
              </div><!--.col-md-3-->

              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card card-user-new">
                  <img src="../assets/7.jpg" class="member-image" alt="">
                  <div class="card-body">
                    
                    <h6>Name :Peter Hicks<br>
                      Building No :2<br>
                      Flat No :1<br>
                      Mob No :9367563589<br>
                      Email Id :abc@gmail.com
                    </h6>
                    <ul class="social-links list-inline">
                      <li><a href="#"><i class="fa fa-github"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div><!--.card-body-->
                   <button type="submit" class="btn btn-blue">Vote</button>
                </div><!--.card-->
              </div><!--.col-md-3-->

              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="card card-user-new">
                  <img src="../assets/8.jpg" class="member-image" alt="">
                  <div class="card-body">
                    <h6>Name :Brittany Kelley<br>
                      Building No :2<br>
                      Flat No :1<br>
                      Mob No :9367563589<br>
                      Email Id :abc@gmail.com
                    </h6>
                    <ul class="social-links list-inline">
                      <li><a href="#"><i class="fa fa-github"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div><!--.card-body-->
                   <button type="submit" class="btn btn-blue">Vote</button>

                </div><!--.card->

              </div><!--.col-md-3-->

            </div><!--.row-->

          </div><!--.panel-body-->

        </div><!--.panel-->
      </div><!--.col-md-12-->
    </div><!--.row-->

           
    <div class="layer-container">

    <!-- BEGIN MENU LAYER -->
    <!-- END OF MENU LAYER -->

    <!-- BEGIN SEARCH LAYER -->
    <!-- END OF SEARCH LAYER -->

    <!-- BEGIN USER LAYER -->
    <!-- END OF USER LAYER -->

  </div><!--.layer-container-->

  
  <!-- BEGIN INITIALIZATION-->
  <script>
  $(document).ready(function () {
    Pleasure.init();
    Layout.init();
  });
  </script>
  <!-- END INITIALIZATION-->

  <!-- BEGIN Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

    ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
    ga('send', 'pageview');
  </script>
  <!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:52 GMT -->
</html>