<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-datatables-extensions.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:37 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Datatable Extensions</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-blue-grey">
			<div class="row">
				<div class="col-sm-6">
					<h1>Meeting Tracking</h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Tables</a></li>
						<li><a href="#" class="active">Datatable Extension</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

			<div class="inputer floating-label">
									<div class="input-wrapper">
										<input type="text" class="form-control" id="exampleInput1">
										<label for="exampleInput1">Floating label</label>
									</div>
								</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>Previous Meetings</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<table class="display datatables-tabletools-basic">
							<thead>
								<tr>
									<th>Meeting Date</th>
									<th>Points Discussed</th>
									<th>Conclusion of meeting</th>
								</tr>
							</thead>

							

							<tbody>
								<tr>
								
									<td>2011/04/25</td>
									
									<td>San Francisco</td>
								</tr>
								<tr>
							
							
					
									<td>2011/07/25</td>
									<td>Tokyo</td>
									<td>Tokyo</td>
									
								</tr>
								<tr>
								
									<td>2009/01/12</td>
									<td>Tokyo</td>
									<td>Tokyo</td>
									
								</tr>
								<tr>
									
								<td>2012/03/29</td>
								<td>Tokyo</td>
									<td>Tokyo</td>
										
								</tr>
								<tr>
							
									<td>2008/11/28</td>
									<td>Tokyo</td>
									<td>Tokyo</td>
									
								</tr>
								<tr>
								
									<td>2012/12/02</td>
									<td>Tokyo</td>
									<td>Tokyo</td>
									
								</tr>
								<tr>
							
											
									<td>2012/08/06</td>
									<td>Tokyo</td>
									<td>Tokyo</td>
									
								</tr>
								<tr>
			
												
									<td>2010/10/14</td>
									<td>Tokyo</td>
									<td>Tokyo</td>
									
								</tr>
								<tr>
							
									
								
									<td>2009/09/15</td>
									<td>San Francisco</td>
									<td>San Francisco</td>
								</tr>
								<tr>
								
									
								
									<td>2008/12/13</td>
									<td>San Francisco</td>
									<td>San Francisco</td>
								</tr>
								<tr>
								
																
									<td>2008/12/19</td>
									<td>San Francisco</td>
									<td>San Francisco</td>
								</tr>
								
							
							</tbody>
						</table>

					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->
		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-blue-grey">
					<a href="table-datatables-editor.html">
						<span class="state">Tables</span>
						<span>Datatables Editors</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-indigo">
					<a href="user-profile.html">
						<span class="state">Pages</span>
						<span>User Profile</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
		TablesDataTablesExtensions.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/table-datatables-extensions.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:42 GMT -->
</html>