<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Cloude Society</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Tenant Regitration </h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">Layouts</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-12">

				<div class="panel ">
					<div class="panel-heading">
						<div class="panel-title"><h4>Tenant Regitration</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

						<form action="#" class="form-horizontal">
							<div class="form-content">


								<div class="form-group">
									<label class="control-label col-md-3">Full name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Email address</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="email" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
										<label class="control-label col-md-3">Password </label>
										<div class="col-md-5">
											<div class="inputer">
												<div class="input-wrapper">
													<input type="password" name="password" class="form-control" placeholder="password" required>
												</div>
											</div>
											<div class="inputer">
												<div class="input-wrapper">
													<input type="password" name="confirmPassword" class="form-control" placeholder="confirm password" required>
												</div>
											</div>
										</div>
									</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Mobile Number</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Date Of Birth</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->							

								<div class="form-group">
									<label class="control-label col-md-3">Gender</label>
									<div class="col-md-5">
										<div class="radioer">
											<input type="radio" name="radioOption" id="radioColor1a" value="option1" checked="checked">
											<label for="radioColor1a">Male</label>
										
											<input type="radio" name="radioOption" id="radioColor1b" value="option1">
											<label for="radioColor1b">Female</label>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Date of joining society</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->						


								<div class="form-group">
									<label class="control-label col-md-3">Permanant Address</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<textarea name="" class="form-control"></textarea>
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">No. of Family Members</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="email" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Owner Id</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

								<div class="form-group">
									<label class="control-label col-md-3">Agrrement Date</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
								</div><!--.form-group-->

						
								<div class="form-group">
									<label class="control-label col-md-3">Attached Your Documents</label>
									<div class="col-md-5">							
									<input type="file" id="exampleInputFile">
									<p class="help-block">Select a file to add</p>
									</div>
								</div><!--.form-group-->
							

					<div class="row example-row ">							
							<div class="col-md-9 ">
								<button id="summernote-add" class="btn btn-xs btn-primary button-striped button-full-striped margin-bottom-10 pull-right" type="button">Save </button>
							</div>								
					</div><!--.col-md-9-->
						


								
	</div><!--.form-content--><br>


<!--.Owner Flat Details-->



					<div class="panel ">
							<div class="panel-heading">
								<div class="panel-title"><h4>Owner Flat Details</h4></div>
							</div><!--.panel-heading-->
					<div class="panel-body">


					<div class="form-group">
									<label class="control-label col-md-3">Owner name</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
					</div><!--.form-group-->

					<div class="form-group">
									<label class="control-label col-md-3">Phase Number</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
					</div><!--.form-group-->

					<div class="form-group">
									<label class="control-label col-md-3">Flat Number</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
					</div><!--.form-group-->

					<div class="form-group">
									<label class="control-label col-md-3">Floor Number</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
					</div><!--.form-group-->

					<div class="form-group">
									<label class="control-label col-md-3">Contact Number</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
					</div><!--.form-group-->

					<div class="form-group">
									<label class="control-label col-md-3">Sq. Fit Area</label>
									<div class="col-md-5">
										<div class="inputer">
											<div class="input-wrapper">
												<input type="text" name="" class="form-control">
											</div>
										</div>
									</div>
					</div><!--.form-group-->



<!--.Owner Flat Details end-->


<!--.Parking Details-->

	<div class="panel ">
			<div class="panel-heading">
					<div class="panel-title"><h4>Parking Details</h4></div>
			</div><!--.panel-heading-->
	<div class="panel-body">

	<div class="form-group">
		<label class="control-label col-md-3">Parking Number</label>
			<div class="col-md-5">
				<div class="inputer">
					<div class="input-wrapper">
						<input type="text" name="" class="form-control">
					</div>
				</div>
			</div>
	</div><!--.form-group-->

	<div class="form-group">
		<label class="control-label col-md-3">Vehicle Model Name</label>
			<div class="col-md-5">
				<div class="inputer">
					<div class="input-wrapper">
						<input type="text" name="" class="form-control">
					</div>
				</div>
			</div>
	</div><!--.form-group-->

	<div class="form-group">
		<label class="control-label col-md-3">Vehicle Number</label>
			<div class="col-md-5">
				<div class="inputer">
					<div class="input-wrapper">
						<input type="text" name="" class="form-control">
					</div>
				</div>
			</div>
	</div><!--.form-group-->


						
	
						<div class="row example-buttons">
							<div class="col-md-2">Vehicle Type</div><!--.col-->
							<div class="col-md-5">
								<div class="btn-group">
									
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											Select Vehicle
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">2-Wheeler</a></li>
											<li><a href="#">4-Wheeler</a></li>
										</ul>
									</div><!--.btn-group-->
								</div><!--.btn-group-->
							</div><!--.col-->
						</div><!--.row-->


						<div class="row example-row ">							
							<div class="col-md-9 ">

								<button id="summernote-add" class="btn btn-xs btn-primary button-striped button-full-striped margin-bottom-10" type="button">Add </button>

								<button id="summernote-edit" class="btn btn-xs btn-primary button-striped button-full-striped margin-bottom-10" type="button">Edit </button>

								<button id="summernote-add" class="btn btn-xs btn-primary button-striped button-full-striped margin-bottom-10" type="button">Save </button>
								
							</div><!--.col-md-9-->
						</div><!--.row-->

<!--.Parking Details end-->


							<div class="form-buttons">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn btn-blue">Submit</button>
										<button type="button" class="btn btn-flat btn-default">Cancel</button>
									</div>
								</div>
							</div>
						</form>

					</div><!--.panel-body-->
				</div><!--.panel-->

			</div><!--.col-md-12-->
		</div><!--.row-->

		
								
</body>

</html>