
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-general.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>PLEASURE - Form General</title>

	
</head>
<body>

	<!--.nav-bar-container-->

	<div class="content">

		<div class="page-header full-content bg-black">
			<div class="row">
				<div class="col-sm-6">
					<h1>Meeting Tracking</h1>
				</div><!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#">Forms</a></li>
						<li><a href="#" class="active">General</a></li>
					</ol>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.page-header-->

		<div class="row">
			<div class="col-md-9">
				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title"><h4>Upcomming Meetings</h4></div>
					</div><!--.panel-heading-->
					<div class="panel-body">

										<div class="form-group">
											<label class="control-label col-md-4">Meeting for phase:</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="email" class="form-control" placeholder="your email address" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Points to be discussed:</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="email" class="form-control" placeholder="your email address" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Date:</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="email" class="form-control" placeholder="your email address" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										<div class="form-group">
											<label class="control-label col-md-4">Time:</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="email" class="form-control" placeholder="your email address" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->

										

										<div class="form-group">
											<label class="control-label col-md-4">Venue:</label>
											<div class="col-md-5">
												<div class="inputer">
													<div class="input-wrapper">
														<input type="text" name="email" class="form-control" placeholder="your email address" required>
													</div>
												</div>
											</div>
										</div><!--.form-group-->



					</div><!--.panel-body-->
				</div><!--.panel-->
			</div><!--.col-md-12-->
		</div><!--.row-->

		<div class="footer-links margin-top-40">
			<div class="row no-gutters">
				<div class="col-xs-6 bg-teal">
					<a href="panels-ajax.html">

						<span class="state">Panels</span>
						<span>Ajax Panels</span>
						<span class="icon"><i class="ion-android-arrow-back"></i></span>
					</a>
				</div><!--.col-->
				<div class="col-xs-6 bg-brown">
					<a href="forms-layouts.html">
						<span class="state">Forms</span>
						<span>Layouts</span>
						<span class="icon"><i class="ion-android-arrow-forward"></i></span>
					</a>
				</div><!--.col-->
			</div><!--.row-->
		</div><!--.footer-links-->

	</div><!--.content-->

	<div class="layer-container">

		<!-- BEGIN MENU LAYER -->
		<!-- END OF MENU LAYER -->

		<!-- BEGIN SEARCH LAYER -->
		<!-- END OF SEARCH LAYER -->

		<!-- BEGIN USER LAYER -->
		<!-- END OF USER LAYER -->

	</div><!--.layer-container-->

	
	<!-- BEGIN INITIALIZATION-->
	<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
	<!-- END INITIALIZATION-->

	<!-- BEGIN Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

		ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
		ga('send', 'pageview');
	</script>
	<!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/forms-general.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:26 GMT -->
</html>