<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/pages-search-results.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:28:55 GMT -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>PLEASURE - Search Results</title>

  
</head>
<body>
<div class="content">
     <div class="page-header full-content bg-black">
      <div class="row">
        <div class="col-sm-6">
          <h1>Vendor Detail<small></small></h1>
        </div><!--.col-->
      </div>
      </div>
<div class="container">
  <h2><center>Vendor Inside</center></h2>
             
  <table class="table  table-striped">
    <thead>
      <tr>
        <th>Vender Type</th>
        <th>Name</th>
       
        <th>Contact No</th>
        <th>Gender</th>
         <th>Address</th>
        <th>Date of Birth</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>655445645654</td>
         <td>29/03/1991</td>
         <td>male</td>

      </tr>
      <tr>
         <td>John</td>
        <td>Doe</td>
        <td>655445645654</td>
         <td>29/03/1991</td>
         <td>male</td>
      </tr>
      <tr>
         <td>John</td>
        <td>Doe</td>
        <td>655445645654</td>
         <td>29/03/1991</td>
         <td>male</td>
      </tr>
       <tr>
         <td>John</td>
        <td>Doe</td>
        <td>655445645654</td>
         <td>29/03/1991</td>
         <td>male</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
 <h2><center>Vendor Outside</center></h2>
              
  <table class="table  table-striped">
    <thead>
     <tr>
        <th>Vender Type</th>
        <th>Name</th>
        <th>Contact No</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Owner name</th>
        <th>Flat no</th>
        <th>Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>655445645654</td>
         <td>29/03/1991</td>
         <td>male</td>

      </tr>
      <tr>
         <td>John</td>
        <td>Doe</td>
        <td>655445645654</td>
         <td>29/03/1991</td>
         <td>male</td>
      </tr>
      <tr>
         <td>John</td>
        <td>Doe</td>
        <td>655445645654</td>
         <td>29/03/1991</td>
         <td>male</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="layer-container">

    <!-- BEGIN MENU LAYER -->
    <!-- END OF MENU LAYER -->

    <!-- BEGIN SEARCH LAYER -->
    <!-- END OF SEARCH LAYER -->

    <!-- BEGIN USER LAYER -->
    <!-- END OF USER LAYER -->

  </div><!--.layer-container-->

  
  <!-- BEGIN INITIALIZATION-->
  <script>
  $(document).ready(function () {
    Pleasure.init();
    Layout.init();

  });
  </script>
  <!-- END INITIALIZATION-->

  <!-- BEGIN Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

    ga('create', Pleasure.settings.ga.urchin, Pleasure.settings.ga.url);
    ga('send', 'pageview');
  </script>
  <!-- END Google Analytics -->

</body>

<!-- Mirrored from teamfox.co/themes/pleasure/app/admin1/ui-elements-tabs.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Mar 2015 06:27:25 GMT -->
</html>
