<div class="menu-layer">
			<ul>
				<li data-open-after="true">
					<a href="index-2.html">Home</a>
				</li>
				<li>
					<a href="javascript:;">Registration</a>
					<ul class="child-menu">
						<li><a href="ownerreg">Owner</a></li>
						<li><a href="tenant-reg">Tenant</a></li>
						
					</ul>
				</li>
				<li>
					<a href="javascript:;">User pages</a>
					<ul class="child-menu">
						<li><a href="Notice_Board">Notice Board</a></li>
						<li><a href="Polling">Polling</a></li>
						<li><a href="Event">Event</a></li>

						<li><a href="Committemember-list">Committee Members</a></li>
						
						<li><a href="javascript:;">Meeting track</a>
						<ul class="child-menu">
						<li><a href="Previous_meetings">Previous</a></li>
						<li><a href="upcomming_meeting">Upcoming</a></li>
						</ul>
						</li>
						<li><a href="complain">Complaint</a></li>
						<li><a href="document-repository">Document Repo.</a></li>
						<li><a href="mem-contact-list">Member contacl list</a></li>
						<li><a href="member_search">Search members</a></li>
						<li><a href="FAQ">FAQ's</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">Admin</a>
					<ul class="child-menu">
						<li><a href="Event_generate">Add Event</a></li>
						<li><a href="Noticeboard">Notice board</a></li>
						<li><a href="Vender_form">Add vendor</a></li>
						<li><a href="attend_track">Attendence</a></li>
						<li><a href="bankaccount">Bank account</a></li>
						<li><a href="comite_memberreg">Add committee members</a></li>
						<li><a href="discount_charge">Discounts</a></li>
						<li><a href="emailbroadcast">Send Mails</a></li>
						<li><a href="expence_bill">Expense bills</a></li>
						<li><a href="invoice">Invoices</a></li>
						<li><a href="maintenance_charge">Maintenance charge</a></li>
						<li><a href="member_achievement">Add achievements</a></li>
						<li><a href="nonregular">Non regular inc.</a></li>
						<li><a href="penalty">Add penalty details</a></li>
						
						
					</ul>
				</li>
				
			</ul>
		</div><!--.menu-layer-->