<!DOCTYPE html>
<html>
<head>
  <title>SocietyTheme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/navbarcon.html.erb"%>
<%= render "shared/menulayer.html.erb"%>
<%= render "shared/searchlayer.html.erb"%>
<%= render "shared/userlayer.html.erb"%>
<%= yield %>

</body>
</html>
